<layout name="layout" />
<div class="container">	
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-info"> 
				<div class="panel-heading">
					<h3 class="panel-title"><{$cate|getCatname=###}>；商品&服务-新增
						<div class="btn-group pull-right">
							<a href="__URL__/index/cate/<{$cate}>" class="btn btn-warning btn-xs" >返 回</a>
						</div>
					</h3>
				</div>            		                     
			    <form action="__URL__/insert" method="post" enctype='multipart/form-data'  role="form"> 
            <input type="hidden" name="pid" value="<{$pid}>" /> 
            <input type="hidden" name="cate" value="<{$cate}>" /> 
            <input type="hidden" name="sn" value="<{$c}>" >
                <div class="form-group ">
				    <label for="exampleInputusername" class="col-sm-2 control-label">类别：</label>
				    <div class="col-sm-10">
				        <input type="text" class="form-control" value="<{$cate|getCatname=###}>" placeholder="类别" readonly>
					</div>
				</div>
				<div class="form-group ">
				   <label for="exampleInputusername" class="col-sm-2 control-label">商品&服务：</label>
				   <div class="col-sm-10">
				        <input type="text" class="form-control" name="name" value="" placeholder="商品&服务" >
					</div>
					
				</div>
                <div class="form-group ">
				    <label for="exampleInputusername" class="col-sm-2 control-label">货号：</label>
				    <div class="col-sm-2">
				        <input type="text" class="form-control" name="mark" value="" placeholder="货号" >
					</div>
					<label for="exampleInputusername" class="col-sm-2 control-label">制作周期：</label>
						   <div class="col-sm-2">
						        <input type="text" class="form-control" name="weight" value="" placeholder="制作周期" >
							</div>
				          <label for="exampleInputusername" class="col-sm-2 control-label">库存：</label>
				          <div class="col-sm-2">
				            	<input type="text" class="form-control" name="num" value="999" placeholder="库存" >
						  </div>
				</div>
                			
				<div class="form-group ">
				    <label for="exampleInputusername" class="col-sm-2 control-label">市场价格：</label>
				    <div class="col-sm-2">
				         <input type="text" class="form-control" name="smoney" value="0.0" placeholder="市场价格" >
					</div>					
					<label for="exampleInputusername" class="col-sm-2 control-label">优惠价格：</label>
				    <div class="col-sm-2">
				         <input type="text" class="form-control" name="money" value="0.0" placeholder="优惠价格" >
					</div>
					<label for="exampleInputusername" class="col-sm-2 control-label">物流价格：</label>
				    <div class="col-sm-2">
				         <input type="text" class="form-control" name="wlmoney" value="0.0" placeholder="物流价格" >
					</div>
				  </div>
				   <div class="form-group "><div class="col-sm-12"><{$desc}></div></div>
				   <div class="form-group ">
				          <label for="exampleInputusername" class="col-sm-2 control-label"></label>
				          <div class="col-sm-10">&nbsp;</div>
				   </div>				   
				    <button type="submit" class="btn btn-info" style="margin-left:20px;" >提 交</button></form>                        
			 </div>				                
        </div>
        <div class="col-sm-3">
			<div class="panel panel-primary"> 
				<div class="panel-heading">
					<h3 class="panel-title">分类</h3>
				</div>            		                     
			    <ul class="list-group">
			 		<volist name='arr' id='st' empty="暂无分类">            
			             <li class="list-group-item">
			                <a href="__URL__/add/cate/<{$st.id}>" title="#"><{$st.id}>.<{$st.pid|getCatname=###}>-<{$st.catname}></a>
			             </li>
					 </volist>    
				</ul>                        
			 </div>
			 <div class="panel panel-info"> 
				<div class="panel-heading">
					<h3 class="panel-title"><{$cate|getCatname=###}></h3>
				</div>            		                     
			    <ul class="list-group">
			 		<volist name='data' id='st' empty="暂无产品&服务">            
			             <li class="list-group-item">
			                <a href="__URL__/mod/id/<{$st.id}>" title="#"><{$st.sn}>.<{$st.name}></a>
			             </li>
					 </volist>    
				</ul>                        
			 </div>  
		</div>           
      </div> 
</div>
</div>