<layout name="layout" />
<div class="container">
	<div class="row">
		<div class="col-md-9">
		<h3><{$arr.name}>传图</h3>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-5">
							<form action="__URL__/pic" method="post" enctype='multipart/form-data'  role="form">
				         	<input type="hidden" name="id" value="<{$arr.id}>" />	         
							<img alt="图片" src="__UPLOAD__/<{$_SESSION['qz']}><{$arr.path}><{$arr.img}>" width="100%" >
						</div>						
						<div class="col-md-7">
							<label for="exampleupdateTime">货号：</label>
				            <{$arr.mark}> <br>分类： 
				            <{$arr.cate|getCatname=###}><br>路径：
				            <{$arr.path}><br><br> 
				            <input type="file" name="img">
				            <p>* 建议上传尺寸为：300*200的PNG图片</p>
				            <br> <br>  
				             <button type="submit" class="btn btn-info  pull-left" >提 交</button>
				          </form>
				          <a href="__URL__/index/cate/<{$arr.cate}>" type="button" class="btn btn-warning pull-left">返 回</a>
						</div>
						
					</div>
				</div>
			</div>
				
		</div>		
		<div class="col-md-3">
			<div class="panel panel-primary"> 
				<div class="panel-heading">
					<h3 class="panel-title"><{$cate|getCatname=###}></h3>
				</div>            		                     
			    <ul class="list-group">
			 		<volist name='data' id='st' empty="暂无产品&服务">            
			             <li class="list-group-item">
			                <a href="__URL__/img/id/<{$st.id}>" title="#"><{$st.sn}>.<{$st.name}></a>
			             </li>
					 </volist>    
				</ul>                        
			 </div>		
		</div>
	</div>
</div>	