<layout name="layout" /> 
<nav class="navbar navbar-default" role="navigation">			 
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="__APP__/Admin/Prodservice">商品&服务管理</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			      			      
		<ul class="nav navbar-nav ">		      	
			<form action="__URL__/search " method="post" class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div class="input-group">
						<input type="text" name="search" class="form-control" value="<{$w.search}>" placeholder="商品、货号、描述、优惠价、市场价">
						<span class="input-group-btn">
							 <button type="submit" class="btn btn-default" type="button">Go!</button>
						</span>
					</div>		        					          
				</div>				        
			</form>
			
			
		</ul>
		<ul class="nav navbar-nav navbar-right">		        
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><{$cate}>&nbsp;<{$cate|getCatname=###}> 
		          <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">		            
		            <volist name='arr' id='st' empty="暂无分类">            
                		<li>
                			<a href="__URL__/index/cate/<{$st.id}>" title="#">
                				<{$st.pid|getCatname=###}>-<{$st.catname}>
                			</a>
                		</li>
			    	</volist>  
		          </ul>
		        </li>
		        <li><a href="__URL__/add/cate/<{$cate}>" >添加</a></li>
		    </ul>
	</div>			  
</nav> 
<div class="row">
	<div class="col-md-12">
		<form action="__URL__/order" method="post" >
	         <volist name='data' id='st' empty="没有数据">
	         <div class="panel panel-primary">
	         	<div class="media">
				<a class="media-left" href="#">
					<img src="__UPLOAD__/<{$_SESSION['qz']}><{$st.path}><{$st.img}>" alt="<{$st.img}>" class="img-thumbnail" width="200px">
				</a>
				<div class="media-body">
					<h4 >
						<input type="text" name="sn[<{$st.id}>]" value="<{$st.sn}>"  class="input40"/>
						<{$st.name}>(ID:<{$st.id|}>)
						<a href="__URL__/istj/id/<{$st.id}>/istj/<{$st.istj}>" ><span class="label label-warning"><{$st.istj|getIstj=###}></span></a>
						<br>优惠价：￥<{$st.money}>元（市场价：<s><em>￥<{$st.smoney}>元</em></s>）<br>路径：
						<{$st.path}><br>库存：<{$st.num}>												
					</h4>   
					<div class="btn-group">
						<a href="__URL__/fabu/id/<{$st.id}>/state/<{$st.state}>"  class="btn btn-primary " onclick="return confirm('你确定要更改发布状态吗？如果按钮变为【发布】状态，该产品和服务就不会再前台展示')">
						<{$st.state|getXState=###}></a>
						<a href="__URL__/img/id/<{$st.id}>" class="btn btn-success ">传 图</a>
						<a href="__APP__/Admin/Order/add/id/<{$st.id}>" class="btn btn-warning">下 单</a>						
	                    <a href="__URL__/mod/id/<{$st.id}>" class="btn btn-info ">修 改</a>
	                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			               <span class="caret"></span>
			               <span class="sr-only">Toggle Dropdown</span>
			            </button>
			            <ul class="dropdown-menu" role="menu">			                  
			               <li><a href="__URL__/del/id/<{$st.id}>" onclick="return confirm('你确定要删除这个产品吗？删除后，数据将不可恢复')">删 除</a></li>                 			                 
			            </ul>
					</div>     	            				
				</div>
				<p><b>&nbsp;&nbsp;描述：</b><br>&nbsp;&nbsp;<span class="my-span" title="<{$st.content}>"><{$st.content}></span>  </p>				
			</div>
	         </div>
	         </volist>
	         <input type="submit" name="do_submit" value="批量排序" class="btn btn-info">
	    </form>		
	</div>	
</div>	