<layout name="layout" />     
<!-- Page heading -->
	    <div class="page-head">
	      	<h2 class="pull-left"><i class="icon-tasks"></i> 国家-新增</h2>
						
	        <!-- Breadcrumb -->
	        <div class="bread-crumb pull-right">
	          <a href="index.html"><i class="icon-home"></i> 首页</a> 
	          <span class="divider">/</span> 
	          <a href="__URL__" class="bread-current"> 国家</a>
	          <span class="divider">/</span>  添加
	        </div>
	
	        <div class="clearfix"></div>

	    </div>
<!-- Page heading ends -->


<!-- Matter -->

	 <div class="matter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="widget-content">
                  <div class="padd">
                    <!-- Form starts.  -->
                     <form action="__URL__/insert" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                              
                         <input type="hidden" name="VersionNumber" value="1" />
                         <input type="hidden" name="ManagerId" value="yaolh" />
                         <div class="form-group">
                             <label class="col-lg-4 control-label">CountryName</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='CountryName' placeholder="CountryName">
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">CountryCode</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='CountryCode' placeholder="CountryCode">
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">QuickCode</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='QuickCode' placeholder="QuickCode">
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">Description</label>
                             <div class="col-lg-8"><textarea class="cleditor" name="Description"></textarea></div>
                         </div> <hr />
                         <div class="form-group">
                             <div class="col-lg-offset-1 col-lg-9">
                                 <button type="submit" class="btn btn-primary">添加</button>                       
                             </div>
                         </div>
                     </form>
                  </div>
                </div>                
            </div>  
          </div>
        </div>
    </div>
<!-- Matter ends -->