<layout name="layout" />     
<!-- Page heading -->
	    <div class="page-head">
	      	<h2 class="bread-crumb">
		      
		          <a href="__APP__/Admin"><i class="icon-home"></i> 基础信息</a> 
		          <span class="divider">/</span> 
		          <a href="__URL__" class="bread-current">字典</a>          
		           			      	
		      	<ul class="nav navbar-nav pull-right">			          
			          <li class="dropdown">            
			            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
			               <{$_SESSION['FieldName']}> <i class="icon-retweet"></i>              
			            </a>
			            <ul class="dropdown-menu">
			              	<volist name='arr' id='st'>
							  	<li ><a  href="__URL__/index/FieldName/<{$st.fieldname}>"><{$st.fieldname}></a></li>			  				  
							</volist>
			            </ul>
			          </li>			          	          
		        </ul>
		        
		        <form class="form-inline pull-right" action="__URL__/index" method="post">
					<div class="form-group">
						<input type="text" class="form-control" name="search" value="<{$search}>" placeholder="fieldname">
					</div>
					<button type="submit" class="btn btn-info "><i class="icon-search"> 查询</i></button>					
				 </form> 	       
	      	</h2>	      		        
	        <div class="clearfix"></div>
	    </div>
	<!-- Page heading ends -->

	<!-- Matter -->
	  <div class="matter">
        <div class="container">                   
              <div class="widget">
                <div class="widget-content medias">                 
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>                                                    
                          <th width=10% align="center" bgcolor="#ccc">objecttypecode</th>
                          <th width=10% align="center" bgcolor="#ccc">fieldname</th>
                           <th width=10% align="center" bgcolor="#ccc">fieldvalue</th>
                          <th width=10% align="center" bgcolor="#ccc">displaytext</th>                                                                            
                          <th width=10% align="center" bgcolor="#ccc">displayorder</th>                        
                        </tr>
                      </thead>
                      <tbody>              
					<volist name='data' id='st'>
                        <tr>                          
                          <td><{$st.objecttypecode}></td>
                          <td><{$st.fieldname}></td>
                          <td><b><{$st.fieldvalue}></b></td>
                          <td><b><{$st.displaytext}></b></td>
                          <td><{$st.displayorder}></td>                                                  
                        </tr>
					</volist>				
                      </tbody>
                    </table>
                </div>
              </div>                
        </div>
	</div>
	<!-- Matter ends -->
