<layout name="layout" />     
<!-- Page heading -->
	    <div class="page-head">
	      	<h2 class="pull-left"><i class="icon-tasks"></i> 行业-修改</h2>
						
	        <!-- Breadcrumb -->
	        <div class="bread-crumb pull-right">
	          <a href="index.html"><i class="icon-home"></i> 首页</a> 
	          <span class="divider">/</span> 
	          <a href="__URL__" class="bread-current"> 行业</a>
	          <span class="divider">/</span>  修改
	        </div>
	
	        <div class="clearfix"></div>

	    </div>
<!-- Page heading ends -->


<!-- Matter -->

	 <div class="matter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="widget-content">
                  <div class="padd">
                    <!-- Form starts.  -->
                     <form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                              
                         <input type="hidden" name="TerritoryId" value=<{$data.territoryid}> /> 
                         <div class="form-group">
                             <label class="col-lg-4 control-label">TerritoryId</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control"  value="<{$data.territoryid}>" readonly>
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">ManagerId</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control"  value="<{$data.ManagerId}>" readonly>
                             </div>
                         </div>  
                         <div class="form-group">
                             <label class="col-lg-4 control-label">VersionNumber</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control"  value="<{$data.versionnumber}>" readonly>
                             </div>
                         </div>                          
                         <div class="form-group">
                             <label class="col-lg-4 control-label">TerritoryName</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='TerritoryName' value="<{$data.territoryname}>" placeholder="TerritoryName">
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">Description</label>
                             <div class="col-lg-8"><textarea class="cleditor" name="Description"><{$data.description}></textarea></div>
                         </div> <hr />
                         <div class="form-group">
                             <div class="col-lg-offset-1 col-lg-9">
                                 <button type="submit" class="btn btn-primary">修改</button>                       
                             </div>
                         </div>
                     </form>
                  </div>
                </div>                
            </div>  
          </div>
        </div>
    </div>
<!-- Matter ends -->