     	
     	
     	<div class="foot navbar-bottom list-inline text-center">
         	Copyright <span class="num">&copy;</span> 2016-2018
     		<a target="_blank" href="http://www.xiuliguanggao.com"><b>秀丽广告</b></a> 版权所有<br>
     		<span>IP:<{$_SESSION['ip']}>;浏览器：<{$_SESSION['os']}>-<{$_SESSION['browser']}></span>
     		<p>咨询热线：<{$_SESSION['phone']}><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=<{$_SESSION['qq']}>&amp;site=qq&amp;menu=yes" target="_blank">
				<img border="0" title="在线客服" alt="在线客服" style="margin-top:0px;" src="http://wpa.qq.com/pa?p=2:<{$_SESSION['qq']}>:41"></a>　</p>     	
    	</div>
     </div>
    
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>   
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
 </body>
</html>