<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><{$_SESSION['web']}></title>
    <meta name="keywords" content="<{$_SESSION['keywords']}>" />
	<meta name="description" content="" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <import type="css" file="css.home" />
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="__APP__/Demo"><{$_SESSION['web']}></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse ">
        
          <ul class="nav navbar-nav pull-right">                       
            <li><a href="__APP__/Demo/Servicelist"><span class="glyphicon glyphicon-th-list"> 主营业务</span></a></li>
            <li><a href="__APP__/Demo/About/Hr"><span class="glyphicon glyphicon-user"> 诚聘人才</span></a></li>				
            <li><a href="__APP__/Demo/About/about"><span class="glyphicon glyphicon-phone-alt"></span> 关于我们</a></li>           
            <empty name="_SESSION['isCLogin']">
           		<li><a data-toggle="modal" href="#Login" class="pull-right" >登录</a></li>
          	<else />
          		<li class="divider"></li>
              		<li class="dropdown">
	                 	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                 	<span class="glyphicon glyphicon-user"></span> 欢迎你-<{$_SESSION['realname']}> 
		                 	<span class="caret"></span>
	                 	</a>
	                 	<ul class="dropdown-menu" role="menu">                    
	                    	<li><a href="__APP__/Home/Course/mycourse">我的订单</a></li>
	                    	<li><a href="__APP__/Home/Customer/setpass">修改密码</a></li>
	                		<li class="divider"></li>
	                		<li><a href="__APP__/Home/Login/logout">退出</a></li>
	                	</ul>
             	 </li>
          	</empty>
          </ul>                  
        </div>
      </div>
    </nav>
		
    <div class="container">