<layout name="layout" />
  <ol class="breadcrumb">
    <span>所在位置：</span>
        <li><a href="__APP__/Home/Index/index"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
        <li class="active">我的课程</li>
    <span class="pull-right"><a href="__APP__/Home/Index/index"><button type="button" class="btn btn-warning btn-xs pull-right">返回</button></a></span>
  </ol>
  <div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">我的课程
    	<switch name="_SESSION['isteacher']">
		    <case value="1">（老师）</case>    
		    <default />（学生）
		</switch>
    	
    	</h3>
  	</div>
  	<ul class="list-group">
		  <volist name='arr' id='vo' empty="没有数据">
  			 <li class="list-group-item" >
            	<a href="#"><{$vo.skdate}>(<{$vo.skweek}>):<{$vo.sktime}><br>
            	<{$vo.course}>,上课地点：<{$vo.adress}></a>
				</li>
        	</volist>
	</ul>
  
  
</div>
