<layout name="layout" />
<!-- Page heading -->
<div class="page-head">
	<h2 class="bread-crumb">	      	
	    <a href="__APP__/<{$Think.config.PRODUCT}>"><i class="icon-gift"></i> 权限管理</a> 
		<span class="divider">/</span> 
		<a href="__URL__" class="bread-current"> 岗位</a>          		        	
		<form class="form-inline pull-right" action="__URL__/index" method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="search" value="<{$search}>" placeholder="查询">
			</div>
				<button type="submit" class="btn btn-info "><i class="icon-search"> 查询</i></button>
				<a href="__URL__/add" type="button" class="btn btn-default"><i class="icon-plus"> 添加</i></a>
		</form>    	
	</h2>	      		        
	<div class="clearfix"></div>
</div>
<!-- Page heading ends -->
	
<!-- Matter -->
<div class="matter">
   <div class="container">         
      <div class="widget">               
	     <div class="widget-content referrer">                  
	        <table class="table table-striped table-bordered table-hover">
	               <thead>
		              <tr>
		                <th width=5% align="center" bgcolor="#ccc">顺序</th>
		                <th width=10% align="center" bgcolor="#ccc">岗位</th>
		                <th width=10% align="center" bgcolor="#ccc">部门</th>	                                          
	                    <th width=20% align="center" bgcolor="#ccc">描述</th>                                                                             
	                    <th width=15% align="center" bgcolor="#ccc">更新时间</th>
	                    <th width=25% align="center" bgcolor="#ccc">操作</th>
		               </tr>
	               </thead>
	               <tbody>  
	               <form action="__URL__/order" method="post" >             
					<volist name='data' id='st'>
		               <tr>                          
		                 <td><input type="text" name="sn[<{$st.id}>]" value="<{$st.sn}>"  class="input40"/></td>
		                 <td><{$st.name}></td>
		                 <td><{$st.dept|getName='tp_dept',###}></td>		                 	                          
		                 <td><{$st.desc}></td>
		                 <td><{$st.utime}></td>                         
		                 <td>                              
		                    <a href="__URL__/mod/id/<{$st.id}>" class="btn  btn-warning btn-lg"><i class="glyphicon glyphicon-user"> 角色</i></a>
		                    <a href="__URL__/mod/id/<{$st.id}>" class="btn  btn-default btn-lg"><i class="glyphicon glyphicon-pencil"> 编辑</i></a>		                    
		                    <a href="__URL__/del/id/<{$st.id}>" class="btn  btn-danger btn-lg" onclick="return confirm('你确定要删除？')">
		                       <i class="glyphicon glyphicon-trash"> 删除</i>
		                    </a>
		                  </td>
		                </tr>
					</volist>				
                  </tbody>                                                                                        
	            </table>
	            <div class="widget-foot">
                      	<div class="uni pull-left">
                      		<input type="submit" name="do_submit" value="批量排序" class="btn btn-info">                      		
                      	</div> 
                      	</form>                
                        <ul class="pagination pull-right"><{$page}></ul>
                      
                      <div class="clearfix"></div> 

                    </div>
	         </div>
         </div>
     </div>
</div>