<layout name="layout" />
<div class="container">	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">			 	
			 	<div class="panel-heading">
				    <h3 class="panel-title">新增车辆
					    <div class="btn-group pull-right">
					    	<a href="__APP__/Anshun/Order" class="btn btn-warning btn-xs">返回</a>
					    </div>
				    </h3>
				</div>
			 	<div class="panel-body">
			 		<form action="__URL__/insert" method="post" enctype='multipart/form-data'  role="form">                    
	                     <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">车牌号：</label>
					          <div  class="col-sm-2">
					            <input type="text" class="form-control" name="plateno" value="<{$plateno}>" placeholder="车牌号" readonly>
							  </div>
							  <div  class="col-sm-2">
					            <input type="text" class="form-control" name="color" value="" placeholder="颜色" >
							  </div>
							  <label for="exampleInputusername" class="col-sm-2 control-label">车主姓名：</label>
					          <div  class="col-sm-4">
					            <input type="text" class="form-control" name="owner" value="" placeholder="车主姓名" >
							  </div>
					      </div>
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">识别代号：</label>
					          <div  class="col-sm-4">
					            <input type="text" class="form-control" name="vim" value="" placeholder="识别代号" >
							  </div>
							  <label for="exampleInputusername" class="col-sm-2 control-label">出厂时间：</label>
					          <div  class="col-sm-4">
					            <input type="date" class="form-control" name="ccdate" value="" placeholder="出厂时间" >
							  </div>
					      </div>				
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">品牌车型：</label>
					          <div  class="col-sm-4">
					            <input type="text" class="form-control" name="brand" value="" placeholder="品牌" >
							  </div>
							  <div  class="col-sm-6">
					            <input type="text" class="form-control" name="type" value="" placeholder="车系车款" >
							  </div>
							  
					      </div>
					      
					      <div class="form-group ">
					      	<label for="exampleInputusername" class="col-sm-2 control-label"></label>
					      	<div  class="col-sm-10">&nbsp;</div>
					      </div>
					      <div class="form-group ">					        
					         <button type="submit" class="btn btn-info btn-lg btn-block" >提 交</button>					         
					       </div>  
				   </form>	  
				</div>
			</div>
		</div>                
	</div>
</div>
        
           

