<layout name="layout" />
<div class="starter-template">
     <h3 >项目过程</h3>
         <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
             <br>
             <volist name='arr' id='ar' empty="没有数据">
             <div class="panel panel-default">
			 <div class="panel-heading" role="tab" id="heading<{$ar.id}>">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="#<{$ar.id}>" aria-expanded="true" aria-controls="<{$ar.id}>">
					         <{$ar.proid|getPro=###}></a>
					      </h4>
					    </div>
					    <div id="<{$ar.id}>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<{$pro.id}>">
					      <div class="panel-body">
					       <{$ar.stage}> :<{$ar.state}><br>
					       <{$ar.start}>-<{$ar.end}><br>
					       <{$ar.document}>
					       <div class="well well-sm">
							        <ul class="list-group">
							             <br>
							            <{$ar.id|getQueue}>
							        </ul>
						        </div>
					        
					      </div>
					    </div>
  					</div>
                      
                  </volist>
        </div>
</div>