<layout name="layout" />
<!-- Page heading -->
<div class="page-head">
	<h2 class="bread-crumb">	      	
	    <a href="#"><i class="icon-gift"></i> 权限管理</a> 
		<span class="divider">/</span> 
		<a href="__APP__/<{$Think.config.PRODUCT}>" class="bread-current"> <{$dept|getName='tp_dept',###}></a>
		<span class="divider">/</span>人员         		        			   	
	</h2>	      		        
	<div class="clearfix"></div>
</div>
<!-- Page heading ends -->	
<!-- Matter -->
<div class="matter">
   <div class="container">         
      <div class="widget">               
	     <div class="widget-content referrer">                  
	        <table class="table table-striped table-bordered table-hover">
                  <thead>
                        <tr>                          
                          <th width=10% align="center" bgcolor="#ccc">头像</th>
                          <th width=10% align="center" bgcolor="#ccc">姓名</th>
                          <th width=10% align="center" bgcolor="#ccc">部门</th>
                          <th width=5% align="center" bgcolor="#ccc">登录名(手机号)</th>
                                              
                          <th width=5% align="center" bgcolor="#ccc">类型</th>
                          <th width=5% align="center" bgcolor="#ccc">状态</th>
                          <th width=10% align="center" bgcolor="#ccc">最新登录时间</th>                                                                                                                                                           
                          <th width=10% align="center" bgcolor="#ccc">操作</th>
                        </tr>
                   </thead>
                   <tbody>
					<volist name='data' id='st'>
                        <tr>                     
                          <td><img src="__UPLOAD__/<{$st.img}>"  style="width:40px;max-width: 40px;"/></td>
                          <td><{$st.creditid|getCreditName=###}></td>
                          <td><{$st.dept|getName='tp_dept',###}></td> 
                          <td><{$st.username}></td>                                                
                          <td><{$st.type}></td> 
                          <td><{$st.state}></td>
                          <td><{$st.utime}></td>                                                                       
                          <td>                              
                              <a href="__URL__/mod/id/<{$st.id}>" class="btn  btn-default"><i class="icon-pencil"> 编辑</i></a>
                              <a href="__URL__/del/id/<{$st.id}>" class="btn  btn-danger" onclick="return confirm('点击确定该员工就离职了？')">
                              	<i class="icon-remove"> 离职</i>
                              </a>
                          </td>
                        </tr>
					</volist>
					
                 </tbody>
                </table>
	            <div class="widget-foot">
                      	<div class="uni pull-left">
                      		<input type="submit" name="do_submit" value="批量排序" class="btn btn-info">                      		
                      	</div> 
                      	</form>                
                        <ul class="pagination pull-right"><{$page}></ul>
                      
                      <div class="clearfix"></div> 

                    </div>
	         </div>
         </div>
     </div>
</div>