<layout name="layout" />
<!-- Page heading -->
<div class="page-head">
	<h2 class="bread-crumb">
		<a href="#"><i class="icon-gift"></i> 人员管理</a> 
		<span class="divider">/</span> 
		<a href="__URL__" class="bread-current">员工管理</a> 
		<form class="form-inline pull-right" action="__URL__/index" method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="search" value="<{$search}>" placeholder="查询">
			</div>
			<button type="submit" class="btn btn-info "><i class="icon-search"> 查询</i></button>
			<a href="__URL__/add" type="button" class="btn"><i class="icon-plus"> 添加</i></a>
		</form>  
	</h2>
	<div class="clearfix"></div>
</div>
<!-- Page heading ends -->