<!DOCTYPE html>
<html>
	<head lang="en">
	  <meta charset="UTF-8">
	  <title>太平洋加达互联网中心-产品质量管理平台</title>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <meta name="format-detection" content="telephone=no">
	  <meta name="renderer" content="webkit">
	  <meta http-equiv="Cache-Control" content="no-siteapp" />
	  <link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
	  <style>
	    .header {text-align: center;}
	    .header h1 {font-size: 200%;color: #333;margin-top: 30px;}
	    .header p {font-size: 14px;}
	  </style>
	</head>
	<body>
		<div class="header"><hr /></div>
		<div class="am-g">
		  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
		    <hr>
		    <h1><img alt="" src="__IMAGES__/tpyjd_logo.jpg"><strong>互联网中心</strong> <small>产品质量平台</small></h1>
		    <!--  <div class="am-btn-group">
		      <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
		      <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>
		      <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a>
		    </div>-->
		    <br><br>		
		    <form method="post" action="__URL__/login" class="am-form">
		      <label for="text">用户名:</label>
		      <input type="text" name="username"  value="" placeholder="账号"><br>
		      <label for="password">密码:</label>
		      <input type="password" name="password"  value="" placeholder="密码"><br>
		      <label for="remember-me"><input name="remember-me" type="checkbox"> 记住密码</label>
		      <br />
		      <div class="am-cf">
		        <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-block am-fl">
		        <!--  <input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr"> -->
		      </div>
		    </form>
		    <hr>
		    <p>© 2018 版权所有.</p>
		  </div>
		</div>
	</body>
</html>