<layout name="layout" /> 
<!-- content start -->
<div class="admin-content">
  	<div class="am-cf am-padding">
  		<div class="am-fl am-cf">
  			<strong class="am-text-primary am-text-lg"><a href="__APP__/TestAdmin/Index/index/proid/<{$_SESSION['proid']}>">里程碑</a></strong> / 
  			<small>修改</small>
  		</div>	
  	</div>  
	<div class="am-g">  
	  <div class="am-u-md-9">
	  	 <div class="am-tab-panel am-in">
	  	 	<form action="__URL__/update" method="post" class="am-form am-form-inline" role="form" >
	      	<input type="hidden" name="id" value="<{$data.id}>" />
	      	<input type="hidden" name="table" value="tp_stage" />
		     <div class="am-g am-margin-top">
		          <div class="am-u-sm-2 am-text-right">顺序: </div>
		          <div class="am-u-sm-10"><input type="text" class="form-control" name="sn" value="<{$data.sn}>"></div>
		     </div>		     
		     <div class="am-g am-margin-top">
		          <div class="am-u-sm-2 am-text-right">里程碑: </div>
		          <div class="am-u-sm-10">
		            <input type="text" class="form-control" name="stage" value="<{$data.stage}>" placeholder="里程碑">
		          </div>
		      </div>
		      <div class="am-g am-margin-top">
		          <div class="am-u-sm-2 am-text-right">状态: </div>
		          <div class="am-u-sm-10"><{$state}></div>
		     </div>	
		      <div class="am-g am-margin-top">
		          <div class="am-u-sm-2 am-text-right">结束时间: </div>
		          <div class="am-u-sm-10">		           
		              <div class="am-form-group am-form-icon">
		                <i class="am-icon-calendar"></i>
		                <input type="date" name="end" class="am-form-field am-input-sm" value="<{$data.end}>">
		              </div>		            
		          </div>
		     </div>
		     
		     <div class="am-g am-margin-top">
		     	<div class="am-u-sm-2"></div>
		          	<div class="am-u-sm-10">
			    		<button type="submit" class="am-btn am-btn-primary am-btn-block">提交</button>	
			    	</div>		    
			  </div>	
		     </form>
		 </div>
	  </div>
	  <div class="am-u-md-3">
	  		<ul class="am-list  ">
	          <volist name='stages' id='stage' empty="暂时还没有里程碑，赶快添加吧"> 
	          	<li><a href="__URL__/mod/id/<{$stage.id}>"><span class="am-badge"><{$stage.state}></span> <{$stage.stage}>【<{$stage.end}>】</a></li> 
	          </volist>         
	        </ul>
	  </div>
	</div>
	
	
</div>