<layout name="layout" />
 <!-- content start -->
 <div class="admin-content">
	<div class="row"> 
	  <div class="col-md-9">
	  		<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title"><{$_SESSION['proid']|getPro=###}>
			    	<div class="btn-group pull-right"><a href="__APP__/<{$Think.config.PRODUCT}>"  class="btn btn-warning btn-xs">返 回</a></div>
			    </h3>
			  </div>
			  <div class="panel-body table-responsive">	    	   
			    <ul class="nav nav-pills" role="tablist">
					  <li role="presentation" ><a href="__APP__/<{$Think.config.PRODUCT}>/Stage/index/proid/<{$_SESSION['proid']}>">里程碑
					  <span class="badge"><{$arr.id|countStage=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Risk/index/proid/<{$_SESSION['proid']}>">风险
					  <span class="badge"><{$arr.id|countRisk=###}></span></a></li>
					  <li role="presentation" class="active"><a href="__APP__/<{$Think.config.PRODUCT}>/Prosys/index/proid/<{$_SESSION['proid']}>">涉及系统
					  <span class="badge"><{$arr.id|countProsys=###}></span> </a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Func/func/proid/<{$_SESSION['proid']}>">功能点
					  <span class="badge"><{$arr.id|countProFunc=###}></span></a></li>
					  <li role="presentation" ><a href="__APP__/<{$Think.config.PRODUCT}>/Func/range/proid/<{$_SESSION['proid']}>">范围
					  <span class="badge"><{$arr.id|countRange=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Scene/index/proid/<{$_SESSION['proid']}>/copy/<{$_SESSION['proid']}>">场景
					  <span class="badge"><{$arr.id|countScene=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Case/library/proid/<{$_SESSION['proid']}>">用例
					  <span class="badge"><{$arr.id|countCase=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Rules/index/proid/<{$_SESSION['proid']}>">项目需求</a></li>  
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Index/bug/proid/<{$arr.id}>">禅道BUG
				  <span class="badge"><{$arr.id|countBug=###}></span></a></li>
				</ul>
				<div class="row">
				  <div class="col-md-7">
				  		<div class="panel panel-success">
						  <div class="panel-heading">项目关联平台</div>
						      <ul class="list-group">
						        <volist name='data' id='st' empty="没有数据">
						            <li class="list-group-item"><{$st.sysno}>:<{$st.name}>
						              <div class="btn-group pull-right">
						                <a href="__APP__/<{$Think.config.PRODUCT}>/Path/index/sysid/<{$st.branch}>" class="btn btn-info">路径<{$st.branch|countPath=###}></a>
						                <a href="__URL__/mod/id/<{$st.branch}>" class="btn btn-info"><span class="glyphicon glyphicon-cloud"> 修改</span></a>
						                <a href="__URL__/realdel/id/<{$st.id}>/table/tp_prosys" class="btn btn-info"  onclick="return confirm('你确定要从项目中移除：<{$st.name}>系统吗？')">
						                  	  <span class="glyphicon glyphicon-remove"> 移除</span></a>					                
						              </div>
						            </li>
						        </volist> 
						      </ul>
						</div>
				  </div>
				  <div class="col-md-5">
				  	<ul class="list-group">
						<volist name='syses' id='st' empty="没有数据">
						   <li class="list-group-item"><{$st.sysno}>:<{$st.name}>
						      <a href="__URL__/insert/branch/<{$st.id}>" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-link"> 关联</span></a>
						   </li>
						</volist> 
					</ul>						
				  </div>
				</div>     
			  </div>
	  	</div>   
	  </div>
	  <div class="col-md-3 hidden-xs hidden-sm">	  			  
		  <ul class="list-group">
		    <volist name='pros' id='pro' empty="没有数据"> 			
	           <switch name="pro.id">
					<case value="$arr.id"> <li class="list-group-item list-group-item-warning"></case>					   					    
					<default /><li class="list-group-item ">
				</switch>   
		            <a href="__URL__/index/proid/<{$pro.id}>">
		            	<span class="badge"><{$pro.status|getProst=###}></span><{$pro.name}><span class="badge"><{$pro.id|countProsys=###}></span>
		            </a>           
	            </li>
	        </volist>
	      </ul>	  		 
	  </div> 
	</div> 
</div>

