
<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>网站后台管理系统</title> 
	  <meta name="keywords" content="#" />
	  <meta name="description" content="#" />
	  <import type="css" file="css.mac.bootstrap" />
	  <import type="css" file="css.mac.font-awesome" />
	  <import type="css" file="css.mac.jquery-ui" />
	  <import type="css" file="css.mac.fullcalendar" /> 
	  <import type="css" file="css.mac.prettyPhoto" />
	  <import type="css" file="css.mac.rateit" />  
	  <import type="css" file="css.mac.bootstrap-datetimepicker" />
	  <import type="css" file="css.mac.jquery-cleditor" />
	  <import type="css" file="css.mac.uniform.default" />
	  <import type="css" file="css.mac.bootstrap-switch" />
	  <import type="css" file="css.mac.style" />
	  <import type="css" file="css.mac.widgets" />
	  <style type="text/css">body{background-color: #fff;}</style>  
	  <link rel="shortcut icon" href="__IMAGES__/favicon.ico">
	</head>
	<body>
	
	<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">	  
	    <div class="conjtainer">	      
	      <div class="navbar-header">
			  <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span>菜单</span>
			  </button>			  
			  <a href="index.html" class="navbar-brand hidden-lg">首页</a>
			</div>
	      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         	
	    <ul class="nav navbar-nav pull-left">
	     <li class="dropdown pull-right"> 
	      <a data-toggle="dropdown" class="dropdown-toggle" > <i class="icon-retweet"> 切换平台</i>  :</a>	    
	     </li>
	    </ul>
	        <!-- Links -->
	        <ul class="nav navbar-nav pull-left">
	          <li class="dropdown pull-right">            
	            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
	              <{$_SESSION['prodid']|getProduct=###}> <b class="caret"></b>              
	            </a>
	            <ul class="dropdown-menu">
	              	<volist name='mume' id='st'>
					  	<li ><a  href="__APP__/Admin/WebInfo/changeProd/prodid/<{$st.prodid}>"><{$st.prodid|getProd=###}></a></li>			  				  
					</volist>
	            </ul>
	          </li>	          
	        </ul>
	        
	        <ul class="nav navbar-nav pull-right">
	          <li class="dropdown"> 
	          		<a  class="dropdown-toggle" href="#">
		              <i class="icon-user"> &nbsp; <{$_SESSION['realname']}></i>               
		            </a>
	          </li>
	          <li class="dropdown"> 
	          		<a  class="dropdown-toggle" href="__APP__/Admin">
		              <i class="icon-cogs"></i> 设置              
		            </a>
	          </li>
	           <li class="dropdown"> 
	          		<a  class="dropdown-toggle" href="__APP__/Admin/Login/logout" onclick="return confirm('你确定要退出登录吗？')">
		              <i class="icon-off">  退出 </i>              
		            </a>
	          </li>  
	        </ul>	        
	      </nav>	
	    </div>
	  </div>
	  <header>
	    <div class="container">
	      <div class="row">
	        <div class="col-md-2">
	          <!-- Logo. -->
	          <div class="logo">
	            <h1><a href="#"><{$_SESSION['prodid']|getProduct=###}><span class="bold"></span></a></h1>
	            <p class="meta">网站后台管理系统</p>
	          </div>	          
	        </div>
	
	        <!-- Button section -->
	        <div class="col-md-4">	
	          <!-- Buttons -->
	          <ul class="nav nav-pills">	
	            <!-- Comment button with number of latest comments count -->
	            <li class="dropdown dropdown-big">
	              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
	                <i class="icon-comments"></i> 聊天 <span   class="label label-info">6</span> 
	              </a>	
	                <ul class="dropdown-menu">
	                  <li>
	                    <!-- Heading - h5 -->
	                    <h5><i class="icon-comments"></i> 聊天</h5>
	                    <!-- Use hr tag to add border -->
	                    <hr />
	                  </li>
	                  <li>
	                    <!-- List item heading h6 -->
	                    <h6><a href="#">你好 :)</a> <span class="label label-warning pull-right">10:42</span></h6>
	                    <div class="clearfix"></div>
	                    <hr />
	                  </li>
	                  <li>
	                    <h6><a href="#">你怎么样?</a> <span class="label label-warning pull-right">20:42</span></h6>
	                    <div class="clearfix"></div>
	                    <hr />
	                  </li>	                                  
	                  <li>
	                    <div class="drop-foot">
	                      <a href="#">查看所有</a>
	                    </div>
	                  </li>                                    
	                </ul>
	            </li>
	
	            <!-- Message button with number of latest messages count-->
	            <li class="dropdown dropdown-big">
	              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
	                <i class="icon-envelope-alt"></i> 收件箱 <span class="label label-primary">6</span> 
	              </a>	
	                <ul class="dropdown-menu">
	                  <li>
	                    <!-- Heading - h5 -->
	                    <h5><i class="icon-envelope-alt"></i> 消息</h5>
	                    <!-- Use hr tag to add border -->
	                    <hr />
	                  </li>
	                  <li>
	                    <!-- List item heading h6 -->
	                    <h6><a href="#">你好啊?</a></h6>
	                    <!-- List item para -->
	                    <p>最近咋样啊...</p>
	                    <hr />
	                  </li>
	                  <li>
	                    <h6><a href="#">今天很好啊?</a></h6>
	                    <p>相当好...</p>
	                    <hr />
	                  </li>
	                  <li>
	                    <div class="drop-foot">
	                      <a href="#">查看所有</a>
	                    </div>
	                  </li>                                    
	                </ul>
	            </li>		           
	            <li class="dropdown dropdown-big">
	              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
	                <i class="icon-user"></i> 客户 <span   class="label label-success">6</span> 
	              </a>	
	                <ul class="dropdown-menu">
	                  <li><h5><i class="icon-user"></i> 用户</h5><hr /></li>
	                  <li>
	                    <h6><a href="#">Ravi Kumar</a> <span class="label label-warning pull-right">免费</span></h6>
	                    <div class="clearfix"></div>
	                    <hr />
	                  </li>
	                  <li>
	                    <h6><a href="#">Balaji</a> <span class="label label-important pull-right">高级</span></h6>
	                    <div class="clearfix"></div>
	                    <hr />
	                  </li>
	                  <li>
	                    <h6><a href="#">Kumarasamy</a> <span class="label label-warning pull-right">免费</span></h6>
	                    <div class="clearfix"></div>
	                    <hr />
	                  </li>                  
	                  <li>
	                    <div class="drop-foot">
	                      <a href="__APP__/Admin/User">查看所有</a>
	                    </div>
	                  </li>                                    
	                </ul>
	            </li> 	
	          </ul>	
	        </div>
	
	        <!-- Data section -->	
	        <div class="col-md-6">
	          <div class="header-data">	
	            <!-- Traffic data -->
	            <div class="hdata">
	              <div class="mcol-left">
	                <!-- Icon with red background -->
	                <i class="icon-signal bred"></i> 
	              </div>
	              <div class="mcol-right">
	                <!-- Number of visitors -->
	                <p><a href="#">7000</a> <em>访问</em></p>
	              </div>
	              <div class="clearfix"></div>
	            </div>	
	            <!-- Members data -->
	            <div class="hdata">
	              <div class="mcol-left">
	                <!-- Icon with blue background -->
	                <i class="icon-user bblue"></i> 
	              </div>
	              <div class="mcol-right">
	                <!-- Number of visitors -->
	                <p><a href="#">3000</a> <em>客户</em></p>
	              </div>
	              <div class="clearfix"></div>
	            </div>
	            
	            <!-- Members data -->
	            <div class="hdata">
	              <div class="mcol-left">
	                <!-- Icon with blue background -->
	                <i class="icon-user bblue"></i> 
	              </div>
	              <div class="mcol-right">
	                <!-- Number of visitors -->
	                <p><a href="#">3000</a> <em>线索</em></p>
	              </div>
	              <div class="clearfix"></div>
	            </div>
	
	            <!-- revenue data -->
	            <div class="hdata">
	              <div class="mcol-left">
	                <!-- Icon with green background -->
	                <i class="icon-money bgreen"></i> 
	              </div>
	              <div class="mcol-right">
	                <!-- Number of visitors -->
	                <p><a href="#">5000</a><em>订单</em></p>
	              </div>
	              <div class="clearfix"></div>
	            </div>                        
	
	          </div>
	        </div>
	
	      </div>
	    </div>
	  </header>
	
	<!-- Header ends -->
	
	<!-- Main content starts -->	
	<div class="content">	
	  	<!-- Sidebar -->
	    <div class="sidebar">
	        <div class="sidebar-dropdown"><a href="#">导航</a></div>	
	        <!--- Sidebar navigation -->
	        <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
	        <ul id="nav">
	          <!-- Main menu with font awesome icon -->	
	          <li><a  target="_blank" href="http://www.xiuliguanggao.com/zentao/www"><i class="icon-credit-card"></i> 需求管理</a>	                    	          
	           <li class="has_sub"><a href="#"><i class="icon-shopping-cart"></i> 商品服务 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Admin/Cate">分类管理</a></li>
	              <li><a href="__APP__/Admin/Product">商品&服务管理</a></li>
	              
	            </ul>
	          </li>
	          <li class="has_sub"><a href="#"><i class="icon-gift"></i> 优惠促销 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Admin/Ad">广告管理</a></li>
	              <li><a href="__APP__/Admin/Page">促销活动</a></li>	
	              <li><a href="__APP__/Admin/Voucher">抽奖活动</a></li>	
	              <li><a href="__APP__/Admin/Coupon">优惠券</a></li>              
	              <li><a href="#">线索管理</a></li>	              
	            </ul>
	          </li> 
	          <li class="has_sub"><a href="#"><i class="icon-group"></i> 人员管理 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="#">会员分类</a></li>
	              <li><a href="__APP__/Admin/Customer">客户管理</a></li>
	              <li><a href="__APP__/Admin/Admin">员工管理</a></li>
	              <li><a href="__APP__/Admin/Hr">招聘信息</a></li>
	              <li><a href="__APP__/Admin/Bill">挂账管理</a></li>
	              <li><a href="__APP__/Admin/Credit">征信查询</a></li>
	              
	            </ul>
	          </li> 
	          <li><a  href="__APP__/Admin/Dingdan"><i class="icon-money bgreen"></i> 订单管理</a>
	          <li class="has_sub"><a href="#"><i class="icon-phone"></i> 售后服务 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Admin/Bill">挂账管理</a></li>
	              <li><a href="#">维修申请</a></li>
	            </ul>
	          </li> 	          	 	          
	          <li class="has_sub"><a href="#"><i class="icon-wrench"></i> 车辆维修 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="#">预约</a></li>
	              <li><a href="#">维修</a></li>	              
	            </ul>
	          </li> 
	          <li class="has_sub"><a href="#"><i class="icon-book"></i> 课程信息  <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="#">课程表</a></li>
	              <li><a href="#">开班</a></li>
	              <li><a href="#">排课</a></li>	              
	            </ul>
	          </li>	          	
	          <li class="has_sub"><a href="#"><i class="icon-cog"></i> 设置  <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Admin/Index">系统信息</a></li>
	              <li><a href="__APP__/Admin/Link">友情链接</a></li>
	              <li><a href="__APP__/Admin/Dict">数据字典</a></li>
	              <li><a href="__APP__/Admin/Hr/fabu">招聘发布</a></li>
	              <li><a href="__APP__/Admin/User">用户管理</a></li>
	              <li><a href="__APP__/Admin/Setting/otable">表ID设计</a></li>	              
	            </ul>
	          </li>                               	          
	        </ul>
	    </div>
	
	    <!-- Sidebar ends -->
	<div class="mainbar">
      
	    

	
	