<layout name="layout" />	
<div class="row">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">
				<{$arr.cateid|getCatname=###}>-<b><{$arr.name}></b>
				<a href="__APP__/<{$JC}>/Servicelist/index/cate/<{$arr.cateid}>" class="pull-right">返回分类</a>
			</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-3 ">
				<img src="__UPLOAD__/<{$arr.img}>" alt="<{$arr.img}>"  height="180px">		
			</div>
			<div class="col-md-7 ">
				<h5><{$arr.mark}></h5>
				<h4>名称：<{$arr.name}></h4>
				<switch name="arr.money">
				    <case value="0"><br></case>				    
				    <default />
				    	<h4><b>￥<{$arr.money}></b>(市场价：<s><em>￥<{$arr.smoney}></em></s>)</h4>
						<!--<h4>运费：￥<{$arr.wlmoney}></h4>-->
				</switch>
				<switch name="arr.weight">
				    <case value="0"><br></case>				    
				    <default /><h5><{$arr.weight}></h5>			
				</switch>
				<span class="hidden-md hidden-lg">
					<a href="tel:<{$_SESSION[$JC]['tel']}>" class="btn btn-info btn-xs">咨询预约</a>
				</span>
				<span class="hidden-xs hidden-sm">
					<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=<{$_SESSION[$JC]['qq']}>&amp;site=qq&amp;menu=yes" class="btn-xs" target="_blank">
						<img border="0" title="在线客服" alt="在线客服" style="margin-top:0px;" src="http://wpa.qq.com/pa?p=2:<{$_SESSION[$JC]['qq']}>:41">
					</a>
				</span>
				 <hr>
       			<div id="ckepop" class="col-xs-12 col-md-12">
					<span class="jiathis_txt">分享到：</span>
					<a class="jiathis_button_qzone">QQ空间</a>
					<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>				
				</div><hr>
	
			</div>
												
		</div>
		

		<notempty name="arr.content">
			<div class="panel panel-primary">
				<div class="panel-heading"><h3 class="panel-title">详情介绍：</h3></div>
				<div class="panel-body"><p><{$arr.content}></p></div>						
			</div>
		</notempty>
	</div>
	
</div>


<notempty name="date1">
<div class="row">
    <div class="panel panel-success">
		<div class="panel-heading"><h3 class="panel-title">成功案例<span class="pull-right"><a href="__APP__/<{$JC}>">更多</a></span></h3></div>
		<div class="panel-body">
		<volist name='date1' id='ar' empty="没有数据">
	      	<div class="col-xs-12 col-md-3">
				<div class="thumbnail" >
					<a href="#" >
					     <img data-src="holder.js/100%x180" src="__UPLOAD__/<{$arr.img}>" alt="<{$ar.img}>"  height="180px">
					</a>
					<div class="caption"><{$ar.name}></div>
				</div>
			</div>
		</volist>
		</div>			       		
	</div>					  		 
</div>
</notempty>

	