<layout name="layout" />
  <!-- content start -->
 <div class="admin-content">
	 <div class="row">  
	  <div class="col-md-12">
	  	<div class="panel panel-info">
		  <div class="panel-heading">BUG（<{$_SESSION['proid']|getProNo=###}> ）</div>
		  <div class="panel-body">	  
		    <ul class="nav nav-pills" role="tablist">
				  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Stage/index/proid/<{$arr.id}>">里程碑
				  <span class="badge"><{$arr.id|countId='tp_stage','proid',###}></span></a></li>
				  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Risk/index/proid/<{$arr.id}>">风险
				  <span class="badge"><{$arr.id|countId='tp_risk','proid',###}></span></a></li>
				  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Prosys/index/proid/<{$arr.id}>">涉及系统
				  <span class="badge"><{$arr.id|countId='tp_prosys','proid',###}></span> </a></li>				  
				  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Index/rule/proid/<{$arr.id}>">需求
				  <span class="badge"><{$arr.id|countPRules=###}></span></a></li>
				  <li role="presentation" class="active"><a href="__APP__/<{$Think.config.PRODUCT}>/Index/bug/proid/<{$arr.id}>">禅道BUG
				  <span class="badge"><{$arr.id|countId='bug','project',###}></span></a></li>
			</ul>	
			<div class="panel panel-default">
				<div class="starter-template">             
			        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">               
			         	<volist name='data' id='st' empty="没有BUG">
				            <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading<{$st.id}>">
									<h5 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#<{$st.id}>" aria-expanded="true" aria-controls="<{$st.id}>">						    	                                
							                <{$st.id}>.<{$st.assignedto||getZTUserName=###}>：<{$st.branch|getBranchName=###}>-<{$st.module|getModuleName=###}>:<{$st.title}>
									        <span class='pull-right'>
										        <span class="label label-info"><{$st.status|getBugStauts=###}></span> 										        									         		         	          	                  	         	                	                
							           		</span>															      
									 </h5>
								 </div>
								 <div id="<{$st.id}>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<{$pro.id}>">
									 <div class="panel-body"><ul class="list-group"><{$st.steps}></ul></div>
								</div>
				  			</div>                     
			            </volist>
			        </div>
			     </div> 		
				</div>		
			</div>  	    
		</div>
		</div>
		<div class="col-md-8">
		
		</div>
	</div>
</div>  