<layout name="layout" /> 
 <!-- content start -->
 <div class="admin-content container">
	<div class="am-g">			    		
		<div class="am-u-md-10">
			<a class="navbar-brand" href="#">测试项目</a>
			<form action="__URL__/index " method="post" class="navbar-form navbar-left" role="search">
	        <div class="form-group input-group ">
	          <input  type="text" class="form-control" name="search" value="<{$search}>" placeholder="项目、项目代码">
	          <span class="input-group-btn">
	         	 <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	          </span>
	        </div>        
	      </form>  
		</div>
		<div class="am-u-md-2">	
			<ul class="nav navbar-nav navbar-right">      
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><{$_SESSION['testgp']}>组 <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	          	<volist name='data' id='da' empty="没有数据">
	            	<li><a href="__APP__/<{$Think.config.PRODUCT}>/Index/index/testgp/<{$da.v}>"><{$da.v}>组</a></li>                       	            
	            </volist>
	          </ul>
	        </li>                    
	      </ul>    		    				
		</div>	              
	</div>   

	<table class="am-table am-table-striped am-table-hover table-main">
		<tbody>					      		
			<volist name='arr' id='pro' empty="没有数据"> 	
				<tr>				
					<td  width=90% >
						<a href="__APP__/<{$Think.config.PRODUCT}>/Stage/index/proid/<{$pro.id}>">
							<span class="badge"><{$pro.status|getProst=###}></span><{$pro.name}>
						</a>
					</td>
					<td  width=10%><a href="__APP__/<{$Think.config.PRODUCT}>/Stage/index/proid/<{$pro.id}>" class="btn btn-warning">详情</a></td>					            		
				</tr>
			</volist>					            
		</tbody>					     
	</table>   

</div>
  <!-- content end -->


  