
<switch name="_SESSION['qz']">
	<case value="Xiuli"><include file="Public:xlheader" /></case>
	<case value="Tuocai"><include file="Public:tcheader" /></case>
	<case value="Anshun"><include file="Public:asheader" /></case>
	<case value="Xinda"><include file="Public:xdheader" /></case>
	<case value="Mtsh"><include file="Public:mtheader" /></case>
	<case value="Runzhu"><include file="Public:rzheader" /></case>
	<case value="Demo"><include file="Public:dmheader" /></case>
	<case value="Small"><include file="Public:slheader" /></case>
	<default /><include file="Public:header" />
</switch> 
{__CONTENT__}
<include file="Public:footer" />