<layout name="layout" />	
<div class="row">
	<div class="col-md-9">	
	  	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
		  <ol class="carousel-indicators">	    
			    <volist name='pic' id='st' empty="暂无分类">
			    	<switch name="key">
					    <case value="0"><li data-target="#carousel-example-generic" data-slide-to="<{$key}>" class="active"></li></case>				    
					    <default /><li data-target="#carousel-example-generic" data-slide-to="<{$key}>"></li> 
					</switch>
			    </volist>		    
		  </ol>		
		  <div class="carousel-inner" role="listbox">
		    <volist name='pic' id='st' empty="暂无分类">
		    	<switch name="key">
					<case value="0">
						<div class="item active" >
					      <a href="<{$st['url']}>">
					      	<img src="__UPLOAD__/<{$st['img']}>" alt="__UPLOAD__/<{$st['img']}>" width="100%">
					      </a>
					      <div class="carousel-caption"><{$st[title]}></div>
					    </div>
					</case>				    
					<default />
						<div class="item" >
					      <a href="<{$st['url']}>">
					      	<img src="__UPLOAD__/<{$st['img']}>" alt="__UPLOAD__/<{$st['img']}>" width="100%">
					      </a>
					      <div class="carousel-caption"><{$st[title]}></div>
					    </div>
				</switch>			    		
		    </volist>
		  </div>				  
		</div>  
	  </div>
	<div class="col-md-3 ">
	  	<div class="thumbnail">			
			<img src="__IMAGES__/WechatIMG1.jpeg" alt="__IMAGES__/WechatIMG1.jpeg" width="100%">
			<div class="caption">				
				<h4>扫描二维码关注微信公众号</h4>
				<h3><{$_SESSION[$JC]['web']}></h3>
				<h4>热线:<a href="tel:<{$_SESSION[$JC]['tel']}>"><{$_SESSION['Xiuli']['tel']}></a></h4>
				<h4>手机:<a href="tel:<{$_SESSION[$JC]['phone']}>"><{$_SESSION['Xiuli']['phone']}></a></h4>
				<h4>Q Q:<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=<{$_SESSION[$JC]['qq']}>&amp;site=qq&amp;menu=yes" target="_blank">
					<{$_SESSION[$JC]['qq']}></a>
				</h4>
				<h4>网址:<a href="__URL__/index"><{$_SESSION[$JC]['url']}></a></h4>				       			         
			</div>
		</div>
	</div>
	
	
</div>
<br>

<notempty name="_SESSION['Xiuli']['desc']">
	<div class="row">
		<div class="panel panel-danger">
	         <div class="panel-heading"><h1 class="panel-title">主营业务</h1></div>
	         <div class="panel-body"><p><{$_SESSION[$JC]['desc']}></p></div>
	    </div>  
	</div>
</notempty>

<notempty name="data">
	<div class="row">
	    <div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">推荐服务
				<span class="pull-right">
				<a href="__APP__/<{$JC}>/Servicelist">更多</a></span></h3>
			</div>
			<div class="panel-body">
			<volist name='data' id='ar' empty="没有数据">
		      	<div class="col-xs-12 col-md-3">
					<div class="thumbnail" >
						<a href="__APP__/<{$JC}>/Service/index/id/<{$ar.id}>" >
						     <img data-src="holder.js/100%x180" src="__UPLOAD__/<{$ar.img}>" 
						     alt="<{$ar.img}>"  height="180px">
						</a>
						<div class="caption"><{$ar.name}></div>
					</div>
				</div>
			</volist>
			</div>			       		
		</div>					  		 
	</div>
</notempty>


<notempty name="data1">
	<div class="row">
	    <div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">发光字&广告牌
				<span class="pull-right">
				<a href="__APP__/<{$JC}>/Servicelist/index/cate/2G3ddk">更多</a></span></h3>
			</div>
			<div class="panel-body">
			<volist name='data1' id='ar' empty="没有数据">
		      	<div class="col-xs-12 col-md-3">
					<div class="thumbnail" >
						<a href="__APP__/<{$JC}>/Service/index/id/<{$ar.id}>" >
						     <img data-src="holder.js/100%x180" src="__UPLOAD__/<{$ar.img}>" 
						     alt="<{$ar.img}>"  height="180px">
						</a>
						<div class="caption"><{$ar.name}></div>
					</div>
				</div>
			</volist>
			</div>			       		
		</div>					  		 
	</div>


</notempty>



<notempty name="data2">
	<div class="row">
	    <div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">文印&名片&卡证
				<span class="pull-right">
				<a href="__APP__/<{$JC}>/Servicelist/index/cate/HDC6Vd">更多</a></span></h3>
			</div>
			<div class="panel-body">
			<volist name='data2' id='ar' empty="没有数据">
		      	<div class="col-xs-12 col-md-3">
					<div class="thumbnail" >
						<a href="__APP__/<{$JC}>/Service/index/id/<{$ar.id}>" >
						     <img data-src="holder.js/100%x180" src="__UPLOAD__/<{$ar.img}>" 
						     alt="<{$ar.img}>"  height="180px">
						</a>
						<div class="caption"><{$ar.name}></div>
					</div>
				</div>
			</volist>
			</div>			       		
		</div>					  		 
	</div>

</notempty>



















		


    
  