<layout name="layout" />
<div class="container">	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">			 	
			 	<div class="panel-heading">
				    <h3 class="panel-title">新增车辆
					    <div class="btn-group pull-right">
					    	<a href="#" class="btn btn-warning btn-xs">返回</a>
					    </div>
				    </h3>
				</div>
			 	<div class="panel-body">
			 		<form action="__URL__/insert" method="post" enctype='multipart/form-data'  role="form">                    
	                     <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">车牌号：</label>
					          <div  class="col-sm-10">
					            <input type="text" class="form-control" name="plateno" value="冀E213B9" placeholder="车牌号" readonly>
							  </div>
					      </div>
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">识别代号：</label>
					          <div  class="col-sm-10">
					            <input type="text" class="form-control" name="vim" value="1123781628736182361923" placeholder="识别代号" >
							  </div>
					      </div>
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">出厂时间：</label>
					          <div  class="col-sm-10">
					            <input type="text" class="form-control" name="ccdate" value="2015年5月" placeholder="出厂时间" >
							  </div>
					      </div>
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">车辆品牌：</label>
					          <div  class="col-sm-10">
					            <input type="text" class="form-control" name="brand" value="东风雪铁龙" placeholder="品牌" >
							  </div>
					      </div>
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">车系车款：</label>
					          <div  class="col-sm-10">
					            <input type="text" class="form-control" name="type" value="C3-XR" placeholder="车系车款" >
							  </div>
					      </div>
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">车体颜色：</label>
					          <div  class="col-sm-10">
					            <input type="text" class="form-control" name="color" value="白色" placeholder="颜色" >
							  </div>
					      </div>
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">车主姓名：</label>
					          <div  class="col-sm-10">
					            <input type="text" class="form-control" name="owner" value="贾晓宁" placeholder="车主姓名" >
							  </div>
					      </div>
					      <div class="form-group ">
					      	<label for="exampleInputusername" class="col-sm-2 control-label"></label>
					      	<div  class="col-sm-10">&nbsp;</div>
					      </div>
					      <div class="form-group ">
					         <label for="exampleInputusername" class="col-sm-2 control-label"></label>
					         <button type="submit" class="btn btn-info col-sm-8" >提 交</button>
					         <label for="exampleInputusername" class="col-sm-2 control-label"></label>
					       </div>  
				   </form>	  
				</div>
			</div>
		</div>                
	</div>
</div>
        
           

