<layout name="layout" />
<!-- Page heading -->
<div class="page-head">
	 <h2 class="bread-crumb">
		<a ><i class="icon-shopping-cart"></i> 商品服务</a> 
		<span class="divider">/</span> 
		<a href="__URL__" class="bread-current">分类管理</a> 
		<span class="divider">/</span> 修改
		<a href="__URL__" class="pull-right"><i class="icon-arrow-left"> 返回</i></a>	          
	</h2>
   	<div class="clearfix"></div>
</div>
<!-- Page heading ends -->

<!-- Matter -->
<div class="matter">
   <div class="container">
      <div class="widget-content">
		 <form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                                                       
             <input type="hidden" name="cateId" value="<{$arr.cateid}>" />                        
             <div class="form-group">
                 <label class="col-lg-4 control-label">顺序号</label>
                 <div class="col-lg-8">
                     <input type="text" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="顺序号">
                 </div>
             </div>                       
             <div class="form-group">
                 <label class="col-lg-4 control-label">分类名</label>
                 <div class="col-lg-8">
                    <input type="text" class="form-control" name='catname' value="<{$arr.catname}>" placeholder="请填入分类名">
                 </div>
             </div>
             <div class="form-group">
                <label class="col-lg-4 control-label">父级分类</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name='catname' value="<{$arr.pidcateid|getCatname=###}>" placeholder="父级分类" readonly>
                </div>
             </div>
             <div class="form-group">
                 <label class="col-lg-4 control-label">状态</label>
                 <div class="col-lg-8"><{$state}></div>
             </div><hr />
             <div class="form-group">
                 <div class="col-lg-offset-1 col-lg-9">
                     <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>                       
                 </div>
             </div>
           </form>              
         </div>                
     </div>
</div>
<!-- Matter ends -->