@CHARSET "UTF-8";
/*layout*/
body{
	padding-top:70px;
	padding-bottom:50px;
}
.my-span{  
  
    width: 100px;    
    height: 20px;    
    overflow: hidden;    
    display: block;   
    text-overflow: ellipsis;   
    white-space: nowrap;   
    cursor: pointer;    
}  

/*定位*/
.fl{float:left;}
.fr{float:right;}
.mat2{margin-top:2px;}
.mat3{margin-top:3px;}
.mat5{margin-top:5px;}
.mat8{margin-top:8px;}
.mat10{margin-top:10px;}
.mat15{margin-top:15px;}
.mat20{margin-top:20px;}
.mat25{margin-top:25px;}
.mab5{margin-bottom:5px;}
.mab10{margin-bottom:10px;}
.mab15{margin-bottom:15px;}
.mab20{margin-bottom:20px;}
.mar5{margin-right:5px;}
.mar10{margin-right:10px;}
.mar15{margin-right:15px;}
.mar20{margin-right:20px;}
.mar50{margin-right:100px;}
.mal5{margin-left:5px;}
.mal15{margin-left:15px;}
.mal7{margin-left:6px;}
.mal10{margin-left:10px;}
.padb10{padding-bottom:10px;}
.padt10{padding-top:10px;}
/*字体*/
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:24px;}
.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh24{line-height:24px;}
.lh28{line-height:28px;}
.lh30{line-height:30px;}



textarea{font-size:14px; line-height:24px;border:1px #cecece solid; border-top:1px #707070 solid; border-left:1px #707070 solid; border-radius:2px; padding:2px 5px; background:#fefefe}
.input20{width:20px;}
.input40{width:40px;}
.input50{width:50px;}
.input60{width:60px;}
.input80{width:80px;}
.input100{width:100px;}
.input150{width:150px;}
.input200{width:200px;}
.input250{width:250px;}
.input300{width:300px;}
.input350{width:350px;}
.input400{width:400px;}
.input500{width:500px;}
.input550{width:550px;}
.input600{width:600px;}
.input650{width:650px;}





