@charset "UTF-8";

body{
	font-size:16px;
	color:#666;
	line-height:1.75;
	font-family:'微软雅黑';
	padding-top:60px;
	padding-bottom:50px;
}



.btn-outline{border-color:#1e78e8;background-color:transparent;color:#1e78e8;padding:3px 10px;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.btn-outline-reverse,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover{color:#fff;background-color:#1e78e8}
.btn-outline:hover span.glyphicon{position:relative;left:5px;-webkit-transition:all .3 ease-in-out;transition:all .3 ease-in-out}
.btn-outline.btn-lg{padding:6px 40px}
.btn-outline span{vertical-align:middle}
.btn-outline-reverse{border-color:#1e78e8;padding:3px 10px;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.btn-outline-reverse.btn-lg{padding:6px 40px}


.advantage-list,
.function-list,
.line-section,
.map-section{border-bottom:1px solid #ddd}


.carousel-indicators{text-align:right}
.card,.praise-list .praise,.text-center{text-align:center}

.line-section,.map-section{padding-top:80px;padding-bottom:80px}
.advantage-list{padding:130px 0 110px}
.advantage-list .advantage-bg{display:inline-block;width:156px;height:156px;background-size:contain;background-repeat:no-repeat;background-position:0 0;-webkit-transition:background .3s ease-in-out;transition:background .3s ease-in-out}

.advantage-list .advantage-title{font-size:36px;color:#1e78e8}
.advantage-list .advantage-text{font-size:16px;margin-bottom:20px}
.function-list{padding:70px 0}.function-list .function{padding:30px}
.function-list .function .function-intro{padding-right:50px}
.function-list .function .function-title{font-size:30px;color:#333;margin-bottom:20px}
.function-list .function .function-title span{vertical-align:middle}

.function-list .function .function-title .function-text{font-size:16px;margin-bottom:20px}
.function-list .function .btn{margin-top:30px}
.function-list .function .function-bg{display:none}
.function-list .function .function-bg.animated{display:block}
.footer-banner{padding:120px 0;background:#202020}

.footer-bar{background:#1b1b1b;color:#fff;padding:15px}
.footer-bar .footer-links li{list-style:none;display:inline-block;padding:0 20px;margin:0}
.footer-bar .footer-links li a{color:#fff}
    