<layout name="layout" />
<!-- Page heading -->
<div class="page-head">
	<h2 class="bread-crumb">
		<a href="__APP__/Admin"><i class="icon-home"></i> 优惠促销</a> 
		<span class="divider">/</span> 
		<a href="__URL__" class="bread-current"> 抽奖活动</a>          
		<form class="form-inline pull-right" action="__URL__/index" method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="search" value="<{$search}>" placeholder="查询">
			</div>
			<button type="submit" class="btn btn-info "><i class="icon-search"> 查询</i></button>
			<a href="__URL__/add" type="button" class="btn "><i class="icon-plus"> 添加</i></a>
		</form>  
	</h2>	      		        
		<div class="clearfix"></div>
</div>
<!-- Page heading ends -->
<!-- Matter -->
<div class="matter">
   <div class="container">                  
      <div class="widget">
        <div class="widget-content medias">  
        <table class="table table-striped table-bordered table-hover">
        	<thead>
              <tr>
                <th width=5% align="center" bgcolor="#ccc">类型</th>
                <th width=14% align="left" bgcolor="#ccc">优惠活动</th>
                <th width=3% align="center" bgcolor="#ccc">奖券</th>
                <th width=3% align="center" bgcolor="#ccc">特等奖</th>
                <th width=3% align="center" bgcolor="#ccc">一等奖</th>
                <th width=3% align="center" bgcolor="#ccc">二等奖</th>
                <th width=3% align="center" bgcolor="#ccc">三等奖</th>
                <th width=3% align="center" bgcolor="#ccc">参与奖</th>
                <th width=5% align="center" bgcolor="#ccc">开始</th>
                <th width=5% align="center" bgcolor="#ccc">结束</th>
                <th width=3% align="center" bgcolor="#ccc">状态</th>
                <th width=3% align="center" bgcolor="#ccc">维护</th>
                <th width=7% align="center" bgcolor="#ccc">最后更新</th>
              </tr>
            </thead>
            <tbody>
            	<volist name='arr' id='vo' empty="没有数据">
                     <tr>
                       <td align="center"><{$vo.voucher}></td>
                       <td align="left"><{$vo.title}>
                          <a href="__URL__/mod/id/<{$vo.id}>" class="pull-right">修改</a>                        
                       </td>
                       <td align="center"><a href="__APP__/Admin/Tickets/index/id/<{$vo.id}>"><{$vo.total}></a></td>
                       <td align="center"><a href="__APP__/Admin/Tickets/index/id/<{$vo.id}>"><{$vo.specia}></a></td>
                       <td align="center"><a href="__APP__/Admin/Tickets/index/id/<{$vo.id}>"><{$vo.first}></a></td>
                       <td align="center"><a href="__APP__/Admin/Tickets/index/id/<{$vo.id}>"><{$vo.second}></a></td>
                       <td align="center"><a href="__APP__/Admin/Tickets/index/id/<{$vo.id}>"><{$vo.third}></a></td>
                       <td align="center"><a href="__APP__/Admin/Tickets/index/id/<{$vo.id}>"><{$vo.canyu}></a></td>
                       <td align="center"><{$vo.start}></td>
                       <td align="center"><{$vo.end}></td>
                       <td align="center"><{$vo.state}></td>

                       <td align="center"><{$vo.moder}></td>
                       <td align="center"><{$vo.updatetime}></td>
                    </tr>
                  </volist>
            </tbody>                    
         </table>
         </div>
      </div>  
   </div>
</div>
<!-- Matter ends -->
