<layout name="layout" />
<!-- Page heading -->
<div class="page-head">
	<h2 class="bread-crumb">
		<a href="__APP__/Tpyjd"><i class="icon-cog"></i> 数据对象</a> 
		<span class="divider">/</span> 
		<a href="__URL__" class="bread-current">老CRM表结构</a>
		<span class="divider">/</span> 编辑
        <a href="__URL__" class="pull-right"><i class="icon-arrow-left"> 返回</i></a>
     </h2>
     <div class="clearfix"></div>
</div>
<!-- Page heading ends -->

<!-- Matter -->
<div class="matter">
   <div class="container">
      <div class="widget-content">
		 <form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                                                       
             <input type="hidden" name="id" value="<{$arr.id}>" />                        
             <div class="form-group">
                 <label class="col-lg-4 control-label">name</label>
                 <div class="col-lg-8">
                     <input type="text" class="form-control"  value="<{$arr.name}>" readonly>
                 </div>
             </div>                       
             <div class="form-group">
                 <label class="col-lg-4 control-label">type</label>
                 <div class="col-lg-8">
                    <input type="text" class="form-control"  value="<{$arr.type}>" placeholder="未找到对应字段" readonly>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-lg-4 control-label">nameApi</label>
                 <div class="col-lg-8">
                    <input type="text" class="form-control"  value="<{$arr.nameapi}>" placeholder="未找到对应字段" readonly>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-lg-4 control-label">otable</label>
                 <div class="col-lg-8">
                    <input type="text" class="form-control"  value="<{$arr.otable}>" placeholder="未找到对应字段" readonly>
                 </div>
             </div>
             <div class="form-group">	                          
	                  <label class="col-lg-4 control-label">demo</label>	                          	                          
	                  <div  class=" col-lg-8"><textarea name="demo" class="form-control"><{$arr.demo}></textarea></div>		                          	                          
	         </div>
	         <div class="form-group">
                 <label class="col-lg-4 control-label">usestate</label>
                 <div class="col-lg-8">
                    <input type="text" class="form-control"  value="<{$arr.usestate}>" >
                 </div>
             </div>
	         
	         <div class="form-group">	                          
	                  <label class="col-lg-4 control-label">备注：</label>	                          	                          
	                  <div  class=" col-lg-8"><textarea name="remark" class="form-control"><{$arr.remark}></textarea></div>		                          	                          
	         </div><hr />
             <div class="form-group">
                 <div class="col-lg-offset-1 col-lg-8">
                     <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>                       
                 </div>
             </div>
           </form>              
         </div>                
     </div>
</div>
<!-- Matter ends -->