<layout name="layout" />
<h1 >数据字典</h1> 
  <div class="row">
    <div class="col-sm-10">
        <p class="pull-right visible-xs"><button class="btn-xs btn-primary">tar</button></p>
        <div class="panel panel-default">
            <table class="table table-striped table-bordered table-hover" >
                <tr>
                    <th width=5% align="center" bgcolor="#ccc">Key</th>
                    <th width=15% align="left" bgcolor="#ccc">Value：
                        <span style="float:right;margin-right:5px;">
                            <a href="__URL__/add/type/<{$w.type}>"  ><button type="button" class="btn btn-warning  btn-xs ">添加</button> </a>
                        </span>
                    </th>
                    <th width=5% align="center" bgcolor="#ccc">类型</th>
                    <th width=5% align="center" bgcolor="#ccc">状态</th>
                    <th width=5% align="center" bgcolor="#ccc">维护</th>
                    <th width=10% align="center" bgcolor="#ccc">更新时间</th>
                    <!--  <th width=5% align="center" bgcolor="#ccc">操作 </th>-->
                </tr>
                <volist name='arr' id='ar' empty="没有数据">
                <tr>

                    <td align="center"><{$ar.k}></td>
                    <td align="left"><{$ar.v}>
                        <span style="float:right;margin-right:5px;">
                           <a href="__URL__/mod/id/<{$ar.id}>/type/<{$w.type}>"><button type="button" class="btn btn-warning  btn-xs ">修改</button></a>
                        </span>
                    </td>
                    <td align="center"><{$ar.type}></td>
                    <td align="center"><{$ar.state}></td>
                    <td align="center"><{$ar.moder}></td>
                    <td align="center"><{$ar.updatetime}></td>
                    <!-- <td align="center">
                          <a href="__URL__/del/id/<{$ar.id}>" onclick="return confirm('你确定要删除：<{$ar.v}>？')">删除</a>
                    </td> -->
                </tr>
                </volist>
            </table>
        </div>
    </div>                      
    <div class="col-sm-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">字典</h3>
            </div>            
            <ul class="list-group">
            <volist name='data' id='vo' empty="没有数据">
               <li class="list-group-item" ><a href="__URL__/index/type/<{$vo.type}>""><{$vo.type}></a></li>
            </volist>            
            </ul>                        
        </div>          
    </div>
</div>




              