<layout name="layout" />     
	<div class="row">
        <div class="col-sm-9">
           <div class="panel panel-danger">
             	<div class="panel-heading"><h1 class="panel-title">关于我们</h1></div>
             	<img alt="关于我们" src="__UPLOAD__<{$_SESSION['img']}>" height="400" width="100%">
            </div>
            <div class="panel panel-danger">
             	<div class="panel-heading"><h1 class="panel-title">主营业务</h1></div>
             	<div class="panel-body"><p><{$_SESSION['desc']}></p></div>
            </div>           	
        </div>
        <div class="col-sm-3">
            <div class="panel panel-danger">
             	<div class="panel-heading"><h3 class="panel-title">关于我们</h3></div>            
                <ul class="list-group">
				    <li class="list-group-item"><a href="__APP__/Demo/About/about" title="关于我们">关于我们</a></li>
				    <li class="list-group-item"><a href="__APP__/Demo/About/hr" title="诚聘人才">诚聘人才</a></li>
				</ul> 	                       
            </div>                 
            <div class="panel panel-danger">
             	<div class="panel-heading"><h1 class="panel-title">联系方式</h1></div>
             	<div class="panel-body">           	   
	         		<h3><{$_SESSION['Demo']['web']}></h3>
	         		<dd>地址：<{$_SESSION['Demo']['adress']}></dd>
	         		<dd>热线：<{$_SESSION['Demo']['tel']}></dd>
	         		<dd>手机:<{$_SESSION['Demo']['phone']}></dd>
	         		<dd>网站：<a href="__APP__/Demo"><{$_SESSION['weburl']}></a></dd>             	    	
             	</div>
           </div>
           <div class="panel panel-danger">
             	<div class="panel-heading"><h1 class="panel-title">服务号</h1></div>
             	<div class="panel-body">           	   
	         		<img src="__IMAGES__/WechatIMG1.jpeg" alt="__IMAGES__/WechatIMG1.jpeg" width="100%">            	    	
             	</div>
           </div>
      </div>
    </div>