<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>太平洋加达测试平台</title>
	<metaname="screen-orientation"content="portrait">
	<metaname="x5-orientation"content="portrait">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <import type="css" file="css.home" />    
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="__APP__/Test/Index/index">加达测试管理平台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right" >          
            <li><a href="__APP__/Test/Task/index"><span class="glyphicon glyphicon-time"> 工时</span></a></li>           
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               <span class="glyphicon glyphicon-search"> 测试<span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">                                
                 <li><a href="__APP__/Test/Program/index/testgp/PJD">PJD</a></li>                
               </ul>
           </li>
			<!-- <li><a href="__APP__/Test/About/index"></span> 关于我们</a></li> -->             
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
