<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><{$_SESSION['Anshun']['web']}></title>
    <meta name="keywords" content="<{$_SESSION['keywords']}>" />
	<meta name="description" content="" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap-fileinput/4.3.8/css/fileinput.css" rel="stylesheet">
         
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<div class="container"> 


<switch name="_SESSION['isCLogin']">
		<case value="Anshun">
			<div class="container">	
				<nav class="navbar navbar-default" role="navigation">			 
					<div class="navbar-header">			
						<a class="navbar-brand pull-left" href="__URL__/receive">安顺汽修-<b>收车</b></a>					      	
							<form action="__URL__/search " method="post" class="navbar-form navbar-right" role="search">
								<div class="form-group">
									<div class="input-group">
										<input type="text" name="search" class="form-control" value="<{$search}>" placeholder="车牌号，识别代码">
										<span class="input-group-btn">
											 <button type="submit" class="btn btn-default" type="button">查询</button>
										</span>
									</div>		        					          
								</div>				        
							</form>			
					</div>					  
				</nav> 
				
				<div class="panel panel-default">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">收车交车流程图</h4>
						</div>
						<div class="panel-body">
							<img alt="__IMAGES__/receive.jpg" src="__IMAGES__/receive.png" width="100%">					
						</div>
					</div>
				</div><br><br><br>
			</div>
		</case>				    
		<default />
			<div class="container"><br><br><br>
				<div class="modal-content">
			    	<div class="modal-header">				        、
				        <h4 class="modal-title" >登录</h4>
				    </div>
				    <div class="modal-body">
				      	<form action="__APP__/Anshun/Login/login" method="post" class="form-horizontal" role="form" >	      	
							<div class="form-group">
								<label for="short" class="col-sm-2 control-label">手机:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="phone" value="" placeholder="用户名">
								</div>
							</div>
							<div class="form-group">
								<label for="product" class="col-sm-2 control-label">密码:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" name="password" value="" placeholder="密码">
								</div>
							</div>
													
					</div>
					<div class="modal-footer">					          
					     <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button></form>
					</div>
			    </div><br><br><br><br><br>
			</div>
								
</switch>




			
			

     	<div class="foot navbar-bottom list-inline text-center">
         	Copyright <span class="num">&copy;</span> 2016-2017
     		<a target="_blank" href="http://www.xiuliguanggao.com"><b>临城-秀丽广告</b></a> 版权所有<br>
     		IP:<{$_SESSION['ip']}>;浏览器：<{$_SESSION['os']}>-<{$_SESSION['browser']}></span>
     		<p>咨询热线：<a href="tel:<{$_SESSION['Anshun']['phone']}>"><{$_SESSION['Anshun']['phone']}></a></p>    	
    	</div>
     </div>

	
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>    
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-fileinput/4.3.8/js/fileinput.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>      
    
     </body>
</html>