<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><{$_SESSION['Anshun']['web']}></title>
    <meta name="keywords" content="<{$_SESSION['keywords']}>" />
	<meta name="description" content="" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">  
    
  </head>
  <body>
<div class="container"> 

<switch name="_SESSION['isCLogin']">
		<case value="Anshun">
			<div class="container">	
				<nav class="navbar navbar-default">				 	
					<div class="navbar-header">					      
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    <a class="navbar-brand" href="__URL__/servicelist">安顺汽修【<{$state}>】</a>
					</div>					 				      
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
					<ul class="nav navbar-nav navbar-right">
						 <li><a href="__URL__/servicelist/state/已预约"> &nbsp;&nbsp; 已预约 &nbsp;&nbsp;</a></li>
						 <li><a href="__URL__/servicelist"> &nbsp;&nbsp; 待维修 &nbsp;&nbsp;</a></li>
						 <li><a href="__URL__/servicelist/state/修理中"> &nbsp;&nbsp; 修理中 &nbsp;&nbsp;</a></li>
						 <li><a href="__URL__/servicelist/state/已完工"> &nbsp;&nbsp; 已完工 &nbsp;&nbsp;</a></li>
					</ul>      
					    
				   </div>
				</nav>

				<volist name='arr' id='st' empty="没有数据">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								<empty name="st.carid">
									<a href="tel:<{$st.phone}>"><{$st.phone}></a>
								<else /> 
									<{$st.carid|getCarinfo=###}>
								</empty> 
																
								<span class="bage pull-right"><{$st.state}></span>
							</h4>
						</div>
						<div class="panel-body">											        
							收车时间：<{$st.sdate}><br>
							<div class="col-xs-12 col-md-4">
								<div class="thumbnail" >
									<a href="__URL__/imgservice/id/<{$st.id}>" >
										<img data-src="holder.js/100%x180" src="__UPLOAD__<{$st.pathservice}><{$st.imgservice}>" alt="<{$st.imgservice}>"  height="180px">
									</a>
									<div class="caption">维修：<{$st.textservice}></div>
								</div>
							</div>
							<div class="col-xs-12 col-md-4">
								<div class="thumbnail" >
									<a href="__URL__/imgoil/id/<{$st.id}>" >
										<img data-src="holder.js/100%x180" src="__UPLOAD__<{$st.pathoil}><{$st.imgoil}>" alt="<{$st.imgoil}>"  height="180px">
									</a>
									<div class="caption">里程：<{$st.oilgauge}>&nbsp;油量：<{$st.oilgauge}></div>
								</div>
							</div>
							
								<switch name="st.state">
								    <case value="已预约">
									    <div class="btn-group">
									    	<a href="__URL__/imgservice/id/<{$st.id}> " class="btn btn-success btn-lg ">
									    		<span class="glyphicon glyphicon-folder-open">拍照</span>
									    	</a>
									    	<a href="__URL__/weixiu/id/<{$st.id}> " class="btn btn-primary btn-lg">
									    		<span class="glyphicon glyphicon-wrench">维修</span>
									    	</a>
									    	<a href="__URL__/quxiao/id/<{$st.id}> " class="btn btn-warning btn-lg">
									    		<span class="glyphicon glyphicon-remove">取消</span>
									    	</a>
									    </div>
								    </case>
								    <case value="修理中">
									    <div class="btn-group pull-right">	
									    	<a href="__URL__/wangong/id/<{$st.id}> " class="btn btn-primary btn-lg btn-block">
									    		<span class="glyphicon glyphicon-ok"> 完工</span>
									    	</a>
									    </div>
								    </case>
								    <case value="已完工">
									    <div class="btn-group pull-right">	
									    	<a href="__URL__/jiaoche/id/<{$st.id}> " class="btn btn-success btn-lg btn-block">
									    		<span class="glyphicon glyphicon-ice-lolly"> 交车</span>
									    	</a>
									    </div>
								    </case>
								    <default />
									    <div class="btn-group">	
									    	<a href="__URL__/imgservice/id/<{$st.id}> " class="btn btn-success btn-lg">
									    		<span class="glyphicon glyphicon-folder-open">拍照</span>
									    	</a>
									    	<a href="__URL__/weixiu/id/<{$st.id}> " class="btn btn-primary btn-lg">
									    		<span class="glyphicon glyphicon-wrench">维修</span>
									    	</a>
									    	<a href="__URL__/quxiao/id/<{$st.id}> " class="btn btn-warning btn-lg">
									    		<span class="glyphicon glyphicon-remove">取消</span>
									    	</a>
									    </div>
								</switch>																							
							</div> 
						</div>
					</div>
				</volist>
			</div>	
		</case>				    
		<default />
			<div class="container"><br><br><br>
				<div class="modal-content">
			    	<div class="modal-header">				        、
				        <h4 class="modal-title" >登录</h4>
				    </div>
				    <div class="modal-body">
				      	<form action="__APP__/Anshun/Login/login" method="post" class="form-horizontal" role="form" >	      	
							<div class="form-group">
								<label for="short" class="col-sm-2 control-label">手机:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="phone" value="" placeholder="用户名">
								</div>
							</div>
							<div class="form-group">
								<label for="product" class="col-sm-2 control-label">密码:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" name="password" value="" placeholder="密码">
								</div>
							</div>
													
					</div>
					<div class="modal-footer">					          
					     <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button></form>
					</div>
			    </div><br><br><br><br><br>
			</div>
</switch>


     	<div class="foot navbar-bottom list-inline text-center">
         	Copyright <span class="num">&copy;</span> 2016-2017
     		<a target="_blank" href="http://www.xiuliguanggao.com"><b>临城-秀丽广告</b></a> 版权所有<br>
     		IP:<{$_SESSION['ip']}>;浏览器：<{$_SESSION['os']}>-<{$_SESSION['browser']}></span>
     		<p>咨询热线：<a href="tel:<{$_SESSION['Anshun']['phone']}>"><{$_SESSION['Anshun']['phone']}></a></p>    	
    	</div>
     </div>

	
	    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>    
	    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </body>
</html>

