<layout name="layout" />
<div class="container">
<h3 >管理员</h3>        
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">		
	<volist name='data' id='st' empty="没有数据">
	<div class="panel panel-default">
		<div class="media"><a class="media-left" href="#"><img src="__UPLOAD__<{$st.path}><{$st.img}>" alt="..." height="100px"></a>
			<div class="media-body">
				<h4 class="media-heading">登录名：<{$st.account}><br>姓名:<{$st.realname}><br>电话：<{$st.phone}><br>岗位：<{$st.role}><br>部门：<{$st.dept}></h4>												      
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-info dropdown-toggle btn-xs" data-toggle="dropdown">上传照片<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="__URL__/photo/id/<{$st.id}>">上传照片</a></li>
					<li><a href="__URL__/mod/id/<{$st.id}>">修改</a></li>							    
					<li class="divider"></li>
					<li><a href="__URL__/set/id/<{$st.id}>" onclick="return confirm('你确定把用户：<{$st.realname}>的密码重置为123456吗？')">重置密码</a></li>							    
				</ul>
			</div>
		</div>	
	</div>		                      
	</volist>
</div>
</div>	  
	


	
	  