
<div class="footer">
   <footer class="footer-area">
		  <div class="container text-center">
		    <p class="links">Copyright <span class="num">&copy;</span> 2016-2017
		      |
		      <a target="_blank" href="http://www.xiuliguanggao.com/index.php/Xinda"><b>北京-智慧信达</b></a> 版权所有
		      |
		      	备案号：<{$_SESSION['Xinda']['record']}>
		      |
		      <{$_SESSION['ip']}>;<{$_SESSION['os']}>-<{$_SESSION['browser']}>
		      |
		      	咨询热线：<{$_SESSION['Xinda']['phone']}>
		    </p>				    
		  </div>
   </footer>
</div>

    
    <import file="js.xd" />
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
    <script type="text/javascript">
	    $(document).scroll(function() {
	      if ($(document).scrollTop() >= 1) {
	        $('.header-area').addClass('navbar-fixed-top');
	      } else {
	        $('.header-area').removeClass('navbar-fixed-top');
	      }
	    });
 	</script>
  
  
	<!-- 添加-模态框 -->
	<div class="modal fade " id="Login" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">	        
		        <h4 class="modal-title pull-left" id="myModalLabel">登录</h4>
		    </div>
		    <div class="modal-body">
		      	<form action="__APP__/Xinda/Login/login" method="post" class="form-horizontal" role="form" >	      	
					<div class="form-group">
						<label for="short" class="col-sm-2 control-label">手机:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="phone" value="" placeholder="用户名">
						</div>
					</div>
					<div class="form-group">
						<label for="product" class="col-sm-2 control-label">密码:</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" name="password" value="" placeholder="密码">
						</div>
					</div>
											
			</div>
			<div class="modal-footer">
			     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			     <button type="submit" class="btn btn-primary">登录</button></form>
			</div>
	    </div>
	  </div>
	</div>
  </body>
</html>



