  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
      		<strong class="am-text-primary am-text-lg">项目里程碑</strong> / <small><{$arr.id|getPro=###}></small>
      		<b> 产品：</b><{$arr.po|getRealname=###}><b> 项目：</b><{$arr.pm|getRealname=###}><b> 研发：</b><{$arr.rd|getRealname=###}><b> 测试：</b><{$arr.qd|getRealname=###}>
      </div>
    </div>  
    <div class="am-g">  
	  <div class="am-u-md-9">
	  		<div class="well well-sm"><{$arr.desc}></div>	
	  		<div class="am-btn-group am-btn-group-xs">
              <a href="__APP__/TAdmin/Index/add"  class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</a>
              <a href="__APP__/TAdmin/Index"  class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 返回</a>
            </div>
	  		<div class="am-tabs am-margin" data-am-tabs>
			    <ul class="am-tabs-nav am-nav am-nav-tabs">
			      <li class="am-active"><a href="#tab1">里程碑<span class="am-badge"><{$arr.id|countStage=###}></span></a></li>
			      <li><a href="__APP__/TestAdmin/Risk/index/proid/<{$arr.id}>">风险<span class="am-badge"><{$arr.id|countRisk=###}></span></a></li>
			      <li><a href="__APP__/TestAdmin/Prosys/index/proid/<{$arr.id}>">涉及系统<span class="am-badge"><{$arr.id|countProsys=###}></span></a></li>
			      <li><a href="__APP__/TestAdmin/Func/func/proid/<{$arr.id}>">功能点<span class="am-badge"><{$arr.id|countProFunc=###}></span></a></li>
			      <li><a href="__APP__/TestAdmin/Func/range/proid/<{$arr.id}>">范围<span class="am-badge"><{$arr.id|countRange=###}></span></a></li>
			      <li><a href="__APP__/TestAdmin/Scene/index/proid/<{$arr.id}>/copy/<{$arr.id}>">场景<span class="am-badge"><{$arr.id|countScene=###}></span></a></li>
			      <li><a href="__APP__/TestAdmin/Case/library/proid/<{$arr.id}>">用例<span class="am-badge"><{$arr.id|countCase=###}></span></a></li>
			      <li><a href="__APP__/TestAdmin/Rules/index/proid/<{$arr.id}>">项目需求<span class="am-badge"></span></a></li>
			    </ul>
			    <div class="am-tabs-bd">
			    	<div class="am-tab-panel am-fade am-in am-active" id="tab1">
			    		<form action="__URL__/order" method="post" >
					   	<input type="hidden" name="table" value="tp_stage" />
						<table class="am-table am-table-striped am-table-hover table-main">
				           <thead><tr><th class="table-sn">序号</th><th class="table-stage">里程碑</th><th class="table-sn">结束日期</th><th class="table-sn">状态</th><th class="table-sn">操作</th></tr></thead>					      
					      <tbody>					      		
					      <volist name='stages' id='st' empty="没有数据"> 	
					          <tr>
					            <td><input type="text" name="sn[<{$st.id}>]" value="<{$st.sn}>"  class="input40"/></td>
					            <td><{$st.stage}></td>
					            <td><{$st.end}></td>
					            <td><{$st.state}></td>
					            <td>	
					            	<a target="_blank" href="__APP__/TAdmin/Stagetester/index/stageid/<{$st.id}>/type/C" class="btn btn-success btn-xs">用例<{$st.id|countCTester=###}></a>
						            <a target="_blank" href="__APP__/TAdmin/Stagetester/index/stageid/<{$st.id}>/type/M" class="btn btn-info btn-xs">测试<{$st.id|countMTester=###}></a>	
						            <a target="_blank" href="__APP__/TAdmin/Stagetester/index/stageid/<{$st.id}>/type/A">自动化<{$st.id|countATester=###}></a>
						            <a href="__URL__/mod/id/<{$st.id}>/proid/<{$st.proid}>">修改</a>
						            <a href="__URL__/del/id/<{$st.id}>">删除</a>					            		
					            </td>					            		
					          </tr>
					       </volist>					            
					     </tbody>					     
				      </table>
					  <div class='am-margin'>
		            	<input type="submit" name="do_submit" value="批量排序" class="am-btn am-btn-primary am-btn-xs">
		              </div>		            
		            </form> 
			    	</div>
			    
			    </div>
			    
    		</div>	   	
	  </div>
	  <div class="am-u-md-3">
	      <table class="am-table am-table-striped am-table-hover table-main">
	           <thead><tr><th class="table-title">项目列表</th></tr></thead>
		      <tbody>
		            <volist name='pros' id='pro' empty="没有数据"> 	
		            	<tr>
		            		<td>
		            			<a href="__URL__/index/proid/<{$pro.id}>">
			            			【<{$pro.status|getProst=###}>】
			            			<span class="am-badge am-badge-warning"><{$pro.id|countStage=###}></span>
			            			<{$pro.name}>
		            			</a>
		            		</td>
		            	</tr>
		            </volist>
		     </tbody>
	      </table>	
	  </div>  
	</div>   
  </div>
  <!-- content end -->
  
  
 