
<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>太平洋加达CRM数据迁移</title> 
	  <meta name="keywords" content="#" />
	  <meta name="description" content="#" />
	  <import type="css" file="css.mac.bootstrap" />
	  <import type="css" file="css.mac.font-awesome" />
	  <import type="css" file="css.mac.jquery-ui" />
	  <import type="css" file="css.mac.fullcalendar" /> 
	  <import type="css" file="css.mac.prettyPhoto" />
	  <import type="css" file="css.mac.rateit" />  
	  <import type="css" file="css.mac.bootstrap-datetimepicker" />
	  <import type="css" file="css.mac.jquery-cleditor" />
	  <import type="css" file="css.mac.uniform.default" />
	  <import type="css" file="css.mac.bootstrap-switch" />
	  <import type="css" file="css.mac.style" />
	  <import type="css" file="css.mac.widgets" />
	</head>
	<body>
	
	<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">	  
	    <div class="conjtainer">	      
	      <div class="navbar-header">
			  <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span>菜单</span>
			  </button>			  
			  <a href="index.html" class="navbar-brand hidden-lg">首页</a>
			</div>
			<div class="logo pull-left">
	            <h3><a href="#">太平洋加达<span class="bold"></span></a></h3>
	            
	          </div>
	      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         		        	       
	        <!-- Links -->
	        <ul class="nav navbar-nav pull-right">
	          <li class="dropdown pull-right">            
	            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
	              <i class="icon-user"></i> 管理员 <b class="caret"></b>              
	            </a>
	            <ul class="dropdown-menu">
	              <li><a href="#"><i class="icon-user"></i> 资料</a></li>
	              <li><a href="#"><i class="icon-cogs"></i> 设置</a></li>
	              <li><a href="__APP__/Admin/Login/logout"><i class="icon-off"></i> 退出</a></li>
	            </ul>
	          </li>	          
	        </ul>
	        	        
	      </nav>
	
	    </div>
	  </div>
	  
	
	<!-- Header ends -->
	
	<!-- Main content starts -->
	
	<div class="content">
	
	  	<!-- Sidebar -->
	    <div class="sidebar">
	        <div class="sidebar-dropdown"><a href="#">导航</a></div>
	
	        <!--- Sidebar navigation -->
	        <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
	        <ul id="nav">
	          <!-- Main menu with font awesome icon -->
	          <li><a href="__APP__/Tpyjd/Index" class="open"><i class="icon-home"></i> 首页</a>	            
	          </li>

	           <li class="has_sub"><a href="#"><i class="icon-list-alt"></i> 基础信息 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Tpyjd/Country">国家</a></li>
	              <li><a href="__APP__/Tpyjd/Province">省份</a></li>
	              <li><a href="__APP__/Tpyjd/City">城市</a></li>
	              <li><a href="__APP__/Tpyjd/Dictmap">字典</a></li>
	              
	            </ul>
	          </li>  
	          <li class="has_sub"><a href="#"><i class="icon-list-alt"></i> 客户管理  <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Tpyjd/Account">客户</a></li>
	              <li><a href="__APP__/Tpyjd/Businessunit">企业</a></li>
	              <li><a href="__APP__/Tpyjd/Accountlevel">级别</a></li>
	              <li><a href="__APP__/Tpyjd/Territory">行业</a></li>
	            </ul>
	          </li>  
	          <li class="has_sub"><a href="#"><i class="icon-file-alt"></i> 用户管理 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Tpyjd/User">用户</a></li>
	              <li><a href="#">角色</a></li>
	              
	            </ul>
	          </li> 
	          <li class="has_sub"><a href="#"><i class="icon-file-alt"></i> 页面模块2  <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="#">媒体</a></li>
	              
	            </ul>
	          </li>                             
	          <li><a href="charts.html"><i class="icon-bar-chart"></i>图表</a></li> 
	          <li><a href="tables.html"><i class="icon-table"></i>表格</a></li>
	          <li><a href="forms.html"><i class="icon-tasks"></i>表单</a></li>
	          <li><a href="ui.html"><i class="icon-magic"></i>UI图标</a></li>
	          <li><a href="calendar.html"><i class="icon-calendar"></i>日历</a></li>
	        </ul>
	    </div>
	
	    <!-- Sidebar ends -->
	<div class="mainbar">