<layout name="layout" /> 
<!-- content start -->
<div class="admin-content">
  	<div class="am-cf am-padding">
  		<div class="am-fl am-cf">
  			<strong class="am-text-primary am-text-lg"> <a href="__APP__/<{$Think.config.PRODUCT}>/Index/index/proid/<{$_SESSION['proid']}>"><{$_SESSION['proid']|getPro=###}></a></strong>
      		<small>/<a href="__APP__/<{$Think.config.PRODUCT}>/Func/index/pathid/<{$data.pathid}>"><{$arr.id|getSPath=###}></a>/功能点 /修改
      		<a href="__APP__/<{$Think.config.PRODUCT}>/Func/index/pathid/<{$data.pathid}>">返回</a>
      		</small>
  		</div>	
  	</div>  
	<div class="am-g">  
	  <div class="am-u-md-9">
	  	 <div class="am-tab-panel am-in">
	  	 	<div class="am-g">			    		
			    <div class="am-u-md-10"></div>
			    <div class="am-u-md-2">	
				    <div class="am-btn-group">
				    	<a href="__URL__/add/pathid/<{$data.pathid}>"  class="am-btn am-btn-success"><span class="am-icon-plus"></span> 新增</a>	
				    </div>			    				
			    </div>	              
			</div>
	  	 	<form action="__URL__/update" method="post" class="am-form am-form-inline" role="form" >
	      	<input type="hidden" name="table" value="tp_func" />
	      	<input type="hidden" name="id" value="<{$data.id}>" />
		     <div class="am-g am-margin-top">
		          <div class="am-u-sm-2 am-text-right">顺序: </div>
		          <div class="am-u-sm-10"><input type="text" class="form-control" name="sn" value="<{$data.sn}>"></div>
		     </div>		     
		     <div class="am-g am-margin-top">
		          <div class="am-u-sm-2 am-text-right">功能点: </div>
		          <div class="am-u-sm-10"><input type="text" class="form-control" name="func" value="<{$data.func}>"></div>
		      </div>
		      <div class="am-g am-margin-top">
		          <div class="am-u-sm-2 am-text-right">状态: </div>
		          <div class="am-u-sm-10"><{$state}></div>
		      </div>
		      <div class="am-g am-margin-top">
		          <div class="am-u-sm-2 am-text-right">项目: </div>
		          <div class="am-u-sm-10"><{$fproid}></div>
		      </div>
		     <div class="am-g am-margin-top">
		     	<div class="am-u-sm-2"></div>
		          	<div class="am-u-sm-10">
			    		<button type="submit" class="am-btn am-btn-primary am-btn-block">提交</button>	
			    	</div>		    
			  </div>	
		     </form>
		 </div>
	  </div>
	  <div class="am-u-md-3">
	  		<ul class="am-list  ">
	          <volist name='funcs' id='st' empty="暂时还没有功能点，赶快添加吧"> 
	          	<li><a href="__URL__/mod/id/<{$st.id}>"><span class="am-badge"><{$st.state}></span><{$st.id}>: <{$st.func}></a></li> 
	          </volist>         
	        </ul>
	  </div>
	</div>
	
	
</div>