<layout name="layout" />
<div class="container">
<div class="row"> 
  <div class="col-md-9">
  	<div class="panel panel-info">
	  <div class="panel-heading">
	  	<h3 class="panel-title">执行场景<{$stagetesterid}>
	  		<a href="__APP__/TAdmin/Program" class="btn btn-warning btn-xs pull-right">返回</a>
	  	</h3>
	  </div>
	  
	  		<ul class="list-group">
	  			<volist name='exe' id='ex' empty="没有数据">
  					<li class="list-group-item">
  					<span>
  						<span class="badge"><{$ex.results}></span>
  						<switch name="ex.sceneid">
			          		<case value="0"><a href="__APP__/TAdmin/Exefunc/index/id/<{$ex.id}>"><{$ex.pathid|getSPath=###}></a></case>			          
			         		 <default /><{$ex.swho}>【<{$ex.swhen}>】<{$ex.scene}>
			      		</switch>
  						
  						<a href="__APP__/TAdmin/Exefunc/index/id/<{$ex.id}>" type="button" class="btn btn-info btn-xs pull-right">执行
  						<span class="badge"><{$ex.id|countExeFunc=###}></span></a>  						
  					</span>
  					</li>
  				</volist>
  			</ul>		
	 
  	</div>
  </div>
  <div class="col-md-3 hidden-xs">
  	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">里程碑</h3>
	  </div>
	  <ul class="list-group">
	    <volist name='data' id='vo' empty="没有数据"> 			
           <switch name="vo.id">
				<case value="$stagetesterid"> <li class="list-group-item list-group-item-warning"></case>					   					    
				<default />
				<li class="list-group-item ">
		 </switch> 
		            <a href="__URL__/index/stagetesterid/<{$vo.id}>/type/<{$type}>">
		             <{$vo.id}>:<span class="badge pull-right"><{$vo.id|countExescene=###}></span>
		             <{$vo.stage}>(<{$vo.code}>)</a></span>
             	</li>
        </volist>
      </ol>	  
	</div>
  	 
  </div>
  
</div> 
</div>
            
