<layout name="layout" />
<div class="container">
<div class="row">
  	<div class="col-md-7"><h3>系统-编辑</h3>	
  		<div class="panel-body">
  		    <form action="__URL__/update" method="post" class="form-horizontal" role="form" >
  		    <input type="hidden" name="id" value="<{$sys.id}>" />
				<div class="form-group">					   
					 <label for="short" class="col-sm-2 control-label">编号:</label>
					 <div class="col-sm-10"><input type="text" class="form-control" name="sysno" value="<{$sys.sysno}>" placeholder="编号"></div>
				</div>
				<div class="form-group">
					<label for="product" class="col-sm-2 control-label">系统:</label>
					<div class="col-sm-10"><input type="text" class="form-control" name="system" value="<{$sys.system}>" placeholder="系统" readonly></div>
				</div>
				<div class="form-group">
					<label for="state" class="col-sm-2 control-label">测试版本:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="testversion" value="<{$sys.testversion}>" placeholder="测试环境版本">
					</div>
				</div>
				<div class="form-group">
					<label for="state" class="col-sm-2 control-label">测试地址:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="testip" value="<{$sys.testip}>" placeholder="测试地址">
					</div>
				</div>					  
			<button type="submit" class="btn btn-info btn-lg pull-left" >提 交</button>
            </form>
            <a href="__APP__/TAdmin/Prosys/index/proid/<{$w.proid}>"  class="btn btn-warning btn-lg pull-right " >返 回</a>                                         
  		</div>	           
  	</div>
 	<div class="col-md-5 hidden-xs hidden-sm">
 		<div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">系统</h3></div>            
	        <ul class="list-group">
	  			<volist name='data' id='vo' empty="没有数据">
	  			 	<li class="list-group-item" ><a href="__URL__/mod/id/<{$vo.id}>/proid/<{$w.proid}>"><{$vo.sysno}>.<{$vo.system}></a></li>
	        	</volist>
	        </ul>
        </div>                          	
  	</div>
</div>           
</div>