<layout name="layout" />
	<!-- Page heading -->
	    <div class="page-head">
	      	<h2 >
	      		<!-- Breadcrumb -->
		        <div class="bread-crumb">
		          <a href="__APP__/Admin"><i class="icon-cog"></i> 设置</a> 
		          <span class="divider">/</span> 
		          <a href="__URL__" class="bread-current">字典</a> 
		          <span class="divider">/</span> 新增         
		        </div>
	      	</h2>
	      	
	        
	        <div class="clearfix"></div>
	    </div>
	<!-- Page heading ends -->


<!-- Matter -->

	 <div class="matter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="widget-content">
                  <div class="padd">
                    <!-- Form starts.  -->
                     <form action="__URL__/insert" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                                                                                                     
                         <div class="form-group">
                             <label class="col-lg-4 control-label">键：</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='k' value="<{$count}>" placeholder="k">
                             </div>
                         </div>
                        
                         <div class="form-group">
                             <label class="col-lg-4 control-label">值：</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='v' placeholder="v">
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">类型：</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='type' value="<{$type}>" placeholder="type">
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">状态：</label>
                             <div class="col-lg-8"><{$state}></div>
                         </div>                         
                         <hr />
                         <div class="form-group">
                             <div class="col-lg-offset-1 col-lg-9">
                                 <button type="submit" class="btn btn-primary">提交</button>                       
                             </div>
                         </div>
                     </form>
                      <!-- Form end.  -->
                  </div>
                </div>                
            </div>  
          </div>
        </div>
    </div>
<!-- Matter ends -->