<layout name="layout" />
<!-- Page heading -->
<div class="page-head">
	<h2 class="bread-crumb">	      	
	    <a href="__APP__/<{$Think.config.PRODUCT}>"><i class="icon-gift"></i> 权限管理</a> 
		<span class="divider">/</span> 
		<a href="__URL__" class="bread-current"> 部门</a>         		        	
		<span class="divider">/</span> 编辑	
		<a href="__URL__" class="pull-right"><i class="icon-arrow-left"> 返回</i></a>	
	</h2>	      		        
	<div class="clearfix"></div>
</div>
<!-- Page heading ends -->


<!-- Matter -->
<div class="matter">
   <div class="container">
		<div class="widget-content">
		<form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                                                                                                 
            <input type="hidden" name="id" value="<{$arr['id']}>" />           
            <div class="form-group">
               <label class="col-lg-4 control-label">部门名称:</label>
               <div class="col-lg-8">
               	<input type="text" class="form-control" name='name' value="<{$arr['name']}>" placeholder="部门名称">
               </div>                                                        
            </div> 
            <div class="form-group">
               <label class="col-lg-4 control-label">负责人:</label>
               <div class="col-lg-8">
               	<input type="text" class="form-control" name='manager' value="<{$arr['manager']}>" placeholder="负责人">
               </div>                                                        
            </div>
            <div class="form-group">
               <label class="col-lg-4 control-label">地址:</label>
               <div class="col-lg-8">
               	<input type="text" class="form-control" name='position' value="<{$arr['position']}>" placeholder="地址">
               </div>                                                        
            </div>  
                                                                                                                                    
            <hr />
            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-8">
                  	<button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>                      
                </div>                             
            </div>
        </form>
        </div>                
    </div>
</div>
<!-- Matter ends -->