<layout name="layout" />
<!-- Page heading -->
	    <div class="page-head">
	      <h2 class="pull-left"><i class="icon-home"></i><a  href="__APP__/Admin/Cate">分类管理</a>
		      <span class="divider">/</span>
	          <a href="__APP__/Admin/Cate/index/pid/<{$arr.pid}>"><{$arr.pid|getCatname=###}></a>	          
	          <{$arr.catname}>
	          <span class="divider">/</span>
	          <a href="__APP__/Admin/Cate/index/pid/<{$arr.pid}>">返回上一级</a>
	      </h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="__APP__/Admin"><i class="icon-home"></i> 首页</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="__URL__" class="bread-current">分类管理</a>
          
        </div>

        <div class="clearfix"></div>

	    </div>
<!-- Page heading ends -->
<div class="container">	

	<ul class="nav navbar-nav navbar-right">
		<li><a href="__URL__/add" >添加</a></li>		        
	</ul>
								  
	
		<div class="panel panel-primary">
			<table class="table table-striped table-bordered table-hover table-condensed ">
	          <tr >	          	
	            <th width=3% align="center" bgcolor="#ccc">顺序</th>
	            <th width=80% align="left"  bgcolor="#ccc">路径</th>  
	         </tr>
	         <form action="__URL__/order" method="post" >
	         <volist name='data' id='st' empty="没有数据">
	            <tr> 	            	
	                <td align="center" ><input type="text" name="sn[<{$st.id}>]" value="<{$st.sn}>"  class="input40"/></td>
	                <td ><a href="__URL__/index/pid/<{$st.id}>">
	                <{$st.pid|getCatname=###}>-<{$st.catname}>【<{$st.state}>】<span class="badge"><{$st.id|countCate=###}></span></a>
	                    <div class="btn-group pull-right">	
	                    	<a href="__URL__/mod/id/<{$st.id}>" class="btn btn-info btn-xs">修改</a>		                
			                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
			                  <span class="caret"></span>
			                  <span class="sr-only">Toggle Dropdown</span>
			                </button>
			                <ul class="dropdown-menu" role="menu">			                  
			                  <li><a href="__URL__/del/id/<{$st.id}>">删除</a></li>                 			                 
			                </ul>
			            </div>
	                </td>                            
	            </tr>
	         </volist>
	            <tr><td  colspan="10"><input type="submit" name="do_submit" value="批量排序" class="btn btn-info"></td></tr>
	         </form>
	     </table>
		</div>
	

</div>