<layout name="layout" />
<div class="row"> 
  <div class="col-md-7">
  		<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><{$arr.sn}>【<{$arr.swho}>】<{$arr.swhen}>:<{$arr.scene}>
    	<div class="btn-group pull-right">
    		<a href="__APP__/TAdmin/Func/library/sceneid/<{$arr.id}>" class="btn btn-info btn-xs">功能库</a>
    		<a href="__APP__/TAdmin/Scene/index/proid/<{$arr.proid}>" class="btn btn-warning btn-xs">
    		<span class="glyphicon glyphicon-arrow-left">返回</span></a>
    	</div>
    </h3>
  </div>
  <ul class="list-group">
  	
     <volist name='sfunc' id='st' empty="没有数据">
	  <li class="list-group-item">
	  		<form action="__URL__/update" method="post" >
               <input type="hidden" name="id" value="<{$st.id}>" />
             <{$st.sn}>.<span class="badge"><{$st.casestate}></span><{$st.path}>-<b><{$st.func}></b>-意图：<{$st.casemain}>
             <div class="input-group">
             	  <input type="text" name="remarks" value="<{$st.remarks}>"  class="form-control"/>			      
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit" name="do_submit">提 交</button></form>
			        
			      
			      <a target="_blank" href="__APP__/TAdmin/Element/index/funcid/<{$st.id}>" class="btn btn-info ">模板</a>
	              <a target="_blank" href="__APP__/TAdmin/Rules/index/funcid/<{$st.id}>" class="btn btn-warning ">规则</a>
	               <a href="__APP__/TAdmin/Scenecase/index/sfuncid/<{$st.id}>" class="btn btn-info ">用例库</a>	               
	               <a href="__URL__/del/id/<{$st.id}>" class="btn btn-danger " onclick="return confirm('你确定要场景中移除这个功能点吗？')">移除</a>
	            </span>
		     </div> 
               
	  
	  
	  </li>
	 </volist>  
  </ul>
  
  </div>
  
  
  </div>
  <div class="col-md-5 hidden-xs">
  	<div class="panel panel-info">
	  <div class="panel-heading"><h3 class="panel-title">场景列表</h3></div>
	  <ul class="list-group">
	    <volist name='data' id='vo' empty="没有数据"> 			
            <switch name="vo.id">
				<case value="$arr.id"> <li class="list-group-item list-group-item-warning"></case>					   					    
				<default /><li class="list-group-item ">
			</switch> 
            <a href="__URL__/index/sceneid/<{$vo.id}>">
            	<{$vo.sn}>【<{$vo.swho}>】<{$vo.swhen}><br>
            	<{$vo.scene}></a><span class="badge"><{$vo.id|countSFunc=###}></span></li>
        </volist>
      </ul>	  
	</div>
  	 
  </div>
  
</div> 
