<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>HTML5+3D效果的图片幻灯片焦点图切换效果,需要浏览器支持HTML5</title>
		<meta name="keywords" content="#" />
		<meta name="description" content="#" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<style type="text/css">
			*{margin:0;padding:0;}
		</style>
		<import type="css" file="css.Jiaodt.focus11.style" />		
		<script type='text/javascript'>
		var CSSettings = {"pluginPath":"images"};

		</script>
		<import file="js.mobile.Jiaodt.modernizr_min" />
		<import file="js.mobile.Jiaodt.cute_slider" />
		<import file="js.mobile.Jiaodt.cute_transitions_all" />
	</head>
	<body>
		<div class="c-860 c-demoslider">
		  <div id="cuteslider_3_wrapper" class="cs-circleslight">
		    <div id="cuteslider_3" class="cute-slider" data-width="960" data-height="420" data-overpause="true">
		      <ul data-type="slides">
		        <li data-delay="5" data-src="5" data-trans3d="tr6,tr17,tr22,tr23,tr29,tr27,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13,tr45" data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41">
		        	<img  src="__IMG__/Jiaodt/focus11/001.jpg" data-thumb="__IMG__/Jiaodt/focus11/001a.png">
		        	<a data-type="link" href="http://www.js-css.cn" target="_blank"></a>
		          <ul data-type="captions">
		            <li class="caption_slider2_layer1_sublayer1" data-effect="fade" data-delay="1000">幻灯片播放效果</li>
		            <li class="caption_slider2_layer1_sublayer2" data-effect="fade" data-delay="1200">令人惊叹的播放效果</li>
		            <li class="caption_slider2_layer1_sublayer3" data-effect="fade" data-delay="2300">
		            <a href="#" target="_blank" class="linked">html5 3d</a></li>
		            <li class="caption_slider2_layer1_sublayer4" data-effect="slide" data-delay="2000">JS代码</li>
		            <li class="caption_slider2_layer1_sublayer5" data-effect="slide" data-delay="3000">&</li>
		            <li class="caption_slider2_layer1_sublayer6" data-effect="fade" data-delay="2600">
		            <a href="#" target="_blank" class="linked">Slider</a></li>
		          </ul>
		        </li>
		        <li data-delay="5" data-src="5" data-trans3d="tr6,tr17,tr22,tr23,tr26,tr27,tr29,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13" data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41">
		        <img  src="__IMG__/Jiaodt/focus11/bg/blank.png" data-src="__IMG__/Jiaodt/focus11/002.jpg" data-thumb="__IMG__/Jiaodt/focus11/002a.png">
		        <a data-type="link" href="http://www.js-css.cn" target="_blank"></a>
		          <ul data-type="captions">
		            <li class="caption_slider2_layer2_sublayer1" data-effect="fade" data-delay="500">JS代码</li>
		            <li class="caption_slider2_layer2_sublayer2" data-effect="fade" data-delay="1000">JS代码，提高WEB开发效率&#038;</li>
		            <li class="caption_slider2_layer2_sublayer3" data-effect="fade" data-delay="1500">这里有最近的资讯和前沿的开发技术！</li>
		          </ul>
		        </li>
		        <li data-delay="5" data-src="5" data-trans3d="tr6,tr17,tr22,tr23,tr26,tr27,tr29,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13" data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr41">
		        <img  src="__IMG__/Jiaodt/focus11/bg/blank.png" data-src="__IMG__/Jiaodt/focus11/003.jpg" data-thumb="__IMG__/Jiaodt/focus11/003a.png">
		        <a data-type="link" href="http://www.js-css.cn" target="_blank"></a>
		          <div data-type="info" class="info1" data-align="right">
		            <div>
		              <h1 class="title">JS代码网</h1>
		              <p class="text"><a class="more-btn" href="http://www.js-css.cn" target="_blank">JS代码</a>js代码,js代码大全,js特效,js特效代码,css样式,css教程,html5,css3,jQuery特效,jQuery教程,jQuery api,web前端开发,用户体验交流<br class="clear">
		              </p>
		            </div>
		          </div>
		        </li>
		        <li data-delay="5" data-src="5" data-trans3d="tr6,tr17,tr22,tr23,tr26,tr27,tr29,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13" data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41">
		        <img  src="__IMG__/Jiaodt/focus11/bg/blank.png" data-src="__IMG__/Jiaodt/focus11/004.jpg" data-thumb="__IMG__/Jiaodt/focus11/004a.png">
		        <a data-type="link" href="http://www.js-css.cn" target="_blank"></a>
		          <ul data-type="captions">
		            <li class="caption_slider2_layer4_sublayer1" data-effect="fade" data-delay="1000">JS代码</li>
		            <li class="caption_slider2_layer4_sublayer2" data-effect="fade" data-delay="1500">分享JS代码,DIV+CSS样式,jQuery特效等前端学习站点</li>
		          </ul>
		        </li>
		        <li data-delay="5" data-src="5" data-trans3d="tr6,tr17,tr22,tr23,tr26,tr27,tr29,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13" data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41">
		        <img  src="__IMG__/Jiaodt/focus11/bg/blank.png" data-src="__IMG__/Jiaodt/focus11/005.jpg" data-thumb="__IMG__/Jiaodt/focus11/005a.png">
		        <a data-type="video" href="http://player.youku.com/player.php/sid/XMzI0Mzg2OTA0/v.swf"></a>
		          <ul data-type="captions">
		            <li class="caption_slider2_layer5_sublayer1" data-effect="fade" data-delay="500">JS代码</li>
		            <li class="caption_slider2_layer5_sublayer2" data-effect="fade" data-delay="1500">单击播放此视频</li>
		          </ul>
		        </li>
		        <li data-delay="5" data-src="5" data-trans3d="tr6,tr17,tr22,tr23,tr26,tr27,tr29,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13" data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41">
		        <img  src="__IMG__/Jiaodt/focus11/bg/blank.png" data-src="__IMG__/Jiaodt/focus11/006.jpg" data-thumb="__IMG__/Jiaodt/focus11/006a.png">
		        <a data-type="link" href="http://www.js-css.cn" target="_blank"></a>
		          <ul data-type="captions">
		            <li class="caption_slider2_layer6_sublayer1" data-effect="fade" data-delay="500">2017</li>
		            <li class="caption_slider2_layer6_sublayer2" data-effect="fade" data-delay="1000">Year</li>
		            <li class="caption_slider2_layer6_sublayer3" data-effect="fade" data-delay="1500">HAPPY</li>
		            <li class="caption_slider2_layer6_sublayer4" data-effect="fade" data-delay="2000">祝大家</li>
		          </ul>
		        </li>
		      </ul>
		      <ul data-type="controls">
		        <li data-type="captions"></li>
		        <li data-type="link"></li>
		        <li data-type="video"></li>
		        <li data-type="slideinfo"></li>
		        <li data-type="circletimer"></li>
		        <li data-type="previous"></li>
		        <li data-type="next"> </li>
		        <li data-type="bartimer"></li>
		        <li data-type="slidecontrol" data-thumb="true" data-thumbalign="up"></li>
		      </ul>
		    </div>
		    <div class="cute-shadow"><img src="__IMG__/Jiaodt/focus11/bg/shadow.png" alt="shadow"></div>
		  </div>
		  <p>
		    <script type="text/javascript">
				var cuteslider3 = new Cute.Slider();
				cuteslider3.setup("cuteslider_3", "cuteslider_3_wrapper", "__CSS__/Jiaodt/focus11/slider-style.css");
				cuteslider3.api.addEventListener(Cute.SliderEvent.CHANGE_START,
				function(event) {});
				cuteslider3.api.addEventListener(Cute.SliderEvent.CHANGE_END,
				function(event) {});
				cuteslider3.api.addEventListener(Cute.SliderEvent.WATING,
				function(event) {});
				cuteslider3.api.addEventListener(Cute.SliderEvent.CHANGE_NEXT_SLIDE,
				function(event) {});
				cuteslider3.api.addEventListener(Cute.SliderEvent.WATING_FOR_NEXT,
				function(event) {});
			</script>
		</div>
	</body>
</html>
