<layout name="layout" />     
<!-- Page heading -->
	    <div class="page-head">
	      	<h2 class="pull-left"><i class="icon-tasks"></i> 城市-修改</h2>
						
	        <!-- Breadcrumb -->
	        <div class="bread-crumb pull-right">
	          <a href="index.html"><i class="icon-home"></i> 首页</a> 
	          <span class="divider">/</span> 
	          <a href="__APP__/Tpyjd/Country/}>" class="bread-current">国家</a>
	          <span class="divider">/</span> 
	          <a href="__APP__/Tpyjd/Province/}>" class="bread-current">省份</a>
	          <span class="divider">/</span> 
	          <a href="#" class="bread-current">城市</a>
	          <span class="divider">/</span> 修改
	        </div>
	
	        <div class="clearfix"></div>

	    </div>
<!-- Page heading ends -->


<!-- Matter -->

	 <div class="matter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="widget-content">
                  <div class="padd">
                    <!-- Form starts.  -->
                     <form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                              
                         <input type="hidden" name="CityId" value="<{$data.cityid}>" />                        
                         <div class="form-group">
                             <label class="col-lg-4 control-label">CityId</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control"  value="<{$data.cityid}>" readonly>
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">CityName</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='CityName' value="<{$data.cityname}>" placeholder="CityName">
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">AreaCode</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='AreaCode' value="<{$data.cityname}>" placeholder="AreaCode">
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">PostalCode</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='PostalCode' value="<{$data.cityname}>" placeholder="PostalCode">
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">QuickCode</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='QuickCode' value="<{$data.cityname}>" placeholder="QuickCode">
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">CountryId</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control"  value="<{$data.countryid}>" readonly>
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">ProvinceId</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control"  value="<{$data.provinceid}>" readonly>
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-lg-4 control-label">Description</label>
                             <div class="col-lg-8"><textarea class="cleditor" name="Description"><{$data.description}></textarea></div>
                         </div> <hr />
                         <div class="form-group">
                             <div class="col-lg-offset-1 col-lg-9">
                                 <button type="submit" class="btn btn-primary">提交</button>                       
                             </div>
                         </div>
                     </form>
                  </div>
                </div>                
            </div>  
          </div>
        </div>
    </div>
<!-- Matter ends -->