<layout name="layout" />
<!-- Page heading -->
	    <div class="page-head">
	      <h2 class="bread-crumb">
			<a href="__APP__/Admin"><i class="icon-home">  商品服务</i></a> 
			<span class="divider">/</span> 
			<a href="__URL__" class="bread-current"> 商品管理</a>   
			<span class="divider">/</span> 修改
			<a href="__URL__" class="pull-right"><i class="icon-arrow-left"> 返回</i></a>       		          
	      </h2>       
        <div class="clearfix"></div>
	    </div>
<!-- Page heading ends -->
<!-- Matter -->
<div class="matter">
    <div class="container">
        <div class="widget-content">
            <form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                                                       
                 <input type="hidden" name="id" value="<{$arr.id}>" />                                        
                 <div class="form-group">                                                                    
                     <label class="col-lg-4 control-label">商品:</label>
                     <div class="col-lg-8">
                         <input type="text" class="form-control" name='name' value="<{$arr.name}>" placeholder="产品名称">
                     </div>                                           
                 </div> 
                 <div class="form-group">
                	<label class="col-lg-4 control-label">品牌:</label>
                   <div class="col-lg-8"><{$brand}></div> 
                </div>  
                 <div class="form-group"> 
                 	<label class="col-lg-4 control-label">分类:</label>
                     <div class="col-lg-8">
                         <input type="text" class="form-control" value="<{$arr.cateid|getCatname=###}>"readonly>
                     </div> 
                 </div> 
                                                                                                                            
                  <div class="form-group">	                          
	                  <label class="col-lg-4 control-label">简介：</label>	                          	                          
	                  <div  class=" col-lg-8"><textarea name="desc" class="form-control"><{$arr.desc}></textarea></div>		                          	                          
	              </div>
	              <div class="form-group">
                   <label class="col-lg-4 control-label">规格:</label>
                   <div class="col-lg-2">
                        <input type="text" class="form-control" name='guig1' value="<{$arr.guig1}>" placeholder="规格1,如颜色">                        
                   </div> 
                   <div class="col-lg-2">
                   		<input type="text" class="form-control" name='guig2' value="<{$arr.guig2}>" placeholder="规格2,如尺寸">                       
                   </div>
                   <div class="col-lg-2">                   
                        <input type="text" class="form-control" name='guig3' value="<{$arr.guig3}>" placeholder="规格3，如CPU">
                   </div>
                   <div class="col-lg-2">
                   		<input type="text" class="form-control" name='guig4' value="<{$arr.guig4}>" placeholder="规格4，如内存">
                   </div>
                   <div class="col-lg-2">
                   		<input type="text" class="form-control" name='guig5' value="<{$arr.guig5}>" placeholder="规格5，如硬盘">
                   </div>
                </div> 
	              <div class="form-group">	                          
	                  <label class="col-lg-4 control-label">照片：</label>
	                  <div class="col-lg-8"><input id="input-1" type="file" class="file form-control" name="img"></div>
	              </div> 
                  <div class="form-group">
	                  <label class="col-lg-2 control-label">详情：</label>
	                  <div class="col-lg-8"><textarea class="cleditor" name="content"><{$arr.content}></textarea></div>
	                  <div class="col-lg-2">
	                         <img  src="__UPLOAD__/<{$arr.img}>" alt="<{$arr.img}>"  height="170px;">					 																					 		
	                  </div>
	              </div> <hr />
                  <div class="form-group">
                      <div class="col-lg-offset-1 col-lg-8">
                             <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>                                                                   
                      </div>                             
                  </div>
               </form>
          </div>                
     </div>
</div>
<!-- Matter ends -->