<layout name="layout" />
<!-- Page heading -->
	    <div class="page-head">
	      <h2 class="bread-crumb">
			<a href="__APP__/Admin"><i class="icon-home">  商品服务</i></a> 
			<span class="divider">/</span> 
			<a href="__URL__" class="bread-current"> 服务管理</a>   
			<span class="divider">/</span> 修改
			<a href="__URL__" class="pull-right"><i class="icon-arrow-left"> 返回</i></a>       		          
	      </h2>       
        <div class="clearfix"></div>
	    </div>
<!-- Page heading ends -->
<!-- Matter -->
<div class="matter">
    <div class="container">
        <div class="widget-content">
            <form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                                                       
                 <input type="hidden" name="id" value="<{$arr.id}>" />                                        
                 <div class="form-group">
                     <label class="col-lg-1 control-label">顺序:</label>
                     <div class="col-lg-1"><input type="number" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
                     <label class="col-lg-1 control-label">条码号:</label>
                     <div class="col-lg-1">
                         <input type="text" class="form-control" name='mark' value="<{$arr.mark}>" placeholder="mark">
                     </div>                             
                     <label class="col-lg-1 control-label">产品:</label>
                     <div class="col-lg-2">
                         <input type="text" class="form-control" name='name' value="<{$arr.name}>" placeholder="产品名称">
                     </div>
                     <label class="col-lg-1 control-label">分类:</label>
                     <div class="col-lg-2">
                         <input type="text" class="form-control" value="<{$arr.id}>"readonly>
                     </div>
                     <label class="col-lg-1 control-label">状态:</label>
                     <div class="col-lg-1"><{$state}></div>      
                 </div> 
                 <div class="form-group">
                     <label class="col-lg-1 control-label">市场价(￥):</label>
                     <div class="col-lg-1">
                         <input type="text" class="form-control" name='smoney' value="<{$arr.smoney}>" placeholder="市场价">
                     </div>
                     <label class="col-lg-1 control-label">优惠价(￥):</label>
                     <div class="col-lg-1">
                         <input type="text" class="form-control" name='money' value="<{$arr.money}>" placeholder="优惠价">
                     </div>
                     <label class="col-lg-1 control-label">制作周期:</label>
                     <div class="col-lg-2"><{$zhouqi}></div> 
                     <label class="col-lg-1 control-label">商品尺寸:</label>
                     <div class="col-lg-2">
                         <input type="text" class="form-control" name='weight' value="<{$arr.weight}>" placeholder="商品尺寸">
                     </div>                                                                                    
                     <label class="col-lg-1 control-label">库存数量:</label>
                     <div class="col-lg-1">
                         <input type="number" class="form-control" name='num' value="<{$arr.num}>" placeholder="库存数量">
                     </div>                            
                  </div>                                                                                              
                  <div class="form-group">	                          
	                  <label class="col-lg-4 control-label">产品简介：</label>	                          	                          
	                  <div  class=" col-lg-8"><textarea name="desc" class="form-control"><{$arr.desc}></textarea></div>		                          	                          
	              </div>
	              <div class="form-group">	                          
	                  <label class="col-lg-4 control-label">产品照片：</label>
	                  <div class="col-lg-8"><input id="input-1" type="file" class="file form-control" name="img"></div>
	              </div> 
                  <div class="form-group">
	                  <label class="col-lg-2 control-label">产品详情：</label>
	                  <div class="col-lg-8"><textarea class="cleditor" name="content"><{$arr.content}></textarea></div>
	                  <div class="col-lg-2">
	                         <img  src="__UPLOAD__/<{$arr.img}>" alt="<{$arr.img}>"  height="170px;">					 																					 		
	                  </div>
	              </div> <hr />
                  <div class="form-group">
                      <div class="col-lg-offset-1 col-lg-8">
                             <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>                                                                   
                      </div>                             
                  </div>
               </form>
          </div>                
     </div>
</div>
<!-- Matter ends -->