<layout name="layout" />
<!-- Page heading -->
	    <div class="page-head">
	      <h2 class="pull-left">
			<!-- Breadcrumb -->
		      <div class="bread-crumb pull-left">
		      	<div class="row">
		      		<div class="col-md-12">
		      			<a ><i class="icon-cog"></i> 优惠促销</a> 
			          	<span class="divider">/</span> 
			          	<a href="__URL__" class="bread-current">优惠活动</a> 
			          	<span class="divider">/</span> 修改
		      		</div>
		      	</div>	          
	      </h2>       
        <div class="clearfix"></div>
	    </div>
<!-- Page heading ends -->


<!-- Matter -->

	 <div class="matter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="widget-content">
                  <div class="padd">
                    <!-- Form starts.  -->
                     <form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                                                                                                       
                         <input type="hidden" name="id" value="<{$arr.id}>" /> 
                         <div class="form-group">
                             <label class="col-lg-4 control-label">标题</label>
                             <div class="col-lg-8">
                                 <input type="text" class="form-control" name='name' value="<{$arr.name}>" placeholder="标题">
                             </div>
                         </div>
                          <div class="form-group">	                          	                        
	                          <label class="col-lg-4 control-label">单页内容：</label>
	                          <div class="col-lg-8"><textarea class="cleditor" name="content"><{$arr.content}></textarea></div>	                          
	                      </div> <hr />
                         <div class="form-group">
                             <div class="col-lg-offset-1 col-lg-9">
                                 <button type="submit" class="btn btn-primary">提交</button>                       
                             </div>
                         </div>
                     </form>
                  </div>
                </div>                
            </div>  
          </div>
        </div>
    </div>
<!-- Matter ends -->