<layout name="layout" /> 
 <div class="admin-content"> 
 <h1>产品（项目）信息列表</h1>    
  	<div class="starter-template">
  		<table class="am-table am-table-striped am-table-hover table-main table-bordered">
            <thead>
              <tr>               
                <th class="table-title" bgcolor="#ccc" >项目<span class="badge pull-right">里程牌</span></th> 
                <th class="table-type" bgcolor="#ccc" >需求数</th>             
                <th class="table-type" bgcolor="#ccc" >状态</th>
                <th class="table-type" bgcolor="#ccc" >BUG数</th>
                <th class="table-date" bgcolor="#ccc" >开始</th>
                <th class="table-date" bgcolor="#ccc" >结束</th>
                <!--  <th class="table-type" bgcolor="#ccc" >项目风险</th>-->                
                <th class="table-type" bgcolor="#ccc" >测试范围</th>
                <!--  <th class="table-type" bgcolor="#ccc" >测试场景</th>-->
                <th class="table-type" bgcolor="#ccc" >测试用例</th>
              </tr>
          </thead>
          <tbody >
          	<volist name='data' id='pro' empty="没有数据">
            <tr>              
              <td><a href="__APP__/Test/Stage/index/proid/<{$pro.id}>"><{$pro.name}><span class="badge pull-right"><{$pro.id|countStage=###}></span></a></td>             
              <td><a href="__APP__/Test/Rules/demandStatistics/proid/<{$pro.id}>"><{$pro.id|countPRules=###}></a></td>
              <td><{$pro.status|getProst=###}></td>
              <td><a href="__APP__/<{$Think.config.PRODUCT}>/Bug/index/proid/<{$pro.id}>"><{$pro.id|countBug=###}></a></td>
              <td><{$pro.begin}></td>
              <td><{$pro.end}></td>
              <!-- <td><a href="__APP__/Test/Risk/index/proid/<{$pro.id}>"><{$pro.id|countRisk=###}></a></td> -->
              <td><a href="__APP__/Test/Func/range/proid/<{$pro.id}>"><{$pro.id|countRange=###}></a></td>
              <!--  <td><a href="__APP__/Test/Scene/index/proid/<{$pro.id}>"><{$pro.id|countScene=###}></a></td>-->
              <td><a href="__APP__/Test/Case/procase/proid/<{$pro.id}>"><{$pro.id|countCase=###}></a></td>
            </tr>
            </volist>
          </tbody>
        </table> 	
  	</div>      		
</div>