<layout name="layout" />
<div class="container">
	<h3>轮播广告传图</h3>
	<div class="panel panel-default">
	    <div class="panel-body">
	        <form action="__URL__/pic" method="post" enctype='multipart/form-data'  role="form">
	         <input type="hidden" name="id" value="<{$arr.id}>" />
				<img alt="图片" src="__UPLOAD__/<{$_SESSION['qz']}><{$arr.path}><{$arr.img}>" height="300" class="pull-left">
	            <label for="exampleupdateTime">标题：</label>
	            <{$arr.title}> <br>描述：
	            <{$arr.remark}><br>跳转： 
	            <{$arr.url}><br>路径：
	            <{$arr.path}><br><br> 
	            <input type="file" name="img">
	            <p>* 建议上传尺寸为：900*500的PNG图片</p>
	            <br> <br>  
	             <button type="submit" class="btn btn-info  pull-left" >提 交</button>
	          </form>
	          <a href="__URL__" type="button" class="btn btn-warning pull-left">返 回</a>            
	      </div>                    
	</div>
</div>