<layout name="layout" />
<!-- Page heading -->
<div class="page-head">
	<h2 class="bread-crumb">	      	
	    <a href="__APP__/Admin"><i class="icon-gift"></i> 优惠促销</a> 
		<span class="divider">/</span> 
		<a href="__URL__" class="bread-current"> 广告轮播</a>          		        	
		<form class="form-inline pull-right" action="__URL__/index" method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="search" value="<{$search}>" placeholder="查询">
			</div>
				<button type="submit" class="btn btn-info "><i class="icon-search"> 查询</i></button>
				<a href="__URL__/add" type="button" class="btn btn-default"><i class="icon-plus"> 添加</i></a>
		</form>    	
	</h2>	      		        
	<div class="clearfix"></div>
</div>
<!-- Page heading ends -->
	
<!-- Matter -->
<div class="matter">
   <div class="container">         
      <div class="widget">               
	     <div class="widget-content referrer">                  
	        <table class="table table-striped table-bordered table-hover">
	               <thead>
		              <tr>
		                <th width=20% align="center" bgcolor="#ccc">图片</th>
		                <th width=10% align="center" bgcolor="#ccc">标题</th>
	                    <th width=10% align="center" bgcolor="#ccc">跳转</th>	                          
	                    <th width=15% align="center" bgcolor="#ccc">描述</th>                                                                             
	                    <th width=10% align="center" bgcolor="#ccc">更新时间</th>
	                    <th width=20% align="center" bgcolor="#ccc">操作</th>
		               </tr>
	               </thead>
	               <tbody>               
					<volist name='data' id='st'>
		               <tr>                          
		                 <td><img src="__UPLOAD__/<{$_SESSION['qz']}><{$st.path}><{$st.img}>"  style="width:160px;max-width: 160px;"/></td>
		                 <td><{$st.title}></td>
		                 <td><{$st.url}></td>		                          
		                 <td><{$st.remark}></td>
		                 <td><{$st.utime}></td>                         
		                 <td>                              
		                    <a href="__URL__/mod/id/<{$st.id}>" class="btn  btn-default"><i class="icon-pencil"> 编辑</i></a>
		                    <a href="__URL__/fabu/id/<{$st.id}>/state/<{$st.state}>" class="btn  btn-default"><i class="icon-pencil"> 发布/下线</i></a>
		                    <a href="__URL__/del/id/<{$st.id}>" class="btn  btn-danger" onclick="return confirm('你确定要删除？')">
		                       <i class="icon-remove"> 删除</i>
		                    </a>
		                  </td>
		                </tr>
					</volist>				
                  </tbody>                                                                                        
	            </table>
	         </div>
         </div>
     </div>
</div>
	
	
     