 <layout name="layout" />
 <div class="container">
<h3 >管理员-上传照片<a href="__URL__/index" class="btn btn-warning  pull-right">返回</a></h3>
<div class="row">
      <div class="col-sm-8">
            <p class="pull-right visible-xs"><button class="btn-xs btn-primary">tar</button></p>
            <div class="panel panel-default">  
              <div class="panel-body">
                  <form action="__URL__/image" method="post" enctype='multipart/form-data'  role="form">
                      <input type="hidden" name="id" value="<{$user.id}>" />
                      <div class="form-group input-group-lg">
                        <label for="exampleupdateTime">姓名：</label>
                        <{$user.realname}> 
                      </div>

                      <div class="form-group input-group-lg">
                          <label for="exampleInputFile"></label>
                          <input type="file" name="photo"> 
                      </div>
                      <div class="panel panel-default">
                          <img alt="头像" src="__UPLOAD__<{$user.path}><{$user.photo}>" height="200">
                      </div>                                       
                    <button type="submit" class="btn btn-info pull-left" style="margin-left:20%;">提 交</button>
                </form>
                  <div class="btn-group pull-left">
                        <a href="__URL__"><button  class="btn btn-warning btn-lg" style="margin-left:30px;">返 回</button></a>
                  </div>
              </div>
          </div>
    </div>                      
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">用户</h3></div>            
            <ul class="list-group">
            <volist name='data' id='vo' empty="没有数据">
                <li class="list-group-item" title="用户">
                	<a href="__URL__/photo/id/<{$vo.id}>""><{$vo.realname}>:<{$vo.state}></a>
                </li>
            </volist>            
            </ul>                        
        </div>          
    </div>
</div>
</div>