<layout name="layout" />
<div class="container">
 	<img src="__IMAGES__/banner.jpg" alt="安顺汽修" width="100%">
</div>

<div class="container text-center">         
   <h1 >安顺汽车服务中心</h1><br>
   <span class="hidden-sm hidden-md hidden-lg">
   <a href="tel:<{$_SESSION['Anshun']['phone']}>" class="btn btn-lg btn-outline">马上预约</a>
   </span>
   <span class="hidden-xs"><a href="#" class="btn btn-lg btn-outline">马上预约</a></span>
</div>
<hr>

<div class="function-list bg-gray">
    <div class="function clearfix">
        <div class="col-md-6 col-xs-12 ">
            <div class="function-title"><span>钣金喷漆</span></div>
            <div class="function-text">
                            钣金喷漆是一种汽车修复技术，就是把将汽车金属外壳变形部分进行修复，比如车体外壳被撞了个坑，就可以通过钣金使之恢复原样，然后再通过喷涂专用油漆，
				使变形的汽车金属表面恢复到与其他完好的地方一样，光亮如初
            </div>
            <a href="__APP__/Anshun/Servicelist/index/cate/1" class="btn btn-lg btn-outline pull-right"> 
                <span>查看更多  </span><span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>                        
         </div>
         <div class="col-md-6 col-xs-12">
             <br><img src="__IMAGES__/feature-1.jpg"  width="100%">                       
         </div>                
     </div>
     
     <div class="function clearfix">               
         <div class="col-md-6 col-xs-12"><img src="__IMAGES__/feature-2.jpg" width="100%"></div>
             <div class="col-md-6 col-xs-12">
                 <div class="function-title"><span>汽车维修</span></div>
                 <div class="function-text">
                      	汽车维修（vehicle maintenance and repair），汽车维护和修理的泛称。
                                           就是对出现故障的汽车通过技术手段排查，找出故障原因，
                           	并采取一定措施使其排除故障并恢复达到一定的性能和安全标准。
                           	汽车维修包括汽车大修和汽车小修，汽车大修是指用修理或更换汽车任何零部件（包括基础件）的方法，
                           	恢复汽车的完好技术状况和完全（或接近完全）恢复汽车寿命的恢复性修理。
                           	而汽车小修是指：用更换或修理个别零件的方法，保证或恢复汽车工作能力的运行性修理。
                 </div>
                 <a href="__APP__/Anshun/Servicelist/index/cate/2" class="btn btn-lg btn-outline pull-left"> 
                      <span>查看更多  </span><span class="glyphicon glyphicon-circle-arrow-right"></span>
                 </a>                       
             </div>                
     </div>
            
     <div class="function clearfix">
         <div class="col-md-6 col-xs-12">
             <div class="function-title"><span>汽车保养</span></div>
             <div class="function-text">
                  	 汽车保养是指定期对汽车相关部分进行检查、清洁、补给、润滑、调整或更换某些零件的预防性工作，又称汽车维护。
					 现代的汽车保养主要包含了对发动机系统（引擎）、变速箱系统、空调系统、冷却系统、燃油系统、动力转向系统等的保养范围。
					汽车保养的目的是保持车容整洁，技术状况正常，消除隐患，预防故障发生，减缓劣化过程，延长使用周期。
             </div>
             <a href="__APP__/Anshun/Servicelist/index/cate/3" class="btn btn-lg btn-outline pull-right"> 
                <span>查看更多  </span><span class="glyphicon glyphicon-circle-arrow-right"></span>
             </a>                       
         </div>
         <div class="col-md-6 col-xs-12">
              <br><img src="__IMAGES__/feature-3.jpg" width="100%">                        
         </div>               
     </div>

     <div class="function clearfix">                
          <div class="col-md-6 col-xs-12">
              <img src="__IMAGES__/feature-4.jpg" width="100%"/>                        
          </div>
          <div class="col-md-6 col-xs-12">
              <div class="function-title"><span>汽车用品</span></div>
              <div class="function-text">
                  	汽车用品（automobile accessories）是指应用于汽车改装、汽车美容、汽车装饰等汽车电子及零部件等相关产品。
                                    汽车是现代生活的必需品。越来越多的人拥有了自己的私家车，汽车用品或者说汽车保养用品也就成了车辆保养所必不可少的一部分。
                                    汽车用品按功能分类，可分为保养类、装饰类、清洁类等。
              </div>
              <a href="__APP__/Anshun/Servicelist/index/cate/5" class="btn btn-lg btn-outline pull-left"> 
                 <span>查看更多  </span><span class="glyphicon glyphicon-circle-arrow-right"></span>
              </a>
           </div>
     </div>
  <div class="function clearfix">
       <img src="__IMAGES__/ditu.jpg" alt="安顺汽修" width="100%">       	 
  </div>          
</div>
        

        

       

        

        

        

        


        
            
