<layout name="layout" />     
	<div class="row">
        <div class="col-sm-9">
           	<p class="pull-right visible-xs">
               <button class="btn-xs btn-primary"></button>
           	</p>
           	<div class="panel panel-primary">
             	<div class="panel-heading">
                 	<h1 class="panel-title">关于我们</h1>
             	</div>
             	
              <img alt="关于我们" src="__UPLOAD__<{$_SESSION['img']}>" height="400" width="100%">
             	
           	</div>
           	
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
             	<div class="panel-heading">
                  	<h3 class="panel-title">关于我们</h3>
            	</div>            
                <ul class="list-group">
			        <li class="list-group-item">关于我们</li>
			        <li class="list-group-item"><a href="__APP__/Tuocai/About/hr" title="诚聘人才">诚聘人才</a></li>
			    </ul>                        
            </div>
            <div class="panel panel-primary">
             	<div class="panel-heading">
                 	<h1 class="panel-title">联系方式</h1>
             	</div>
             	<div class="panel-body">
             		<div class="danye_main">
         				<dd><{$_SESSION['web']}></dd>
         				<dd>地址：<{$_SESSION['adress']}></dd>
         				<dd>热线：<{$_SESSION['telphone']}></dd>
         				<dd>网站：<a href="__APP__/Tuocai"><{$_SESSION['weburl']}></a></dd> 
            		</div>     	
             	</div>
           	</div>          
        </div>
    </div>