<layout name="layout" />     
<!-- Page heading -->
	    <div class="page-head">
	      	<h2 >
		      	<!-- Breadcrumb -->
		        <div class="bread-crumb pull-left">
		          <a href="__APP__/Admin"><i class="icon-cog"></i> 设置</a> 
		          <span class="divider">/</span> 
		          <a href="__URL__" class="bread-current">新CRM对象API</a>          
		        </div>	      			      	
		      	<ul class="nav navbar-nav pull-right">			          
			          <li class="dropdown pull-right">            
			            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
			              <i class="icon-retweet"></i> <{$_SESSION['otable']}> <b class="caret"></b>              
			            </a>
			            <ul class="dropdown-menu">
			              	<volist name='arr' id='st'>
							  	<li ><a  href="__URL__/index/otable/<{$st.otable}>"><{$st.otable}></a></li>			  				  
							</volist>
			            </ul>
			          </li>			          	          
		        </ul>	       
	      	</h2>	      		        
	        <div class="clearfix"></div>
	    </div>
	<!-- Page heading ends -->

	<!-- Matter -->
	  <div class="matter">
        <div class="container">                   
              <div class="widget">
                <div class="widget-content medias">                 
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>                                                    
                          <th width=10% align="center" bgcolor="#ccc">objecttypecode</th>
                          <th width=10% align="center" bgcolor="#ccc">fieldname</th>
                           <th width=10% align="center" bgcolor="#ccc">fieldvalue</th>
                          <th width=10% align="center" bgcolor="#ccc">displaytext</th>                                                                            
                          <th width=10% align="center" bgcolor="#ccc">displayorder</th>                        
                        </tr>
                      </thead>
                      <tbody>              
					<volist name='data' id='st'>
                        <tr>                          
                          <td><{$st.objecttypecode}></td>
                          <td><{$st.fieldname}></td>
                          <td><b><{$st.fieldvalue}></b></td>
                          <td><b><{$st.displaytext}></b></td>
                          <td><{$st.displayorder}></td>                                                  
                        </tr>
					</volist>				
                      </tbody>
                    </table>
                </div>
              </div>                
        </div>
	</div>
	<!-- Matter ends -->
