<layout name="layout" />
<div class="row">
	<div class="col-md-3 ">
		<div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">分类</h3></div>
			<ul class="list-group">
			 		<volist name='arr' id='st' empty="暂无分类">            
			            <li class="list-group-item">
			                <a href="__URL__/index/cate/<{$st.id}>" title="<{$st.pid|getCatname=###}>-<{$st.catname}>">
			                	<{$st.pid|getCatname=###}>-<{$st.catname}>
			                </a>			                
			            </li>
					</volist>    
				</ul>
		</div>
	</div>
	<div class="col-md-9 ">
		<div class="panel panel-info">
			<div class="panel-heading"><h3 class="panel-title">产品&服务</h3></div>
			<div class="panel-body">
			<volist name='data' id='ar' empty="没有数据">
	      	<div class="col-xs-12 col-md-3">
				<div class="thumbnail" >
					<a href="__APP__/Demo/Service/index/id/<{$ar.id}>" >
						<img data-src="holder.js/100%x180" src="__UPLOAD__<{$ar.path}><{$ar.img}>" alt="<{$ar.img}>"  height="180px">
					</a>
					<div class="caption"><h5><{$ar.name}></h5></div>
				</div>
			</div>
			</volist>
			</div>			       		
		</div>
	</div>
	
</div>