<layout name="layout" />
 <!-- content start -->
 <div class="admin-content">
	<div class="row"> 
		  <div class="col-md-8">
		  	<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title"><{$arr.id|getPro=###}>	    		
			    	<div class="btn-group pull-right">
			    		<a data-toggle="modal" href="#tianjrisk" class=" btn btn-info btn-xs" >添加</a>				    	
				    </div>
			    </h3>
			  </div>
			  <div class="panel-body table-responsive">	    		  
			    <ul class="nav nav-pills" role="tablist">
					  <li role="presentation" ><a href="__APP__/<{$Think.config.PRODUCT}>/Stage/index/proid/<{$arr.id}>">里程碑
					  <span class="badge"><{$arr.id|countId='tp_stage','proid',###}></span></a></li>
					  <li role="presentation" class="active"><a href="__APP__/<{$Think.config.PRODUCT}>/Risk/index/proid/<{$arr.id}>">风险
					  <span class="badge"><{$arr.id|countId='tp_risk','proid',###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Prosys/index/proid/<{$arr.id}>">涉及系统
					  <span class="badge"><{$arr.id|countId='tp_prosys','proid',###}></span> </a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Func/func/proid/<{$arr.id}>">功能点
					  <span class="badge"><{$arr.id|countProFunc=###}></span></a></li>
					  <li role="presentation" ><a href="__APP__/<{$Think.config.PRODUCT}>/Func/range/proid/<{$arr.id}>">范围
					  <span class="badge"><{$arr.id|countRange=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Scene/index/proid/<{$arr.id}>/copy/<{$arr.id}>">场景
					  <span class="badge"><{$arr.id|countId='tp_scene','proid',###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Case/library/proid/<{$arr.id}>">用例
					  <span class="badge"><{$arr.id|countId='tp_case','fproid',###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Index/rule/proid/<{$arr.id}>">需求
					  <span class="badge"><{$arr.id|countPRules=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Index/bug/proid/<{$arr.id}>">禅道BUG
					  <span class="badge"><{$arr.id|countId='bug','project',###}></span></a></li>
				</ul>
				<table class="table table-striped table-bordered table-hover table-condensed ">         
			         <form action="__URL__/order" method="post" >
			         <input type="hidden" name="table" value="tp_risk" />
			         <volist name='risks' id='st' empty="没有数据">
			            <tr> 
			            	<td align="center" ><input type="text" name="sn[<{$st.id}>]" value="<{$st.sn}>"  class="input40"/></td>
			                <td ><a href="__URL__/mod/id/<{$st.id}>/proid/<{$st.proid}>" ><{$st.risk}></a></td>
			                <td align="center" ><{$st.level}></td>
			                <td align="center" ><a href="#"><{$st.state}></a></td>
			                <td align="center" ><a href="__URL__/mod/id/<{$st.id}>/proid/<{$st.proid}>" ><{$st.amethod}></a></td>               
			                <td align="center" ><{$st.moder}></td>                
			                <!-- <td align="center" >
			                   <a href="__URL__/del/id/<{$st.id}>" onclick="return confirm('你确定要删除风险：<{$st.risk}>？')">删除</a>
			                </td> -->           	                                         
			            </tr>
			            </volist>
			            	<tr><td  colspan="10"><input type="submit" name="do_submit" value="批量排序" class="btn"></td></tr>
			            </form>
			       </table>
			    </div>
		  	</div>		  
		  </div>
		  <div class="col-md-3 hidden-xs hidden-sm"> 		  
			  <ul class="list-group">
			    <volist name='pros' id='pro' empty="没有数据"> 			
		           <switch name="pro.id">
						<case value="$arr.id"> <li class="list-group-item list-group-item-warning"></case>					   					    
						<default /><li class="list-group-item ">
				 	</switch> 
		            	<a href="__URL__/index/proid/<{$pro.id}>"><span class="badge"><{$pro.status|getProst=###}></span><{$pro.name}></a>
		            	<!--  <span class="badge"><{$pro.id}></span>-->
		            </li>
		        </volist>
		      </ul>	    	 
		  </div>
	  
	</div> 
</div>

<!-- 添加-模态框 -->
<div class="modal fade " id="tianjrisk" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">风险-添加</h4>
	    </div>
	    <div class="modal-body">
	      	<form action="__URL__/insert" method="post" class="form-horizontal" role="form" >
	      	<input type="hidden" name="proid" value="<{$arr.id}>" />
				<div class="form-group">
					<label for="short" class="col-sm-2 control-label">顺序:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="sn" value="<{$c}>" placeholder="顺序">
					</div>
				</div>
				<div class="form-group">
					<label for="product" class="col-sm-2 control-label">风险:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="risk" value="" placeholder="风险" />
					</div>
				</div>
				<div class="form-group">
					<label for="state" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10"><{$state}></div>
				</div>
				<div class="form-group">
					<label for="state" class="col-sm-2 control-label">级别:</label>
					<div class="col-sm-10"><{$level}></div>
				</div>
				<div class="form-group">
					<label for="state" class="col-sm-2 control-label">方案:</label>
					<div class="col-sm-10"><{$tamethod}></div>						
				</div>
				<div class="form-group">
					<label for="state" class="col-sm-2 control-label">备注:</label>
					<div class="col-sm-10"><{$tremaks}></div>					
				</div>
				
		</div>
		<div class="modal-footer">
		     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		     <button type="submit" class="btn btn-primary">提交</button></form>
		</div>
    </div>       
  </div>