html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body{line-height: 1;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,q:before, q:after{content: '';content: none;}
:focus{outline: 0;}
ins{text-decoration: none;}
del{text-decoration: line-through;}
table{border-collapse: collapse;border-spacing: 0;}
body{line-height: 18px;font-family: 'Droid Sans', Arial, sans-serif;font-size: 12px;color: #838383;text-shadow: 1px 1px 1px #ffffff;background-color: #15191f;}
a{text-decoration: none;color: #00b7f3;}
a:hover{text-decoration: underline;}
.clear{clear: both;}
.ui-tabs-hide{display: none;}
br.clear{margin: 0px;padding: 0px;}
h1, h2, h3, h4, h5, h6{padding-bottom: 5px;color: #111;letter-spacing: -1px;line-height: 1em;font-weight: normal;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{color: #111;}
h1{font-size: 30px;}
h2{font-size: 24px;}
h3{font-size: 22px;}
h4{font-size: 18px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
p{padding-bottom: 10px;line-height: 18px;}
strong{font-weight: bold;color: #1c1c1c;}
cite, em, i{font-style: italic;}
pre, code{font-family: Courier New, monospace;margin-bottom: 10px;}
ins{text-decoration: none;}
sup, sub{height: 0;line-height: 1;position: relative;vertical-align: baseline;}
sup{bottom: 0.8em;}
sub{top: 0.3em;}
dl{margin: 0 0 1.5em 0;}
dl dt{font-weight: bold;}
dd{margin-left: 1.5em;}
blockquote{margin: 1.5em;padding: 1em;color: #666666;background: #e6e6e6;font-style: italic;border: 1px solid #dcdcdc;}
blockquote p{padding-bottom: 0px;}
input[type=text],input.text, input.title, textarea, select{background-color:#fff;border:1px solid #bbb;padding: 2px;color: #4e4e4e;}
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus{border-color:#2D3940;color: #3e3e3e;}
input[type=text], input.text, input.title, textarea, select{margin:0.5em 0;}
textarea{padding: 4px;}
img#about-image{float: left;margin: 3px 8px 8px 0px;}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix{zoom: 1;}
/* IE6*/*:first-child+html .clearfix{zoom: 1;}
/*------------------------------------------------*//*--------------[FEATURED SLIDER]-----------------*//*------------------------------------------------*/
.container{text-align: left;margin: 0 auto;width: 960px;position: relative;}
#featured{overflow: hidden;height: 403px;position: relative;}
#featured .slide{position: absolute;z-index: 1;background: url(../images/slide-bg.png) no-repeat;padding: 6px 6px 25px;}
#featured .active{z-index: 2;background: url(../images/active-slide-bg.png) no-repeat;padding: 6px 6px 25px;}
#slider-left-overlay, #slider-right-overlay{position: absolute;top: 60px;height: 263px;z-index: 3;}
#slider-left-overlay{background: url(../images/slider-left-overlay.png) no-repeat;width: 169px;left: 0;}
#slider-right-overlay{background: url(../images/slider-right-overlay.png) no-repeat;width: 171px;right: 0;}
#featured .description{display: none;background: url(../images/featured-description-bg.png) no-repeat;position: absolute;bottom: 25px;left: 6px;width: 500px;height: 38px;padding: 18px 7px 0 15px;font-size: 24px;}
#featured .description, #featured .description h2{color: #fff;text-shadow: 1px 1px 1px rgba(0,0,0,0.4);}
#featured .additional{display: none;background: url(../images/featured-hover-overlay.png);position: absolute;top: 6px;left: 6px;width: 500px;height: 334px;}
#featured .active .description{display: block;}
#featured a.prevslide, #featured a.nextslide{display: block;width: 30px;height: 40px;position: absolute;top: 154px;text-indent: -9999px;}
#featured a.prevslide{background: url(../images/featured-left-arrow.png) no-repeat;left: 29px;}
#featured a.nextslide{background: url(../images/featured-right-arrow.png) no-repeat;right: 30px;}
#featured a.featured-zoom, #featured a.featured-more{display: block;width: 40px;height: 43px;position: absolute;text-indent: -9999px;top: 150px;}
#featured a.featured-zoom{background: url(../images/featured-zoom.png) no-repeat;left: 211px;}
#featured a.featured-more{background: url(../images/featured-more.png) no-repeat;left: 263px;}
/*www.js-css.cn*/