<layout name="layout" />
<div class="panel-body">
<h3><{$userid|getCusName=###}>的课程表</h3>   	  
    <!-- <ul class="nav nav-pills" role="tablist">
		  <li role="presentation" class="active"><a href="#">未开始</a></li>
		  <li role="presentation"><a href="#">已完成</a></li>	  
	</ul> -->
	<div class="panel panel-default">
		  <ul class="list-group">		   
			   <volist name='data' id='st' empty="没有数据">
			     <li class="list-group-item">		        
			       <div class="row">
				       	<div class="col-md-4">				       					       	
					       	【 <{$st.cusid|getCusName=###}>】老师的
					       	《<{$st.courseid|getServiceName=###}>》			       	
				       	</div>
				        <div class="col-md-4">&nbsp;&nbsp;上课时间：<{$st.riqi}>&nbsp;<{$st.sktime}></div>
				        <div class="col-md-4">&nbsp;&nbsp;上课地点：<{$st.adress}></div>		        		                				        
			        </div>
			      </li>
			   </volist>
		</ul>
    </div>
  </div>