<layout name="layout" />
<!-- Page heading -->
	    <div class="page-head">
	      	<h2 class="bread-crumb">		      
		        <a href="__APP__/Admin"><i class="icon-user"></i> 客户管理</a> 
		        <span class="divider">/</span> 
		        <a href="__URL__" class="bread-current">客户</a>
		        <span class="divider">/</span>详情          
		        
		        <a href="__URL__" class="pull-right"><i class="icon-arrow-left"> 返回</i></a>      
	      	</h2>	      		        
	        <div class="clearfix"></div>
	    </div>
	<!-- Page heading ends -->
<!-- Matter -->
<div class="matter">
    <div class="container">
    	<ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#changgui" data-toggle="tab">常规</a></li>
                      <li><a href="#daifh" data-toggle="tab">基本信息</a></li>
                      <li><a href="#yifh" data-toggle="tab">海房</a></li>
                      <li><a href="#tuikz" data-toggle="tab">退款中</a></li>
                      <li><a href="#yiwc" data-toggle="tab">已完成</a></li>
                      <li><a href="#yigb" data-toggle="tab">已关闭</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
             <div class="tab-pane fade in active" id="changgui">                    
                	<div class="widget-content">
			            <form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                                                       
			                 <input type="hidden" name="productId" value="<{$arr.productid}>" />                                        
			                 <div class="form-group">			                 	
			                 	<label class="col-lg-2 control-label">客户姓名:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">客户类型:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">性别:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">来访类型:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">移动电话:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">客户信息来源:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">移民类型:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">详细来源:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">移民项目:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">转顾问日期:</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">项目名称:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">市场跟进人员:</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">常用Email:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">商务合作跟进人员:</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">固定电话:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">渠道合作方来源:</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">城市:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">老客户转介绍:</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">邮寄地址:</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">邮政编码</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">签约日期</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">职能部门跟进人员</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">咨询顾问</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">MSN/QQ</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">首次咨询日期</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">原申请项目</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">转项目日期</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">曾用名</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">微信绑定号码</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                 <div class="form-group">                	
			                 	<label class="col-lg-2 control-label">小蜜蜂</label>
			                    <div class="col-lg-4"><input type="text" class="form-control" name='AccountName' value="<{$arr.accountname}>" placeholder="AccountName(客户姓名)"></div>
			                    <label class="col-lg-2 control-label">微信群</label>
			                    <div class="col-lg-4"><input type="date" class="form-control" name='sn' value="<{$arr.sn}>" placeholder="sn"></div>
			                 </div>
			                                                                                    
			                  <div class="form-group">	                          
				                  <label class="col-lg-4 control-label">描述：</label>	                          	                          
				                  <div  class=" col-lg-8"><textarea name="content" class="form-control"><{$arr.content}></textarea></div>		                          	                          
				              </div>
				              
			                  <hr />
			                  <div class="form-group">
			                      <div class="col-lg-offset-1 col-lg-8">
			                             <button type="submit" class="btn btn-primary btn-lg btn-block" disabled="disabled">提交</button>                                                                   
			                      </div>                             
			                  </div>
			               </form>
			          </div>					
             </div>
                      <div class="tab-pane fade" id="daifh">
                      		<p>待发货</p>
                      </div>
                      <div class="tab-pane fade" id="yifh">
                      		<p>已发货</p>
                      </div>
                      <div class="tab-pane fade" id="tuikz">
                      		<p>退款中</p>
                      </div>
                      <div class="tab-pane fade" id="yiwc">
                      		<p>已完成</p>
                      </div>
                      <div class="tab-pane fade" id="yigb">
                      		<p>已关闭</p>
                      </div>
         </div>
    

                        
     </div>
</div>
<!-- Matter ends -->