<layout name="layout" />
<div class="container">
	<div class="row">
        <div class="col-sm-12">           	
           	<div class="panel panel-primary">
             	<div class="panel-heading">
                 	<h1 class="panel-title"><{$_SESSION['Anshun']['web']}></h1>
             	</div>             	            	
              <img alt="关于我们" src="__UPLOAD__<{$_SESSION['Anshun']['img']}>" height="400" width="100%">
              <div class="panel-body">           		
         			<br>
         			<dd>地址：<{$_SESSION['Anshun']['adress']}></dd>
         			<dd>热线：<a bref="tel:<{$_SESSION['Anshun']['phone']}>"><{$_SESSION['Anshun']['phone']}></a></dd>
         			<dd>网站：<a href="__APP__/Anshun">www.anshunqixiu.com</a></dd>             		    	
             </div>             	
           	</div>       	          	
        </div>
 	</div>
</div>


