 <layout name="layout" />
 <!-- Page heading -->
<div class="page-head">
	<h2 class="bread-crumb">					     
		<a href="#"><i class="icon-group"></i> 人员管理</a> 
		<span class="divider">/</span> 
		<a href="__URL__" class="bread-current">招聘信息</a> 
		<span class="divider">/</span> 新增
		<a href="__URL__"  class="btn pull-right" >返 回</a>			  
	</h2>       
  	<div class="clearfix"></div>
</div>
<!-- Page heading ends -->

<!-- Matter -->
<div class="matter">
    <div class="container">
        <div class="widget-content">
			<form action="__URL__/insert" method="post" enctype='multipart/form-data' class="form-horizontal" role="form">                                                        
               <div class="form-group">
                   <label class="col-lg-4 control-label">职位:</label>
                   <div class="col-lg-4">
                                 <input type="text" class="form-control" name="title" value="" placeholder="职位" >
                   </div>
                   <label class="col-lg-2 control-label">人数:</label>
                   <div class="col-lg-2">
                       <input type="text" class="form-control" name="num" value="1" placeholder="招聘人数" >
                   </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">地点:</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="place" value="" placeholder="地点,悬赏类职位不得出现详细地址" >
                    </div>
                    <label class="col-lg-2 control-label">薪酬:</label>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" name="salary" value="面议" placeholder="薪酬" >
                    </div>                             
                </div> 
                <div class="form-group">
                     <label class="col-lg-4 control-label">悬赏:</label>
                     <div class="col-lg-8">
                         <input type="text" class="form-control" name="istuij" value="0"  >
				         <p>0.代表不进行悬赏；1.代表悬赏推荐职位</p>
                     </div>
                 </div> 
                <div class="form-group">
	                <label class="col-lg-4 control-label">描述:</label>
	                <div class="col-lg-8">
	                    <textarea class="cleditor" name="desc"><{$arr.desc}></textarea>	
	                    <p>描述中不得出现任何地址、电话、公司名称等信息，否则不予发布</p>                    
	                </div>
	            </div><hr />
                <div class="form-group">
                     <div class="col-lg-offset-1 col-lg-8">
                          <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>                       
                     </div>
                </div>
           </form>
       </div>                
   </div>
</div>
<!-- Matter ends -->