<layout name="layout" />
<style type="text/css">
h1{text-align:center;}
.zpq{position: relative;mini-height:700px;}


	img{
	padding: 10px 10px 15px;
	background-color:#fff;
	border: 1px solid #ddd;
	position: absolute; 	
	-webkit-transition: 2s;
	-moz-transition: 2s;
	transition: 2s;
	z-index:1;
}
img:hover{
	top: 40px;
	left: 220px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform: scale(2.5);
	-moz-transform: scale(2.5);
	transform: scale(2.5);
	box-shadow: -10px 10px 15px #ccc;
	z-index:2;
}

.pic1{
	top: 40px;
	left: 220px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.pic2{
	top: 40px;
	left: 500px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.pic3{
	top: 490px;
	left: 150px;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);
}

.pic4{
	top: 340px;
	left: 300px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
}



.pic5{
	top: 370px;
	left: 0px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.pic6{
	top: 50px;
	left: 0px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
}
.pic7{
	top: 40px;
	left:750px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	transform: rotate(20deg);
}
.pic8{
	top: 480px;
	left: 530px;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);
}

.pic9{
	top: 290px;
	left: 850px;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	transform: rotate(15deg);
}


.pic10{
	top: 320px;
	left: 580px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

</style>
<div class="row">
    <div class="panel panel-info" >
    	<div class="panel-body" mini-height="700px">
			<h1>成功案例</h1>
			<div class="zpq" >
				<img class="img pic1" src="__IMAGES__/ggp/1.jpg" width=350px;>
				<img class="img pic2" src="__IMAGES__/ggp/2.jpg" width=350px;>
				<img class="img pic3" src="__IMAGES__/ggp/3.jpg" width=350px;>
				<img class="img pic4" src="__IMAGES__/ggp/4.jpg" width=350px;>
				<img class="img pic5" src="__IMAGES__/ggp/5.jpg" width=350px;>
				<img class="img pic6" src="__IMAGES__/ggp/6.jpg" width=350px;>
				<img class="img pic7" src="__IMAGES__/ggp/7.jpg" width=350px;>
				<img class="img pic8" src="__IMAGES__/ggp/8.jpg" width=350px;>
				<img class="img pic9" src="__IMAGES__/ggp/9.jpg" width=350px;>
				<img class="img pic10" src="__IMAGES__/ggp/10.jpg" width=350px;>

			</div>

    	</div>
    </div>
</div>
