<layout name="layout" />
<div class="row">
   <div class="col-sm-12">
          <div class="panel panel-default">  
            <div class="panel-body">
                <form action="__URL__/insert" method="post" enctype='multipart/form-data'  role="form">                 
                    <div class="form-group ">
					    <label for="inputEmail3" class="col-sm-2 control-label">岗位:</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" name="title" value="" placeholder="岗位" >  
					    </div>
					</div>
					<div class="form-group ">
					    <label for="inputEmail3" class="col-sm-2 control-label">薪酬:</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" name="salary" value="面议" placeholder="薪酬" >  
					    </div>
					</div>
					<div class="form-group ">
					    <label for="inputEmail3" class="col-sm-2 control-label">工作地点:</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" name="place" value="河北-临城" placeholder="工作地点" >  
					    </div>
					</div>
					
                    <div class="form-group ">
					    <label for="inputEmail3" class="col-sm-2 control-label">职位描述:</label>
					    <div class="col-sm-9">
					      <input type="phone" class="form-control" name="desc" value="" placeholder="职位描述" > 					     
					    </div>
					</div>
					                                  
					<div class="form-group ">
						<label for="inputEmail3" class="col-sm-2 control-label"></label>
						<div class="col-sm-9">&nbsp;</div>
					</div>
					<div class="form-group ">
						<label for="inputEmail3" class="col-sm-2 control-label"></label>
						<div class="col-sm-5">
							<button type="submit" class="btn btn-info">提 交</button></form>
						</div>
						<div class="col-sm-4">
							<a href="__URL__" class="btn btn-warning" >返 回</a>
						</div>
						
		</div>					
    </div>
</div></html>