<layout name="layout" />
 <!-- content start -->
 <div class="admin-content">
	<div class="row"> 
	  <div class="col-md-9">
	  		<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title"><{$arr.id|getPro=###}><div class="btn-group pull-right"><a href="__APP__/<{$Think.config.PRODUCT}>"  class="btn btn-warning btn-xs">返回</a></div></h3>
			 </div>
			  <div class="panel-body table-responsive">		   	   
			    <ul class="nav nav-pills" role="tablist">
					  <li role="presentation" ><a href="__APP__/<{$Think.config.PRODUCT}>/Stage/index/proid/<{$arr.id}>">里程碑
					  <span class="badge"><{$arr.id|countStage=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Risk/index/proid/<{$arr.id}>">风险
					  <span class="badge"><{$arr.id|countRisk=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Prosys/index/proid/<{$arr.id}>">涉及系统
					  <span class="badge"><{$arr.id|countProsys=###}></span> </a></li>
					  <li role="presentation" class="active"><a href="__APP__/<{$Think.config.PRODUCT}>/Func/func/proid/<{$arr.id}>">功能点
					  <span class="badge"><{$arr.id|countProFunc=###}></span></a></li>
					  <li role="presentation" "><a href="__APP__/<{$Think.config.PRODUCT}>/Func/range/proid/<{$arr.id}>">范围
					  <span class="badge"><{$arr.id||countRange=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Scene/index/proid/<{$arr.id}>/copy/<{$arr.id}>">场景
					  <span class="badge"><{$arr.id|countScene=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Case/library/proid/<{$arr.id}>">用例
					  <span class="badge"><{$arr.id|countCase=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Index/rule/proid/<{$arr.id}>">需求
					  <span class="badge"><{$arr.id|countPRules=###}></span></a></li>
					  <li role="presentation"><a href="__APP__/<{$Think.config.PRODUCT}>/Index/bug/proid/<{$arr.id}>">禅道BUG
				  <span class="badge"><{$arr.id|countBug=###}></span></a></li>
				</ul>
				<table class="table table-striped table-bordered table-hover table-condensed ">
			         <volist name='data' id='st' empty="没有数据">
			            <switch name="st.fproid">
							<case value="$arr.id"> <tr class="info"></case>
							<default /><tr class="default">
						</switch>
			                <td align="left" >
			                	<span class="label label-default"><{$st.branch|getBranchName=###}></span>
			                	<span class="label label-info"><{$st.parent|getModuleName=###}></span>
			                	<span class="label label-info"><{$st.name}></span>
			                	<b><{$st.func}>(ID:<{$st.id}>)</b>
			                	<span class="label label-default"><{$st.state}></span>
			                   <div class="btn-group pull-right">
			                   		<a href="__URL__/modproid/id/<{$st.id}>/fproid/<{$arr.id}>  " type="button" class="btn btn-warning btn-xs"
			                   		onclick="return confirm('你确定要变更该功能的所属项目吗？')" ><{$st.fproid|getProNo=###}>
			                       	</a>
									<button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">用例 
										<span class="badge"><{$st.id|countFCase=###}></span><span class="caret"></span>
									</button>
									<ul class="dropdown-menu " role="menu">
										<li ><a target="_blank" href="__APP__/<{$Think.config.PRODUCT}>/Case/index/funcid/<{$st.id}>">用例 
										<span class="badge pull-right"><{$st.id|countFCase=###}></span></a></li>
										<li class="divider "></li>
										<li ><a target="_blank" href="__APP__/<{$Think.config.PRODUCT}>/Element/index/funcid/<{$st.id}>">数据模板</a></li>						    
									</ul>
								</div>
			               </td>                  
			            </tr>
			            </volist>
			       </table>
			    </div>
	  </div>
	   
	  </div>
	  <div class="col-md-3 hidden-xs hidden-sm">
	  	<ul class="list-group">
		    <volist name='pros' id='pro' empty="没有数据"> 			
	            <switch name="pro.id">
					<case value="$arr.id"> <li class="list-group-item list-group-item-warning"></case>					   					    
					<default /><li class="list-group-item ">
				</switch>   
	            	<a href="__URL__/func/proid/<{$pro.id}>"><span class="badge"><{$pro.status|getProst=###}></span><{$pro.name}></a>
	            </li>
	        </volist>
	      </ul>	  			 
	  </div>  
	</div> 
</div>
