<layout name="layout" />
 <!-- content start -->
 <div class="admin-content">
 	<div class="am-cf am-padding">
  		<div class="am-fl am-cf">
  			<strong class="am-text-primary am-text-lg"><a href="__URL__/index/pathid/<{$func.pathid}>">功能点</a></strong> / 
  			<small>编辑</small>
  		</div>	
  	</div> 
	<div class="row">		
  		<div class="col-md-7">	
  			<div class="panel-body">
  		     	<form action="__URL__/update" method="post" class="form-horizontal" role="form" >
  		     	  <input type="hidden" name="id" value="<{$func.id}>" /> 
  		     	  <input type="hidden" name="table" value="tp_func" />  		     	  
  		     	    <div class="form-group">
  		     	      <div class="col-sm-2 control-label"></div>
  		     	      <div class="col-sm-10"><{$func.moder}>更新于:<{$func.utime}></div>
  		     	    </div>
					  <div class="form-group">					   
					    <label class="col-sm-2 control-label">顺序:</label>
					    <div class="col-sm-10"><input type="text" class="form-control" name="sn" value="<{$func.sn}>" placeholder="顺序"></div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-2 control-label">功能:</label>
					    <div class="col-sm-10"><input type="text" class="form-control" name="func" value="<{$func.func}>" placeholder="功能点"></div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-2 control-label">状态:</label>
					    <div class="col-sm-10"><{$state}></div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-2 control-label">项目:</label>
					    <div class="col-sm-10"><{$fproid}></div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-2 control-label"></label>
					    <div class="col-sm-10"></div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-2 control-label"></label>
					    <div class="col-sm-10"><button type="submit" class="btn btn-info btn-block ">提 交</button></div>
					  </div>					  
					  
                </form>
                
  		     	</div>	           
  		</div>	
  		<div class="col-md-4 hidden-xs hidden-sm">               
	            <ul class="list-group">
		  			 <volist name='data' id='vo' empty="没有数据">
			  			 <li class="list-group-item" >
			            	<a href="__URL__/mod/id/<{$vo.id}>/pathid/<{$func.pathid}>"><{$vo.sn}>.<{$vo.func}>【<{$vo.state}>】<{$vo.fproid|getProNo=###}></a>
						</li>
		        	</volist>
	        	</ul>
        	</div>                            	
  		</div>	 
	</div>           
