<layout name="layout" />	
<div class="row">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<{$arr.cate|getCatname=###}>-<b><{$arr.name}></b>
				<a href="__APP__/<{$JC}>/Servicelist/index/cate/<{$arr.cate}>" class="pull-right">返回分类</a>
			</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-3 ">
				<img src="__UPLOAD__<{$arr.path}><{$arr.img}>" alt="<{$arr.img}>"  height="180px">		
			</div>
			<div class="col-md-7 ">
				<h5>编号：<{$arr.mark}></h5>
				<h4>名称：<{$arr.name}></h4>
				<h4>价格：<b>￥<{$arr.money}></b>(市场价：<s><em>￥<{$arr.smoney}></em></s>)</h4>
				<!--<h4>运费：￥<{$arr.wlmoney}></h4>-->
				<h5>规格：<{$arr.weight}></h5>
				<a href="#" class="btn btn-info btn-xs">咨询预约</a>
				<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=<{$_SESSION[$JC]['qq']}>&amp;site=qq&amp;menu=yes" class="btn-xs" target="_blank">
					<img border="0" title="在线客服" alt="在线客服" style="margin-top:0px;" src="http://wpa.qq.com/pa?p=2:<{$_SESSION[$JC]['qq']}>:41">
				</a>	
			</div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading"><h3 class="panel-title">详情介绍：</h3></div>
		<div class="panel-body"><p><{$arr.content}></p></div>		
	</div>
</div>

	