 <layout name="layout" />
 <div class="container">
  	<div class="panel panel-info">
	  <div class="panel-heading">项目规则（<{$_SESSION['proid']|getProNo=###}> ）</div>
	  
	    <div class="starter-template">             
	        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">               
	         	<volist name='data' id='st' empty="没有规则">
	            <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading<{$st.id}>">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#<{$st.id}>" aria-expanded="true" aria-controls="<{$st.id}>">
						    	                                
			                <{$st.id}>:<b><{$st.branch}>-<{$st.moduleid|getModuleName=###}></b>【#<{$st.version}>】<{$st.title}>
					        <span class='pull-right'>
					        <span class="label label-info"><{$st.status}></span> 
					        <span class="label label-warning"><{$st.openedby}></span>  
				         	<span class="badge"><{$st.lastediteddate}></span><br>		         	          	                  	         	                	                
			           		</span>															      
					 </h4>
					 </div>
						<div id="<{$st.id}>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<{$pro.id}>">
						    <div class="panel-body">
							    <ul class="list-group">
							    <{$st.id|getStorySpec=###}>
							    </ul>
							    
						    </div>
						</div>
	  			</div>                     
	            </volist>
	        </div>
	     </div> 
	</div>
</div>
    
