<layout name="layout" />  

<div class="row">
<h3><{$arr.web}></h3>
	<div class="col-md-3">
		<form action="__URL__/img" method="post" enctype='multipart/form-data'  role="form">
		<input type="hidden" name="id" value="<{$arr.id}>" />  		                                  		              
		    <div class="panel panel-default" >
		        <img alt="形象图" src="__UPLOAD__/<{$_SESSION['qz']}><{$arr.path}><{$arr.img}>" width="100%">		                
		    </div> 
		    <div class="form-group">
		        <label for="exampleInputFile"></label>
		        <input type="file" name="img"> 
		    </div>                           
		    <button type="submit" class="btn btn-info" >上 传</button>
		</form>
	</div>
	<div class="col-md-3">
		<div class="thumbnail" >
			<img src="__IMAGES__/<{$_SESSION['qz']}>/WechatIMG1.jpeg" alt="__IMAGES__/<{$_SESSION['qz']}>/WechatIMG1.jpeg" width="100%">
			<div class="caption"><h4>扫描二维码关注微信公众号</h4></div>
		</div>
	</div>
	<div class="col-md-4">
		<form action="__URL__/update" method="post" enctype='multipart/form-data'  role="form">
		<input type="hidden" name="id" value="<{$arr.id}>" />
		    <div class="form-group ">
		        <label for="exampleInputusername" class="col-sm-3 control-label">网站：</label>
		        <div  class="col-sm-9">
		            <input type="text" class="form-control" name="web" value="<{$arr.web}>" placeholder="网站" readonly>
				</div>
		    </div>
		    
		    <div class="form-group ">
		         <label for="exampleInputusername" class="col-sm-3 control-label">版本：</label>
		         <div  class="col-sm-9">
		              <input type="text" class="form-control" name="version" value="<{$arr.version}>" placeholder="版本号" readonly>
				 </div>
		    </div>
		    <div class="form-group ">
		         <label for="exampleInputusername" class="col-sm-3 control-label">网址：</label>
		         <div  class="col-sm-9">
		             <input type="text" class="form-control" name="url" value="<{$arr.url}>" placeholder="网址" readonly>
				 </div>
		     </div>
		     <div class="form-group ">
		          <label for="exampleInputusername" class="col-sm-3 control-label">备案：</label>
		          <div  class="col-sm-9">
		              <input type="text" class="form-control" name="record" value="<{$arr.record}>" placeholder="备案号" readonly>
				  </div>
		     </div>
		     <div class="form-group ">
		         <label for="exampleInputusername" class="col-sm-3 control-label">Keys：</label>
		         <div  class="col-sm-9">
		              <input type="text" class="form-control" name="keywords" value="<{$arr.keywords}>" placeholder="关键字" readonly>
				 </div>
		     </div>
		     
		     <div class="form-group ">
		         <label for="exampleInputusername" class="col-sm-3 control-label">更新：</label>
		         <div  class="col-sm-9">
		              <input type="text" class="form-control" name="utime" value="<{$arr.utime}>" placeholder="更新时间" readonly>
				 </div>
		     </div>
		     <div class="form-group ">
		         <label for="exampleInputusername" class="col-sm-3 control-label">手机：</label>
		         <div  class="col-sm-9">
		             <input type="text" class="form-control" name="phone" value="<{$arr.phone}>" placeholder="手机" >
				 </div>
		     </div>
		     <div class="form-group ">
		         <label for="exampleInputusername" class="col-sm-3 control-label">电话：</label>
		         <div  class="col-sm-9">
		             <input type="text" class="form-control" name="tel" value="<{$arr.tel}>" placeholder="电话" >
				 </div>
		     </div>
		     <div class="form-group ">
		         <label for="exampleInputusername" class="col-sm-3 control-label">QQ：</label>
		         <div  class="col-sm-9">
		             <input type="text" class="form-control" name="qq" value="<{$arr.qq}>" placeholder="QQ" >
				 </div>
		     </div>
		     <div class="form-group ">
		          <label for="exampleInputusername" class="col-sm-3 control-label">地址：</label>
		          <div  class="col-sm-9">
		               <input type="text" class="form-control" name="adress" value="<{$arr.adress}>" placeholder="地址" >
				  </div>			  
		     </div>
		     <div class="form-group ">
		     	<label for="exampleInputusername" class="col-sm-3 control-label"></label>
		     	<p>* 这里的设置会影响主页和关于我们显示的内容</p>
		     </div>
		     <div class="form-group ">
		     	<label for="exampleInputusername" class="col-sm-3 control-label"></label>
		     	<button type="submit" class="btn btn-info" >提 交</button>
		     </div>			              		              
    			
		     </form>
		  </div>
		 <div class="col-sm-2">
            <div class="panel panel-primary">
             	<div class="panel-heading"><h3 class="panel-title">设置</h3></div>            
                <ul class="list-group">
                	<li class="list-group-item">基础设置</li>
			        <li class="list-group-item">
                  		<a href="__APP__/Admin/User" title="用户管理">用户管理</a>
                  	</li>
			        <li class="list-group-item">
			        	<a href="__APP__/Admin/Hr" title="诚聘人才">诚聘人才</a>
			        </li>
			        <li class="list-group-item">
			        	<a href="__APP__/Admin/Cate" title="分类管理">分类管理</a>
			        </li>

			        <li class="list-group-item">
			        	<a target="_blank" href="http://www.xiuliguanggao.com/zentao/www" title="需求管理">需求管理</a>
			        </li>
			    </ul>                        
            </div>          
        </div> 
</div>          


  
            
                      
 






                     
                       
                                                                      
                      
                      
                                          
                      
                    
      