<layout name="layout" />
 <ol class="breadcrumb">
	<span>所在位置：</span>
	<li><a href="__APP__/Admin/Course">课程管理</a></li>
	<li><a href="#">课程老师</a></li>		  	  
	<li class="active">上课学生</li>
</ol>  

<div class="container-fluid">
   	<div class="panel panel-default">		  
		  <div class="panel-body">
		  		<nav class="navbar navbar-default" role="navigation">
					  <div class="container-fluid">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <a class="navbar-brand" href="#"><{$arr.teacher}></a>
					    </div>
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						     				    					    					
					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			      			      
					      <ul class="nav navbar-nav navbar-right">		      	
					        <!-- <form action="__URL__/search " method="post" class="navbar-form navbar-left" role="search">
						        <div class="form-group">
						        	<div class="input-group">
								      <input type="text" name="search" class="form-control" value="<{$w.search}>" placeholder="老师、手机号">
								      <span class="input-group-btn">
								        <button type="submit" class="btn btn-default" type="button">Go!</button>
								      </span>
								    </div>			        					          
						        </div>				        
						    </form> -->
					        <li><a href="__URL__/add/techclassid/<{$arr.techclassid}>" >添加</a></li>
					      </ul>
					    </div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
					
					<ul class="list-group">
					<volist name='data' id='ar' empty="该课程还没有学生">
						<li class="list-group-item">
							<div class="row">
								 					  
								  <div class="col-md-2"><{$ar.student}></div>
								  <div class="col-md-2"><{$ar.sphone}></div>
								  <div class="col-md-7"></div>				 
								  <div class="col-md-1">
								  		<!-- Single button -->
										<div class="btn-group pull-right">
										  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
										    修改 <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu" role="menu">										    
										    <li><a href="__URL__/mod/id/<{$ar.id}>">修改</a></li>										    										    									    
										    <li class="divider"></li>
										    <li><a href="__URL__/del/id/<{$ar.id}>"onclick="return confirm('你确定要移除：<{$ar.student}>吗？')">删除</a></li>
										  </ul>
										</div>
								  </div>
							</div>					  		
					  	</li>
					</volist>					
					</ul>		  		  
		  </div><!--panel-body  -->
	</div><!-- panel panel-default-->      
  </div><!--container-fluid  -->