html, body, h1, h2, h3, h4,p, form, dl,dd,ul, li, ol{margin:0;padding:0;}
ul,ol{list-style:none;} img, fieldset {border:0}
.fix{*zoom:1;}
.fix:after, .fix:before {display:block;content:".";height:0;clear:both;overflow:hidden;visibility:hidden;}
body{background:#141414; font-size:12px; font-family:'ו',Arial, Helvetica, sans-serif;}
a{ text-decoration:none;}
.crumbs{padding:10px 0 10px 20px; overflow:hidden;*zoom:1; color:#9B9B9B;}
.crumbs a{color:#9B9B9B;}

.album-box{width:100%;margin:0 auto; text-align:center; color:white;}
.imglist{ width:2000em; position:absolute;white-space:nowrap;left:0;top:0;}
.imglist li{ float:left;width:80px; height:50px; margin-right:20px;display:inline;}
.imglist li div{width:80px; height:50px; overflow:hidden; opacity:0.6;filter:alpha(opacity=60); cursor:pointer;}
.imglist li.on div{width:80px; height:50px;border:2px solid #fff;opacity:1;filter:alpha(opacity=100); }


.album-con{
   
  
    position: relative;
   /*margin: 0 auto;
    width:960px;*/
    z-index: 2;
	

	width:980px;
	
	margin:0 auto;
	/*margin-bottom:20px;*/
	
	
	}
	
	
.thum-wrap{ margin:0 auto; overflow:hidden;height:55px; position:relative; z-index:888;}
.thum-pre-btn,.thum-next-btn{ position:absolute; width:14px; height:25px; background: url(../images/nav_thumbs2.png) no-repeat 0 0; top:50%; margin-top:-12.5px; cursor:pointer;z-index:999;}
.thum-pre-btn{ left:20px;}
.thum-next-btn{ right:20px; background-position:-14px 0;}


.thum-box{
	padding:5px 0px;
	background:#000; 
	bottom: 0;
    height:55px;
    left: 0;
    min-width: 780px;
    overflow: hidden;
  position: absolute;
    width: 100%;}


.pic-alt{padding:0; position:absolute;left:10px; bottom:20px; width:960px; text-align:center; font-size:12px;}
.album-top-bar{ position:relative; z-index:11;}
.pre-btn,.next-btn{  position: absolute; z-index:111; width:50%; height:100%; cursor:pointer; text-align:left; background:url(http://script.daoxila.com/root/img/pixel.gif);}
.pre-btn{left:0}
.next-btn{right:0}
.pre-btn i,.next-btn i{
	display:block;
	 visibility:hidden;
	
	 background:url(../images/arrows.png) no-repeat 0 -84px;
	 
	 position: absolute;
	 top:50%;
	
	 
	height: 84px;
   
    overflow: hidden;
  
    width: 84px;}
.pre-btn i{ left:20px;}
.next-btn i{ right:20px; background-position:0 0;}


#imgLoading{ background: url(../images/loading.gif) no-repeat scroll 0 0 transparent;
    height: 37px;
    left: 50%;
    margin: -19px 0 0 -19px;
    position: absolute;
    top: 50%;
    width: 37px;
}

.valin{
	width:980px;
	height:600px;
	
	display:table-cell;
	vertical-align:middle;
	
	position:relative;

	
}

.arcrum{margin:0 6px;color:#9B9B9B;}
.valin img{ /*vertical-align:middle; border:10px solid #fff;*/ padding:10px; background:#fff;}

.dn{ display:none;}
.slide-close{color: #9B9B9B;
    line-height:20px;
	height:23px;
    padding: 0 20px 0 28px; background:url(../images/slide-close2.png) no-repeat;float:right;margin-right:0px; margin-top: 0px;*margin-top: -10px;_margin-top: -10px;}
.order_btn{background-color: #919191; cursor: pointer;width:104px;height:23px; line-height: 20px; border:1px solid #797979;color: #fff; text-align: center; float: right;display: inline;}
.order_txt{ background-color: #919191; cursor: pointer;
    width:104px;height:20px; line-height: 20px; border:1px solid #797979;color: #fff; text-align: center; float: right;display: inline;
}
.lmr27{margin-right:240px;margin-top: 0px;*margin-top: -10px;_margin-top: -10px;padding-bottom:4px; }
.lmr3{margin-right: 3px;margin-top: 0px;*margin-top: -10px;_margin-top: -10px;padding-bottom:2px;}
.schedule-pop{display:none;position:absolute;left:492; *+left:492px; top:340px; z-index:1500; *zoom:1;z-index:600;padding: 20px;width:340px;height:120px;background:#fff;border:1px solid #dbdbdb;
box-shadow:0px 1px 2px #999;}

#scheForm{display:block;width:100%;height:100%;}

.schedule-pop p{ margin-top: 1px;line-height: 20px;color:#555;}
.schedule-pop p strong{float:left;font-weight:bold;color:#ff5f5f;}
.schedule-pop p i{float:left; display: inline; width:56px;}

.schedule-pop .inputBox{position:relative;margin-top:10px; color: #CCCCCC;}
.schedule-pop .inputBox i{line-height: 22px;}
.schedule-pop .inputBox label{position: absolute;top: 5px;left: 7px;}

.schedule-pop .inputBox .txt{margin-right:10px;width:168px;height:28px;border:1px solid #ddd; line-height:28px; text-indent:4px;}
.schedule-pop .inputBox .msg{position:relative;display:inline-block;*zoom:1;  padding-left: 18px;}
.schedule-pop .inputBox .msg em{display:block;overflow:hidden;position: absolute; top:6px;*top:4px; _top:5px;left:0;margin-right: 5px;width:12px;height:12px;}
.schedule-pop .def .txt{border:1px solid #ff4444;}
.schedule-pop .error .txt{border:1px solid #ff4444; text-indent:4px;}

.schedule-pop .error .msg{color:#ff4444;}
.schedule-pop .error .msg em{ position:absolute;top:-11px;width:12px;height:12px;background:url(../images/msg-ico.png) no-repeat 0 -12px;}
.schedule-pop .ok .msg em{position:absolute; top:-11px;left:0;background:url(../images/msg-ico.png) no-repeat 0 0;}
.schedule-pop .inputBox .btn{margin-right:10px;width:65px;height:26px;background:url(../images/btn_614.gif) no-repeat 0 0;border:none;cursor:pointer;}

#schedule-pop2{height:145px; font-size:12px;}
#schedule-pop2 .hd{height:20px;line-height:20px;font-size:14px;}
#schedule-pop2 .hd strong{width:259px;_width:229px;height:20px;overflow:hidden;margin-right:5px;text-overflow: ellipsis; white-space: nowrap;}
#schedule-pop2 .bd{padding-top:10px;}
#schedule-pop2 .bd span{font-weight:bold;color:#ff5f5f;}
#schedule-pop2 .bd span em{font-weight:bold;}

#close614_2{position:absolute;right:10px;top:10px;z-index:1600;width:18px;height:18px; background:url(../images/close_6.14.gif) no-repeat center center; cursor:pointer;}