<layout name="layout" />     
<!-- Page heading -->
	    <div class="page-head">
	      	<h2 class="pull-left"><i class="icon-user"></i> 用户-新增</h2>
						
	        <!-- Breadcrumb -->
	        <div class="bread-crumb pull-right">
	          <a href="index.html"><i class="icon-home"></i> 首页</a> 
	          <span class="divider">/</span> 
	          <a href="__URL__" class="bread-current"> 用户</a>
	          <span class="divider">/</span>  添加
	        </div>
	
	        <div class="clearfix"></div>

	    </div>
<!-- Page heading ends -->


	    <!-- Matter -->

	 <div class="matter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="widget-content">
                  <div class="padd">

                    <!-- Form starts.  -->
                     <form class="form-horizontal" role="form">
                              
                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Input Box</label>
                                  <div class="col-lg-8">
                                    <input type="text" class="form-control" placeholder="Input Box">
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Password</label>
                                  <div class="col-lg-8">
                                    <input type="password" class="form-control" placeholder="Password Box">
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Select Box</label>
                                  <div class="col-lg-8">
                                    <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                  </div>
                                </div>     

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">CLEditor</label>
                                  <div class="col-lg-8">
                                    <textarea class="cleditor" name="input"></textarea>
                                  </div>
                                </div> <hr />
                                <div class="form-group">
                                  <div class="col-lg-offset-1 col-lg-9">
                                   	<button type="button" class="btn btn-primary">Primary</button>                       
                                  </div>
                                </div>
                              </form>
                  </div>
                </div>
                 
              </div>  

            </div>

          </div>

        </div>

		<!-- Matter ends -->