<layout name="layout" />     
<!-- Page heading -->
	    <div class="page-head">
	      	<h2 class="pull-left"><i class="icon-home"></i> 管理员用户</h2>
						
	        <!-- Breadcrumb -->
	        <div class="bread-crumb pull-right">
	          <a href="index.html"><i class="icon-home"></i> 首页</a> 
	          <span class="divider">/</span> 用户
	        </div>
	
	        <div class="clearfix"></div>

	    </div>
<!-- Page heading ends -->

<!-- Matter -->
	  <div class="matter">
        <div class="container">
          <div class="row">
          	<div class="col-md-offset-7 col-md-4">
		           <form class="form-inline " action="__URL__/index" method="post">
						<div class="form-group">
							<input type="text" class="form-control" name="search" value="<{$search}>" placeholder="查询">
						</div>
							<button type="submit" class="btn btn-info"><i class="icon-search"> 查询</i></button>
							
			       </form>
		       </div>
		       <div class=" col-md-1">
		       		<a href="__URL__/add" type="button" class="btn btn-success"><i class="icon-plus"> 添加</i></a>	
		       </div>
	       </div>
          <div class="row">
         
            <div class="col-md-12">
            
              <div class="widget">                            
                <div class="widget-content medias">
                  
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th width=2% align="center" bgcolor="#ccc"><span class="uni"><input type='checkbox' value='check1' /></span></th>
                          <th width=15% align="center" bgcolor="#ccc">UserId</th>
                          <th width=10% align="center" bgcolor="#ccc">LoginName</th>
                          <th width=10% align="center" bgcolor="#ccc">FullName</th>                                                    
                          <th width=10% align="center" bgcolor="#ccc">MobilePhone</th>
                          <th width=5% align="center" bgcolor="#ccc">CityId</th>
                          <th width=15% align="center" bgcolor="#ccc">Control</th>
                        </tr>
                      </thead>
                      <tbody>
				<volist name='data' id='st' empty="没有数据">
                        <tr>
                          <td>                            
                            <span class="uni">
                              <input type='checkbox' value='check1' />
                            </span>
                          </td>
                          <td><{$st.userid}></td>
                          <td><{$st.loginname}></td>
                          <td><{$st.FullName}></td>
                          <td><{$st.MobilePhone}></td>
                          <td><{$st.cityid}></td>
                          <td>
                              <a href="__URL__/mod/id/<{$st.userid}>" class="btn  btn-default"><i class="icon-pencil"> 编辑</i> </a>
                              <a href="__URL__/del/id/<{$st.userid}>" class="btn  btn-danger" onclick="return confirm('你确定要删除？')">
                              		<i class="icon-remove"> 删除</i> 
                              </a>                        
                          </td>
                        </tr>
				</volist>
                      </tbody>
                    </table>

                    <div class="widget-foot">
                      	<div class="uni pull-left">
                      		<a type="button" href="#" class="btn btn-warning"> 批量排序</a>                      		
                      	</div>                 

                        <ul class="pagination pull-right">
                          <li><a href="#">Prev</a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">Next</a></li>
                        </ul>
                      
                      <div class="clearfix"></div> 

                    </div>

                </div>
              </div>  
              
            </div>
          </div>
        </div>
	</div>
	<!-- Matter ends -->