
<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>网站后台管理系统</title> 
	  <meta name="keywords" content="#" />
	  <meta name="description" content="#" />
	  <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  	  <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	  <import type="css" file="css.mac.bootstrap" />
	  <import type="css" file="css.mac.font-awesome" />
	  <import type="css" file="css.mac.jquery-ui" />
	  <import type="css" file="css.mac.fullcalendar" /> 
	  <import type="css" file="css.mac.prettyPhoto" />
	  <import type="css" file="css.mac.rateit" />  
	  <import type="css" file="css.mac.bootstrap-datetimepicker" />
	  <import type="css" file="css.mac.jquery-cleditor" />
	  <import type="css" file="css.mac.uniform.default" />
	  <import type="css" file="css.mac.bootstrap-switch" />
	  <import type="css" file="css.mac.style" />
	  <import type="css" file="css.mac.widgets" />
	  <style type="text/css">body{background-color: #fff;}</style>  
	  <link rel="shortcut icon" href="__IMAGES__/favicon.ico">
	</head>
	<body>
	
	<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">	  
	    <div class="conjtainer">	      
	      <div class="navbar-header">
			  <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span>菜单</span>
			  </button>			  
			  <a href="index.html" class="navbar-brand hidden-lg">首页</a>
			</div>
	      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         	
	    <ul class="nav navbar-nav pull-left">
	     <li class="dropdown pull-right"> 
	      <a data-toggle="dropdown" class="dropdown-toggle" > <i class="icon-retweet"> 切换平台</i>  :</a>	    
	     </li>
	    </ul>
	        <!-- Links -->
	        <ul class="nav navbar-nav pull-left">
	          <li class="dropdown pull-right">            
	            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
	              <{$_SESSION['prodid']|getProduct=###}> <b class="caret"></b>              
	            </a>
	            <ul class="dropdown-menu">
	              	<volist name='mume' id='st'>
					  	<li ><a  href="__APP__/Admin/WebInfo/changeProd/prodid/<{$st.prodid}>"><{$st.prodid|getProd=###}></a></li>			  				  
					</volist>
	            </ul>
	          </li>	          
	        </ul>
	        
	        <ul class="nav navbar-nav pull-right">
	          <li class="dropdown"> 
	          		<a  class="dropdown-toggle" href="#">
		              <i class="icon-user"> &nbsp; <{$_SESSION['realname']}></i>               
		            </a>
	          </li>
	          <li class="dropdown"> 
	          		<a  class="dropdown-toggle" href="__APP__/Admin">
		              <i class="icon-cogs"></i> 设置              
		            </a>
	          </li>
	           <li class="dropdown"> 
	          		<a  class="dropdown-toggle" href="__APP__/Admin/Login/logout" onclick="return confirm('你确定要退出登录吗？')">
		              <i class="icon-off">  退出 </i>              
		            </a>
	          </li>  
	        </ul>	        
	      </nav>	
	    </div>
	  </div>

	
	<!-- Main content starts -->	
	<div class="content">	
	  	<!-- Sidebar -->
	    <div class="sidebar">
	        <div class="sidebar-dropdown"><a href="#">导航</a></div>	
	        <!--- Sidebar navigation -->
	        <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
	        <ul id="nav">
	          <!-- Main menu with font awesome icon -->	
	          <li><a  target="_blank" href="http://www.xiuliguanggao.com/zentao/www"><i class="icon-credit-card"></i> 需求管理</a>	                    	          
	           <li class="has_sub"><a href="#"><i class="icon-shopping-cart"></i> 商品服务 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Admin/Cate">分类管理</a></li>
	              <li><a href="__APP__/Admin/Product">商品管理</a></li>	              
	            </ul>
	          </li>
	          <li class="has_sub"><a href="#"><i class="icon-gift"></i> 优惠促销 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Admin/Ad">广告管理</a></li>
	              <li><a href="__APP__/Admin/Activity">最新活动</a></li>	
	              <li><a href="__APP__/Admin/Policy">最新政策</a></li>	
	              <li><a href="__APP__/Admin/Article">文章资讯</a></li>	
	              <!--  <li><a href="__APP__/Admin/Voucher">抽奖活动</a></li>	
	              <li><a href="__APP__/Admin/Coupon">优惠券</a></li>              
	              <li><a href="#">线索管理</a></li>-->	              
	            </ul>
	          </li> 
	          <li class="has_sub"><a href="#"><i class="icon-group"></i> 人员管理 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="#">会员分类</a></li>
	              <li><a href="__APP__/Admin/Customer">客户管理</a></li>
	              <li><a href="__APP__/Admin/Staff">员工管理</a></li>
	              <li><a href="__APP__/Admin/Hr">招聘信息</a></li>
	              <!--  <li><a href="__APP__/Admin/Bill">挂账管理</a></li>
	              <li><a href="__APP__/Admin/Credit">征信查询</a></li>-->
	              
	            </ul>
	          </li> 
	          <!-- <li><a  href="__APP__/Admin/Dingdan"><i class="icon-money bgreen"></i> 订单管理</a>
	          <li class="has_sub"><a href="#"><i class="icon-phone"></i> 售后服务 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Admin/Bill">挂账管理</a></li>
	              <li><a href="#">维修申请</a></li>
	            </ul>
	          </li> 	          	 	          
	          <li class="has_sub"><a href="#"><i class="icon-wrench"></i> 车辆维修 <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="#">预约</a></li>
	              <li><a href="#">维修</a></li>	              
	            </ul>
	          </li> 
	           <li class="has_sub"><a href="#"><i class="icon-book"></i> 课程信息  <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="#">课程表</a></li>
	              <li><a href="#">开班</a></li>
	              <li><a href="#">排课</a></li>	              
	            </ul>
	          </li>	          	
	          <li class="has_sub"><a href="#"><i class="icon-cog"></i> 设置  <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
	            <ul>
	              <li><a href="__APP__/Admin/Index">系统信息</a></li>
	              <li><a href="__APP__/Admin/Link">友情链接</a></li>
	              <li><a href="__APP__/Admin/Dict">数据字典</a></li>
	              <li><a href="__APP__/Admin/Hr/fabu">招聘发布</a></li>
	              <li><a href="__APP__/Admin/User">用户管理</a></li>
	              <li><a href="__APP__/Admin/Setting/otable">表ID设计</a></li>	              
	            </ul>
	          </li> -->                              	          
	        </ul>
	    </div>
	
	    <!-- Sidebar ends -->
	<div class="mainbar">
      
	    

	
	