<layout name="layout" />
<switch name="_SESSION['isCLogin']">
		<case value="Anshun">
			<div class="container">	
				<volist name='arr' id='st' empty="没有数据">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title"><{$st.carid|getCarinfo=###}><span class="bage pull-right"><{$st.state}></span></h4>
						</div>
						<div class="panel-body">											        
							收车时间：<{$st.sdate}><br>
							<div class="col-xs-12 col-md-4">
								<div class="thumbnail" >
									<a href="__URL__/imgservice/id/<{$st.id}>" >
										<img data-src="holder.js/100%x180" src="__UPLOAD__<{$st.pathservice}><{$st.imgservice}>" alt="<{$st.imgservice}>"  height="180px">
									</a>
									<div class="caption">维修：<{$st.textservice}></div>
								</div>
							</div>
							<div class="col-xs-12 col-md-4">
								<div class="thumbnail" >
									<a href="__URL__/imgoil/id/<{$st.id}>" >
										<img data-src="holder.js/100%x180" src="__UPLOAD__<{$st.pathoil}><{$st.imgoil}>" alt="<{$st.imgoil}>"  height="180px">
									</a>
									<div class="caption">里程：<{$st.oilgauge}>&nbsp;油量：<{$st.oilgauge}></div>
								</div>
							</div>														
							<div class="btn-group pull-right">								
								<a href="__URL__/imgservice/id/<{$st.id}> " class="btn btn-warning btn-lg">拍照</a>
								<a href="__URL__/imgoil/id/<{$st.id}> " class="btn btn-primary btn-lg">维修</a>	
								<a href="__URL__/imgoil/id/<{$st.id}> " class="btn btn-success btn-lg">交车</a>															
							</div> 
						</div>
					</div>
				</volist>
			</div>	
		</case>				    
		<default />
			<div class="container"><br><br><br>
				<div class="modal-content">
			    	<div class="modal-header">				        、
				        <h4 class="modal-title" >登录</h4>
				    </div>
				    <div class="modal-body">
				      	<form action="__APP__/Anshun/Login/login" method="post" class="form-horizontal" role="form" >	      	
							<div class="form-group">
								<label for="short" class="col-sm-2 control-label">手机:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="phone" value="" placeholder="用户名">
								</div>
							</div>
							<div class="form-group">
								<label for="product" class="col-sm-2 control-label">密码:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" name="password" value="" placeholder="密码">
								</div>
							</div>
													
					</div>
					<div class="modal-footer">					          
					     <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button></form>
					</div>
			    </div><br><br><br><br><br>
			</div>
</switch>