<layout name="layout" />
<div class="container">	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">			 	
			 	<div class="panel-heading">
				    <h3 class="panel-title">收车:<{$arr.plateno}>
					    <div class="btn-group pull-right">
					    	<a href="__URL__/search/search/<{$arr.plateno}>" class="btn btn-warning btn-xs">返回</a>
					    </div>
				    </h3>
				</div>
			 	<div class="panel-body">
			 		<form action="__URL__/insert" method="post" enctype='multipart/form-data'  role="form">                    
	                     <input type="hidden" name="carid" value="<{$arr.id}>" />
	                     <input type="hidden" name="prodid" value='4' />
	                     <input type="hidden" name="textfront" value="车前:无明显伤痕" >
	                     <input type="hidden" name="textback" value="车后:无明显伤痕" >
					     <input type="hidden" name="textleft" value="左侧:无明显伤痕" >
					     <input type="hidden"  name="textright" value="右侧:无明显伤痕" >
					      
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">维修：</label>
					          <div  class="col-sm-5">
					            <input type="text" class="form-control" name="textservice" value="" placeholder="维修">
							  </div>
							  <div  class="col-sm-5">
							  	<input type="tel" class="form-control" name="phone" value="" placeholder="客户电话">
							  </div>
					      </div>
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">里程：</label>					          
							  <div  class="col-sm-10">
							  	<input type="number " class="form-control" name="odograph" value="" placeholder="里程数">
							  </div>
							  
					      </div>
					      <div class="form-group ">
					          <label for="exampleInputusername" class="col-sm-2 control-label">备注：</label>
					          <div  class="col-sm-10">
					            <input type="text" class="form-control" name="content" value="" placeholder="备注">
							  </div>
					      </div>
					      
					      <div class="form-group ">
					      	<label for="exampleInputusername" class="col-sm-2 control-label"></label>
					      	<div  class="col-sm-10">&nbsp;</div>
					      </div>
					      <div class="form-group ">
					        <button type="submit" class="btn btn-info btn-lg btn-block" >收 车</button>					         
					      </div>  
				   </form>	  
				</div>
			</div>
		</div>                
	</div>

</div>