<layout name="layout" />
<div class="panel panel-default">		  
	<div class="panel-body">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="__URL__/index">客户管理</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			      			      
				<ul class="nav navbar-nav navbar-right">		      	
					<form action="__URL__/search " method="post" class="navbar-form navbar-left" role="search">
						<div class="form-group">
						    <div class="input-group">
								<input type="text" name="search" class="form-control" value="<{$w.search}>" placeholder="姓名、手机号">
								<span class="input-group-btn">
								    <button type="submit" class="btn btn-default" type="button">查询</button>
								    <a href="__APP__/Admin/Credit" type="button" class="btn btn-info">添加</a>								    
								</span>
							</div>
										        					          
						 </div>				        
					</form>					
				</ul>
			</div>					  
		</nav>
		<empty name="data">			
			<div class="btn-group">
				<a href="__APP__/Admin/Credit/index/search/<{$w.search}>" class="btn btn-info">添加客户</a>																								    										    									    										    											
			</div>
		<else /> 		
			<ul class="list-group">
			<volist name='data' id='ar' empty="没有数据">
				<li class="list-group-item">
					<div class="row">								  
						<div class="col-md-2"><img alt="<{$ar.path}><{$ar.img}>" src="__UPLOAD__/<{$_SESSION['qz']}><{$ar.path}><{$ar.img}>" height="100px;"></div>								  	
						<div class="col-md-3"><{$ar.realname}>【<{$ar.type}>】</div>	
						<div class="col-md-2"><{$ar.phone}></div>							  
						<div class="col-md-2"><{$ar.state}></div>
						<div class="col-md-3">
							<div class="btn-group pull-right">
								<a href="__APP__/Admin/Order/add/customerid/<{$ar.tpid}>" class="btn btn-info">下单</a>
								<a href="__URL__/himg/id/<{$ar.wid}>" class="btn btn-info">传图</a>										    										    									    
								<a href="__URL__/mod/id/<{$ar.wid}>" class="btn btn-info">修改</a>										    										    									    										    											
							</div>
						</div>
					</div>					  		
				</li>
			</volist>					
			</ul>
		</empty>	
	</div>
</div>







              