<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="lray2q7QLH" />
    <title><{$_SESSION['Tuocai']['web']}></title>
    <meta name="keywords" content="<{$_SESSION['keywords']}>" />
	<meta name="description" content="<{$_SESSION['desc']}>" />
	<link rel="shortcut icon" href="favicon.ico"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <import type="css" file="Css.home" />    
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="__APP__/Tuocai"><span class="ico">
              <img alt="Brand" src="__IMAGES__/ico.jpg"  style="margin-top:-15px;height:70px;"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse ">
          <ul class="nav navbar-nav pull-right">           
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="#">
               		<span class="glyphicon glyphicon-book"> 课程导航</span><span class="caret"></span>
               </a>
               <ul class="dropdown-menu" role="menu">
                 <li ><a href="__APP__/Tuocai/Servicelist/index/cate/10">学前少儿</a></li>
                 <li class="divider"></li>
                 <li><a href="__APP__/Tuocai/Servicelist/index/cate/11">小学课程</a></li>
                 <li class="divider"></li>
                 <li><a href="__APP__/Tuocai/Servicelist/index/cate/12">中学课程</a></li>
                 <li class="divider"></li>
                 <li><a href="__APP__/Tuocai/Servicelist/index/cate/13">作业托管</a></li>
                 <li class="divider"></li>
                 <li><a href="__APP__/Tuocai/Servicelist/index/cate/14">兴趣拓展</a></li>
               </ul>
            </li>
            <li><a href="__APP__/Tuocai/Customer">
            	<span class="glyphicon glyphicon-user"> 师资力量</span> </a>
            </li>
            	<empty name="_SESSION['isCLogin']">
            	<li><a data-toggle="modal" href="#Login" class="pull-right" >登录</a></li>           
	          	<else />
	          		<li>
		          		<a href="__APP__/Tuocai/Customer/personal">
		          			<span class="glyphicon glyphicon-user"> <{$_SESSION['realname']}></span>
		          		</a>
	          		</li>  
	          </empty>
          </ul>                   
        </div>
      </div>
    </nav>		
    <div class="container">