<layout name="layout" />	
<div id="home">
	<div id="items">
		<div class="cont-area">
		      <div class="container banner-area">
		        <ul class="slides clearfix">
		          <li>
		            <h1><{$_SESSION['Xinda']['web']}></h1>
		            <h5>主营业务：<a href="http://www.xiuliguanggao.com/" title="主营业务" target="_blank">业务1、业务2</a></h5>
		            <br><br>
		            <div>
		              <a class="large-button" href="tel:18801043607">电话咨询</a>
		            </div>
		            <br><br>
		          </li>
		        </ul>
		      </div>
		 </div>
		 <div class="banner-btm-img"><img src="https://cdn.mailblast.io/assets/buildings-0a6a185ee753f3d1ebe524e823d607eeca456157112d59dbef7736bf686e851c.png" alt="Buildings" /></div>
	</div>
</div>


<div class="about-area text-center">
  	<div class="section-spacing about-top-area">
    	<div class="container">
      		<div class="top-float-img">
       		 	<div class="image-container">
       		 		<img src="https://cdn.mailblast.io/assets/rocket-dd7515a01eb528d82a9213ba38cc1f66f871088766fdac4d5e64d8dbadc58d37.png" alt="Rocket" />
       		 	</div>
      		</div>
       </div>
   </div>
</div>


<div class="slogan-area text-center">
  	<div class="section-spacing">
    	<div class="container">
      		<div style="margin-top: -7rem">
       			 <h1>主营业务</h1>
        			<h5>业务描述<a href="https://aws.amazon.com/ses/" title="Amazon SES" target="_blank">Simple Email Service</a></h5>
        			<h5>Save money and time without sacrificing deliverability.</h5>
      		</div>
      		<div class="divider_line"></div>
    	</div>
  	</div>
</div>

<div class="features-area text-center">
  <div class="section-spacing">
    <div class="container">
      <h1 class="text-center mb-5">推荐产品</h1>
    </div>

    <div class="container feature-section">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <h4>产品one</h4>
          <h5 class="text-center">产品one介绍</h5>
        </div>
        <div class="col-lg-7">
          <img class="img-fluid" src="__IMAGES__/1.jpg" alt="List" />
        </div>
      </div>
      <div class="divider_line"></div>
    </div>

    <div class="container feature-section">
      <div class="row align-items-center">
        <div class="col-lg-5 push-lg-7">
          <h4>Send Campaigns</h4>
          <h5 class="text-center">Create, test and schedule campaigns using an easy to use wizard.</h5>
        </div>
        <div class="col-lg-7 pull-lg-5">
          <img class="img-fluid" src="__IMAGES__/2.jpg" alt="Campaign" />
        </div>
      </div>
      <div class="divider_line"></div>
    </div>

   
	<div class="signup-area text-center">
	  <div class="section-spacing">
	    <div class="container feature-section">
	      <div class="row align-items-center">
	        <div class="col-lg-12">
	          <a class="btn btn-primary btn-lg " href="/users/sign_up">Start with Free Plan</a>
	          <p class="text-muted">XXX</p>          
	        </div>
	        <div class="divider_line"></div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="push"></div>
  </div>















